<template>
    <div id="comments" v-if="this.comments">
        <h4>{{bus.lang.comments}} ({{count}})</h4>
        <div class="send_block">
            <div class="comment" v-if="user">
                <div class="author">
                    <div class="img" :style="{background: (user.photoURL) ? 'url('+user.photoURL+') center/cover no-repeat' : 'none'}"></div>
                </div>
                <div class="comment_block">
                    <div class="comment_header">
                        {{user.name}}
                    </div>
                        <textarea :placeholder="bus.lang.your_comments" v-model="text"></textarea>
                        <button @click.prevent="send">{{bus.lang.send}}</button>
                </div>
            </div>
        </div>
        <template v-if="count">
            <div class="comment" v-for="comment in comments">
                <div class="author">
                    <div class="img" :style="{background: (comment.user.photoURL) ? 'url('+comment.user.photoURL+') center/cover no-repeat' : 'none'}"></div>
                </div>
                <div class="comment_block">
                    <div class="comment_header">
                        {{comment.user.name}} <span>{{bus.dateString(comment.created_at)}} {{bus.timeString(comment.created_at)}}</span>
                    </div>
                    <div class="comment_body">
                        <p>{{comment.text}}</p>
                    </div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        name: "CommentsBlock",
        data(){
            return{
                comments:null,
                user:{},
                text:"",
                bus:bus,
            }
        },
        computed:{
            count(){
                let Count = 0;
                if(this.comments && this.comments.length){
                    Count = this.comments.length;
                }
                return Count;
            }
        },
        mounted(){
            bus.$on('newPage', this.update);
            this.update();
        },
        methods:{
            update() {
                axios.post(location.href + "/comment")
                    .then((response) => {
                        this.comments = response.data.Coments;
                        this.user = response.data.user;
                    })
            },
            send(){
                axios.put(location.href + "/comment", {text:this.text})
                    .then((response)=>{
                        this.comments = response.data.Coments;
                        this.user = response.data.user;
                        this.text='';
                    })
            }
        }
    }
</script>

<style scoped>

</style>