<template>
    <section id="rightBlock">
        <FaqRightFirstBlock></FaqRightFirstBlock>
        <FagRightPopularBock></FagRightPopularBock>
        <FagRightPopularNew></FagRightPopularNew>
        <FagRightPopularCategory></FagRightPopularCategory>

    </section>
</template>

<script>
    export default {
        name: "FAQRightBlock"
    }
</script>

<style scoped>

</style>