<template>
    <div id="modal" @click="bus.$emit('closeAuthForm')">
        <div class="modal_block Auth" @click.stop="">
            <div class="modal_close" @click="bus.$emit('closeAuthForm')">X</div>
            <h5>{{dataResponse.langString.resetPassword}}</h5>
            <div class="input">
                <input type="text" placeholder="Email" v-model="email">
            </div>
            <div class="form_row center-block">
                <button @click="send">{{bus.lang.nextTisk}}</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ForgotPassword",
        props:['dataResponse'],
        data(){
            return {
                bus: window.bus,
                email: '',
            }
        },
        computed:{
            requestData(){
                return {
                    email : this.email,

                }
            }
        },
        methods:{
            send(){
                axios.post('/password/email', this.requestData)
                    .then(response=>{
                        if(response.data.ErrorCode == 1){
                            bus.$emit('closeAuthForm');
                            bus.$emit('notify', 'success', 'Успішно', 'На вашу електронну пошту відпралено повімлення для віддновлення доступу');
                        }
                        if(response.data.ErrorCode == 55){
                            bus.$emit('notify', 'warn', 'Помилка', 'Акаунт з данною електронною поштою не знайдено');
                        }
                        if(response.data.ErrorCode == 56){
                            _.forIn(response.data.messages, (value, key) => {
                                _.forEach(value, (v)=> bus.$emit('notify', 'warn', key, v));
                            });
                        }
                    })
                    .catch(reason => {
                        console.log(reason);
                    });
            }
        },
    }
</script>

<style scoped>

</style>