<template>
    <div id="modal" @click="bus.$emit('closeAuthForm')">
        <div class="modal_block haveError" @click.stop="">
            <div class="modal_close" @click="bus.$emit('closeAuthForm')">X</div>
            <h5>Повідомити про помилку{{dataResponse.langString.login}}</h5>
            <p class="before">Текст, який буде відправлено нашим редакторам:</p>
            <div class="blockError" v-html="bigString"></div>
            <p class="after">Ваш комментар (необязково):</p>
            <textarea placeholder="Ваш коментар" v-model="coment"></textarea>
            <button @click.prevent="send">Надіслати</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "haveError",
        props:['dataResponse'],
        data(){
          return{
              bus:bus,

              bigString:'',
              errorString:'',
              url:'',
              coment:'',
          }
        },
        computed:{
          bodyRequest() {
              return {
                  string: this.bigString,
                  url: this.url,
                  coment: this.coment,
              }
          }
        },
        created(){
            this.bigString = document.getSelection().anchorNode.parentNode.parentElement.innerText;
            this.errorString = document.getSelection().toString();
            this.url = document.getSelection().anchorNode.baseURI;
            let l = new RegExp('(' + this.errorString + ')','g');
            this.bigString = this.bigString.replace(l, '<b>'+ this.errorString+'</b>')
        },
        methods:{
            send(){
                axios.put('/sendError', this.bodyRequest)
                    .then( response => {
                        bus.$emit('notify', 'success', 'Успішно', 'Помилка відправлена нашим редакторам');
                        bus.$emit('closeAuthForm');
                    })
            }
        }
    }
</script>

<style scoped>

</style>