<template>
    <div class="top">
        <h1>Категории</h1>
        <breadcrumbs :breadcrumbs="data.breadcrumbs"></breadcrumbs>
    </div>
</template>

<script>
    export default {
        name: "HeaderCategory", //TODO
        props:['data']
    }
</script>

<style scoped>

</style>