<template>
    <div class="HelpDesk_content row">
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>{{bus.lang.name_helpdesk}}</td>
                    <td>{{bus.lang.subject_helpdesk}}</td>
                    <td>{{bus.lang.status_helpdesk}}</td>
                    <td>{{bus.lang.date_helpdesk}}</td>
                </tr>
            </thead>
            <tbody v-if="user">
                <tr v-for="item in list" @click="bus.$emit('goTo', '/help/'+item.id)">
                    <td>{{item.id}}</td>
                    <td><div class="img" :style="{background: item.user.photoURL ? 'url('+bus.absoluteURL(item.user.photoURL)+') center center / cover' : 'none'}"></div>{{item.user.name}}</td>
                    <td>{{item.subject}}</td>
                    <td>status</td>
                    <td>{{item.created_at}}</td>
                </tr>
            </tbody>
            <tbody v-else>
            <tr v-for="item in list" @click="bus.$emit('goTo', '/helpdesk/'+item.id)">
                <td>{{item.id}}</td>
                <td><div class="img" :style="{background:  item.user.photoURL ? 'url('+bus.absoluteURL(item.user.photoURL)+') center center / cover' : 'none'}"></div>{{item.user.name}}</td>
                <td>{{item.subject}}</td>
                <td>status</td>
                <td>{{item.created_at}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "HelpDeskBlock",
        props:['list', 'user'],
        data(){
            return{
                bus:bus,
            }
        }
    }
</script>

<style scoped>

</style>