<template>
    <div id="modal" @click="bus.$emit('closeAuthForm')">
        <div class="modal_block Auth" @click.stop="">
            <div class="modal_close" @click="bus.$emit('closeAuthForm')">X</div>
            <h5>{{dataResponse.langString.login}}</h5>
            <div class="input">
                <input type="text" placeholder="Email" v-model="email">
            </div>
            <div class="input">
                <input type="password" placeholder="Пароль" v-model="password">
            </div>
            <div class="form_row while">
                <p>{{bus.lang.socialLogin}}</p>
                <div class="auth_social">
                    <FaceBookSVG @click="authenticate('facebook')" class="facebook"></FaceBookSVG>
                    <GooglePlusSVG @click="authenticate('google')" class="google"></GooglePlusSVG>
                </div>
                <button @click="send">{{bus.lang.nextTisk}}</button>
            </div>
            <div class="form_row">
                <p class="other_btn" @click="bus.$emit('toRegistrationForm')">{{dataResponse.langString.registration}}</p>
                <p class="other_btn" @click="bus.$emit('toForgotPasswordForm')">{{dataResponse.langString.forgotPassword}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Login",
        props:['dataResponse'],
        data(){
            return {
                bus: window.bus,

                email: '',
                password: '',
            }
        },
        computed:{
            requestData(){
                return {
                    email : this.email,
                    password : this.password,
                }
            }
        },
        methods:{
            authenticate: function (provider) {
                this.$auth.authenticate(provider).then(() => bus.$emit('refresh'))
                    .catch((() => {
                        axios.post('/')
                            .then(response => {
                                if(response.data.user){
                                    bus.$emit('refresh');
                                    bus.$emit('closeAuthForm');
                                }
                            })
                            .catch(reason => {})
                }));
            },
            send(){
                axios.post('/login', this.requestData)
                    .then(response=>{
                        if(response.data.status == 'ok'){
                            bus.$emit('loginUser', response.data.user);
                        }else{
                            _.forIn(response.data.messages, (value, key) => {
                                bus.$emit('notify', 'warn', key, value);

                            });
                        }
                    })
                    .catch(reason => {
                        console.log(reason);
                    });
            },
        },
    }
</script>

<style scoped>

</style>