<template>
    <div id="modal" @click="bus.$emit('closeAuthForm')">
        <div class="modal_block Auth" @click.stop="">
            <div class="modal_close" @click="bus.$emit('closeAuthForm')">X</div>
            <h5>{{dataResponse.langString.login}}</h5>
            <!--<p @click="bus.$emit('toProfile')">профиль</p>-->
            <p @click="bus.$emit('toHelpDeskUser', '/help')">{{bus.lang.helpdesk_helpdesk}}</p>
            <p @click="bus.$emit('logout')">{{bus.lang.exit}}</p>


        </div>
    </div>
</template>

<script>
    export default {
        name: "PersonalArea",
        props:['dataResponse'],
        data(){
            return {
                bus: window.bus,
            }
        },
    }
</script>

<style scoped>

</style>