<template>
    <div id="modal" @click="bus.$emit('closeAuthForm')">
        <div class="modal_block Auth" @click.stop="">
            <div class="modal_close" @click="bus.$emit('closeAuthForm')">X</div>
            <div class="photo_row">
                <label class="photo" v-bind:style="{background: 'url('+img+') center/cover no-repeat'}">
                    <input type="file" @change="uploadImage($event)">
                </label>
            </div>
            <div class="input">
                <input type="text" :placeholder="bus.lang.fio" v-model="name">
                <i class="fas fa-user icon_input"></i>
            </div>
            <div class="input">
                <input type="text" :placeholder="bus.lang.email" v-model="email">
            </div>
            <div class="input">
                <input type="password" :placeholder="bus.lang.password" v-model="password">
            </div>
            <div class="input">
                <input type="password" :placeholder="bus.lang.password" v-model="passwordC">
            </div>
            <div class="form_row">
                <p>{{bus.lang.login_with}}</p>
                <div class="auth_social">
                    <!--<facebook-login class=""
                                    appId="1536464809986114"
                                    @login=""
                                    @logout=""
                                    loginLabel=""
                                    version="v3.0"
                                    @get-initial-status="">

                    </facebook-login>-->
                </div>
                <button @click="send">{{bus.lang.nextTisk}}</button>
            </div>
            <div class="form_row">
                <p class="other_btn" @click="bus.$emit('toLoginForm')">{{dataResponse.langString.login}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Profile",
        data(){
            return{
                bus:bus,
            }
        }
    }
</script>

<style scoped>

</style>