<template>
    <div id="modal" @click="bus.$emit('closeAuthForm')">
        <div class="modal_block Auth" @click.stop="">
            <div class="modal_close" @click="bus.$emit('closeAuthForm')">X</div>
            <div class="photo_row">
                <label class="photo" v-bind:style="{background: 'url('+img+') center/cover no-repeat'}">
                    <input type="file" @change="uploadImage($event)">
                </label>
            </div>
            <div class="input">
                <input type="text" :placeholder="bus.lang.fio" v-model="name">
            </div>
            <div class="input">
                <input type="text" :placeholder="bus.lang.email" v-model="email">
            </div>
            <div class="input">
                <input type="password" :placeholder="bus.lang.password" v-model="password">
            </div>
            <div class="input">
                <input type="password" :placeholder="bus.lang.password" v-model="passwordC">
            </div>
            <div class="form_row while">
                <p>{{bus.lang.socialLogin}}</p>
                <div class="auth_social">
                    <FaceBookSVG @click="authenticate('facebook')" class="facebook"></FaceBookSVG>
                    <GooglePlusSVG @click="authenticate('google')" class="google"></GooglePlusSVG>
                </div>
                <button @click="send">{{bus.lang.nextTisk}}</button>
            </div>
            <div class="form_row">
                <p class="other_btn" @click="bus.$emit('toLoginForm')">{{dataResponse.langString.login}}</p>
                <p class="other_btn" @click="bus.$emit('toForgotPasswordForm')">{{dataResponse.langString.forgotPassword}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Registration",
        props:['dataResponse'],
        data(){
            return{
                bus: window.bus,

                name:'',
                email:'',
                password:'',
                passwordC:'',
                img:'',
            }
        },
        computed:{
          requestData(){
              return {
                  name : this.name,
                  email : this.email,
                  password : this.password,
                  password_confirmation : this.passwordC,
                  img: this.img,
              }
          }
        },
        methods:{
            authenticate: function (provider) {
                this.$auth.authenticate(provider).then(() => bus.$emit('refresh'))
                    .catch((() => {
                        axios.post('/')
                            .then(response => {
                                if(response.data.user){
                                    bus.$emit('refresh');
                                    bus.$emit('closeAuthForm');
                                }
                            })
                            .catch(reason => {})
                    }));
            },
            send(){
                axios.post('/register',this.requestData)
                    .then(response=>{
                        if(response.data.status == 'ok'){
                            bus.$emit('regUser', response.data.user);
                        }else{
                            _.forIn(response.data.messages, (value, key) => {
                                bus.$emit('notify', 'warn', key, value);
                            });
                        }
                    })
                    .catch(reason => {
                        console.log(reason);
                    });
            },
            uploadImage(event) {
                let input = event.target.files;
                var file = input[input.length-1];
                var reader = new FileReader();
                reader.onloadend = () => {
                    /*t.img = reader.result;
                    t.$emit('changeAva', t.img);*/
                    axios.post('/uploadIMG',{ImageData: reader.result})
                        .then(response=>{
                          if(response.data.status){
                              this.img = response.data.url;
                          }
                        })
                        .catch(reason => {
                            console.log(reason);
                        });
                };
                reader.readAsDataURL(file);
            },
        }

    }
</script>

<style scoped>

</style>