<template>
    <section id="rightBlock">
        <interstingNowBlock v-if="!hasSetting || (hasSetting && setting.sidebarInterestingNow)"></interstingNowBlock>
        <hashTagBlock v-if="!hasSetting || (hasSetting && setting.sidebarPopularNow)">></hashTagBlock>
        <SendMaterial v-if="!hasSetting || (hasSetting && setting.sidebarButtonNewMaterial)"></SendMaterial>
        <SubscribeRightBlock v-if="!hasSetting || (hasSetting && setting.sidebarBlockPodpiska)"></SubscribeRightBlock>
        <NowInterestingBlock v-if="!hasSetting || (hasSetting && setting.sidebarComentNow)"></NowInterestingBlock>
    </section>
</template>

<script>
    export default {
        name: "RightBlock",
        props: ['setting'],
        computed:{
            hasSetting(){
                return !!this.setting;
            },
        }
    }
</script>

<style scoped>

</style>