<template>
    <div class="test">
        <div class="question" v-for="(question, numberQuestion) in questions" :key="numberQuestion">
            <label class="questionLabel">Питання #{{numberQuestion+1}}
                <input type="text" v-model="question.question"/>
            </label>
            <table>
                <thead>
                    <tr>
                        <td></td>
                        <td>Варіант відповіді</td>
                        <td>Числове значення</td>
                        <td>Дії</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(answer, numberAnswers) in question.answers" :key="numberAnswers">
                        <td class="">{{letters[numberAnswers]}}</td>
                        <td>
                            <input type="text" v-model="answer.title">
                        </td>
                        <td>
                            <input type="number" v-model="answer.value">
                        </td>
                        <td>
                            <button class='btn btn-primary' @click.prevent='down(question.answers ,numberAnswers)'>↓</button>
                            <button class='btn btn-primary' @click.prevent='up(question.answers ,numberAnswers)'>↑</button>
                            <button class='btn btn-danger' @click.prevent='del(question.answers ,numberAnswers)'>-</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class='btn btn-info' @click.prevent='addAnswers(question.answers)'>+</button>
            <button class='btn btn-primary' @click.prevent='down(questions ,numberQuestion)'>↓</button>
            <button class='btn btn-primary' @click.prevent='up(questions ,numberQuestion)'>↑</button>
            <button class='btn btn-danger' @click.prevent='del(questions ,numberQuestion)'>-</button>
        </div>
        <button class='btn btn-info' @click.prevent='addQuestion'>Додати запитаня</button>
        <input type="hidden" name="question" :value="requestBody">
    </div>
</template>

<script>
    export default {
        name: "testEditor",
        props:['value'],
        data(){
            return {
                letters:['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'],
                questions:[]
            }
        },
        computed: {
            requestBody() {
                return JSON.stringify(this.questions)
            }
        },
        created(){
            if(this.value){
                    this.questions = this.value;
            }
        },
        methods:{
            correctArr(_arr, _param){
                _arr[_param[1]] = _arr.splice(_param[0],1, _arr[_param[1]])[0]
            },
            del(row,key){
                if(confirm("Ви впевнні?")){
                    row.splice(key, 1);
                }
            },

            up(row,key){

                if(key>0) {
                    this.correctArr(row, [key, key-1]);
                }
            },
            down(row,key){
                if(key+1<row.length) {
                    this.correctArr(row, [key, key+1]);
                }
            },
            addAnswers(row){
                row.push( {
                    title:'',
                    value:0,
                });
            },
            addQuestion(){
                this.questions.push({
                    question:'',
                    answers:[
                        {
                            title:'',
                            value:0,
                        }
                    ],
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    *{
        box-sizing: border-box;
    }
    table{
        width: 100%;
    }
    .question{
        border: 2px solid #3c8dbc;
        border-radius: 3px;
        padding: 10px 15px;
        margin: 10px 0;
        &Label{
            font-size: 16px;
            display: block;
            input{
                display: block;
                width: 100%;
                font-size: 14px;
                font-weight: normal;
            }
        }
        tbody{
            td{
                padding: 5px;
                border: 1px dashed rgba(66, 206, 255, 0.53);
                input{
                    width: 100%;
                }
            }
        }
    }
    .btn-info{
        margin: 1% 0;
    }
    .upper{
        text-transform: uppercase;
    }
</style>