<template>
    <div class="card card-big" v-bind:style="{background: (content.main_img) ? 'url('+content.main_img+') center/cover no-repeat' : 'none'}">
        <!--<div class="img"><img src="/img/img1.png" alt=""></div>-->
        <div class="block">
            <div class="r"><span class="author">nick1</span><span class="date">{{dateString}}</span></div>
            <div class="title" v-on:click="goTo">{{content.title}}</div>
            <div class="description" v-html="content.contentShort"
                 v-on:click="goTo"></div>
            <div class="buttons black">
                <SocialButtons :social="content.social"></SocialButtons>
                <CountButtons :counts="content.counts" ></CountButtons>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BlogCardBig",
        props:['content'],
        data(){
            return{
                bus: bus,
            }
        },
        methods:{
            goTo(){
                this.bus.$emit('goTo', this.content.routeURL);
            }
        },
        computed:{
            dateString:function(){
                return this.bus.dateString(this.content.created_at);
            },
        }
    }
</script>

<style scoped>

</style>