<template>
<div class="card">
    <div class="img" v-bind:style="{background: (content.main_img) ? 'url('+content.main_img+') center/cover no-repeat' : 'none'}"
         v-on:click="goTo"></div>
    <div class="block">
        <div class="date">{{dateString}}</div>
        <div class="title" v-on:click="goTo">{{content.title}}</div>
        <div class="description" v-html="content.contentShort"
             v-on:click="goTo"></div>
        <div class="buttons">
            <SocialButtons :social="content.social"></SocialButtons>
            <CountButtons :counts="content.counts" ></CountButtons>
            <button v-bind:href="content.routeURL" v-on:click="goTo()">{{bus.lang.read}}</button>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        props:['content'],
        data(){
          return{
              bus:bus,
          }
        },
        methods:{
            goTo(){
                window.bus.$emit('goTo', this.content.routeURL);
            }
        },
        computed:{
            dateString:function(){
                return bus.dateString(this.content.created_at);
            },
        }
    }
</script>