<template>
    <div class="card">
        <SocialButtons :social="content.social"></SocialButtons>
        <div class="img" v-bind:style="{background: (content.main_img) ? 'url('+content.main_img+') center/cover no-repeat' : 'none'}"
             v-on:click="goTo">
            <div class="date">
                <p class="number">{{dateNum}}</p>
                <p class="mounth">{{dateMounth}}</p>
            </div>
        </div>
        <div class="block">
            <div class="date">{{dateString}}</div>
            <div class="title" v-on:click="goTo">{{content.title}}</div>
            <div class="info">
                <div class="info_block">
                    <ClockSVG></ClockSVG>
                    <p> {{timeHHmm(content.time_start)}} - {{timeHHmm(content.time_end)}}</p>
                </div>
                <div class="info_block">
                    <Location></Location>
                    <p> {{content.location}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['content'],
        data(){
            return{
                bus: bus,
            }
        },
        methods:{
            goTo(){
                window.bus.$emit('goTo', this.content.routeURL);
            },
            timeHHmm(time){
                return time.slice(0,5);
            }
        },
        computed:{
            dateString:function(){
                return bus.dateString(this.content.created_at);
            },
            dateNum:function () {
                let date = new Date(this.content.date);
                let r = date.getDate();
                if (r.toString().length < 2){
                    r = "0" + r;
                }
                return r;
            },
            dateMounth:function () {
                let date = new Date(this.content.date);
                let r = date.getMonth()+1;
                if (r.toString().length < 2){
                    r = "0" + r;
                }
                return r;
            }
        }
    }
</script>