<template>
    <div class="card">
        <div class="left_block">
            <div class="img" v-bind:style="{background: (content.main_img) ? 'url('+content.main_img+') center/cover no-repeat' : 'none'}"
                 v-on:click="goTo"></div>

            <div class="like">
                <Like :like="content.counts.like"></Like>
                <p>{{content.counts.like.count}}</p>
            </div>
        </div>
        <div class="block">

            <div class="title" v-on:click="goTo">{{content.title}}</div>
            <div class="description" v-html="content.contentShort"
                 v-on:click="goTo"></div>
            <div class="buttons">

                <div class="counts">
                    <div class="name">{{content.author ? content.author.name: ''}}</div>
                    <div class="date">{{dateString}}</div>
                    <div class="like">
                        <Like :like="content.counts.like"></Like>
                        <p>{{content.counts.like.count}}</p>
                    </div>
                    <div class="coment">
                        <Coment></Coment>
                        <p class="disqus-comment-count" :data-disqus-url="content.counts.coment"></p>
                    </div>
                    <div class="see">
                        <See></See>
                        <p>{{content.counts.see}}</p>
                    </div>
                </div>
                <button v-bind:href="content.routeURL" v-on:click="goTo">{{bus.lang.read}}</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ListCard",
        props:['content'],
        data(){
            return{
                bus:bus,
            }
        },
        methods:{
            goTo(){
                window.bus.$emit('goTo', this.content.routeURL);
            }
        },
        computed:{
            dateString:function(){
                return bus.dateString(this.content.created_at);
            },
        }
    }
</script>

<style scoped>

</style>