<template>
    <div class="card">
        <div class="block">
            <div class="title" v-on:click="goTo">{{content.title}}</div>
            <div class="buttons">
                <div class="name">{{content.author ? content.author.name: ''}}</div>
                <CountButtons :counts="content.counts" ></CountButtons>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "microCard",
        props:['content'],
        data(){
            return{
                bus:bus,
            }
        },
        methods:{
            goTo(){
                window.bus.$emit('goTo', this.content.routeURL);
            }
        },
    }
</script>

<style scoped>

</style>