<template>
    <div class="card card-big" v-bind:style="{background: (content.main_img) ? 'url('+content.main_img+') center/cover no-repeat' : 'none'}">
        <div class="block">
            <div class="title" v-on:click="goTo">{{content.title}}</div>
            <div class="description" v-html="content.contentShort"
                 v-on:click="goTo"></div>
            <div class="buttons">
                <SocialButtons :social="content.social"></SocialButtons>
                <CountButtons :counts="content.counts" ></CountButtons>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NewsCardBig",
        props:['content'],
        data(){
            return{
                bus:bus,
            }
        },
        methods:{
            goTo(){
                window.bus.$emit('goTo', this.content.routeURL);
            }
        },
    }
</script>

<style scoped>

</style>