<template>
    <div class="card" @click="bus.$emit('goTo', coment.commentable.routeURL)">
        <div class="text">
            {{coment.commentable.title || coment.commentable.data.nameOrganization}}

        </div>
        <div class="card-row">
            <div class="name">{{coment.commentable.user ? coment.commentable.user.name : ''}}</div>
            <!--<div class="num">5</div>-->
            <div class="min">{{fromNow}}</div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NowInterestingCard",
        props:['coment'],
        data(){
          return{
              bus:bus,
          }
        },
        computed:{
            fromNow(){
                return moment(this.coment.created_at).fromNow();
            }
        }

    }
</script>

<style scoped>

</style>