<template>
    <div class="card">
        <div class="row-card">
            <div class="left">
                <div class="img">
                    <div class="img" v-bind:style="{background: (content.main_img) ? 'url('+content.main_img+') center/cover no-repeat' : 'none'}"
                         v-on:click="goTo"></div>
                    <p class="name">{{content.author ? content.author.name: ''}}</p>
                </div>
                <SocialButtons :social="content.social"></SocialButtons>
            </div>
            <div class="block">
                <div class="date">{{dateString}}</div>
                <div class="title" v-on:click="goTo">{{content.title}}</div>
                <div class="description" v-html="content.contentShort"
                     v-on:click="goTo"></div>
            </div>
        </div>
        <div class="row-card">
            <CountButtons :counts="content.counts" ></CountButtons>
            <button v-bind:href="content.routeURL" v-on:click="goTo">{{bus.lang.read}}</button>
        </div>
    </div>
</template>

<script>
    export default {
        props:['content'],
        data(){
            return{
                bus:bus,
            }
        },
        mounted() {

        },
        methods:{
            goTo(){
                window.bus.$emit('goTo', this.content.routeURL);
            }
        },
        computed:{
            dateString:function(){
                return bus.dateString(this.content.created_at);
            },
        }
    }
</script>