<template>
    <table class='customElement'>
    <tr>
        <th>Назва</th>
        <th style='width: 130px'>Дії</th>
        </tr>
    <tr v-for='(row, key) in array' :key='row.element'>
        <td>{{row.name}} <input type='text' :name='"form[" + key + "][title]"' v-model='row.title'></td>
        <td>
            <button style='margin: 1%' class='btn btn-danger' @click.prevent='del(row,key)'>-</button>
            <button style='margin: 1%' class='btn btn-primary' @click.prevent='up(row,key)'>↑</button>
            <button style='margin: 1%' class='btn btn-primary' @click.prevent='down(row,key)'>↓</button>
            </td>
        </tr>
    <tr>
        <td></td>
        <td><button style='margin: 1%' class='btn btn-info' @click.prevent='add'>Добавити</button></td>
        <td></td>
        </tr>
    </table>
</template>

<script>
    export default {
        name: "PodCategtoriiAdmin",
        props: ['datajson'],
        data () {
            return {
                array:[],
            }
        },
        mounted() {
            if(this.datajson){
                _.forEach(this.datajson,(item)=>{
                    this.array.push({
                        title: item.title,
                    });
                });
            }
        },
        methods: {
            correctArr(_arr, _param){
                _arr[_param[1]] = _arr.splice(_param[0],1, _arr[_param[1]])[0]
            },
            del(row,key){
                this.array.splice(key, 1);
            },

            up(row,key){
                if(key>0) {
                    this.correctArr(this.array, [key, key-1]);
                }
            },
            down(row,key){
                if(key+1<this.array.length) {
                    this.correctArr(this.array, [key, key+1]);
                }
            },
            add(){
                this.array.push({
                    title: '',
                });
            }
        },
    }
</script>

<style scoped lang="scss">
    *{
        box-sizing: border-box;
    }
    th{
        text-align: center;
    }
    td{
        padding: 10px 3px;
    }
    input{
        width: 300px;
    }
</style>