<template>
    <footer>
        <div class="row jc-sb">
            <div class="footer-logo">
                <div class="img">
                    <img src="/img/big-logo.png" alt="">
                </div>
                <SocialButtons class="black" :social="social"></SocialButtons>
            </div>
            <div class="footer-nav jc-sa">
                <div v-for="col in BottomMenu" class="col">
                    <a v-for="menu in col" v-bind:href="menu.routeURL" @click.prevent="goTo(menu.routeURL)">{{menu.title}}</a>
                </div>
            </div>
        </div>
        <p class="copyright">© 2017 Autism.ua | Всі права захищені</p>
    </footer>
</template>
<script>
    export default {
        props:['dataResponse'],
        data:()=>{
          return {
              social:{
                  email:"mailto:?subject=&body=http%3A%2F%2Fautism",
                  facebook:"https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fautism",
                  viber:"viber://forward?text=%20http%3A%2F%2Fautism",
                  whatsapp:"whatsapp://send?text=%20http%3A%2F%2Fautism",
              }
          }
        },
        mounted() {
            console.log(this.dataResponse);
            console.log('Component mounted.')
        },
        computed:{
            BottomMenu(){
                return bus.toCol(this.dataResponse.menu.Bottom, 5);
            },
        },
        methods:{
            goTo(url){
                window.bus.$emit('goTo', url);
            }
        }
    }
</script>