<template>
    <div id="header" @touchstart.stop @click.stop>
        <div class="row jc-sb">
            <div class="logo">
                <a v-on:click="goTo('/')">
                    <img src="/img/logo.gif" alt="">
                </a>
            </div>
            <div class="search">

                <div class="autocomp">
                    <input type="text" v-model="q" :placeholder="bus.lang.search" @blur="blur">
                    <div class="ssearch" v-if="q">
                        <p class="it" v-for="item in items" @click="goTo(item.routeURL)">{{item.title}}</p>
                    </div>
                </div>
                <Search></Search>
            </div>
            <div class="right">
                <a href="#" class="langSelection" @click.prevent="dropLangList">{{langList[selectedLang]}}</a>
                <ul class="langList" :class="(dropLang) ? 'active' : ''">
                   <li v-for="(title, lang) in langList" @click="changeLang(lang)" v-if="selectedLang!=lang">{{title}}</li>
                </ul>
                <a href="#" v-on:click.prevent="changeStyle">
                    <img src="/img/toogle.style.png" alt="">
                </a>
                <a href="#" v-if="!user" @click.prevent="bus.$emit('toLoginForm')">{{dataResponse.langString.btn_singin_singup}}
                    <Profile></Profile>
                </a>
                <a href="#" v-if="user" @click.prevent="bus.$emit('toPersonalArea')">{{bus.lang.personalArea}}
                    <Profile></Profile>
                </a>
                <a href="#" @click.prevent="bus.$emit('goTo', '/blagodiynist')">{{bus.lang.charity}}
                    <Donate></Donate>
                </a>
                <a href="#" @click.prevent="bus.$emit('goTo', '/spivdruznist')">{{bus.lang.charity2}}
                    <Friendship></Friendship>
                </a>

            </div>
        </div>
        <div class="row-without-with">
            <div class="row jc-c">
              <Menu v-on:click="dropdown_menu"></Menu>
                <div class="dropdown_menu_container" v-bind:class="(dropdown_menu_container)?'active':''">
                    <div class="col" v-for="col in LeftMenu">
                        <template  v-for="menuL in col">
                            <a  v-if="menuL.children.length==0" v-bind:href="menuL.routeURL" @click.prevent="goTo(menuL.routeURL)">{{menuL.title}}</a>
                            <p v-else v-on:click="drop($event)">{{menuL.title}} <span class="icon">▲</span>
                                <span class="drop_down">
                                    <a v-for="cMenu in menuL.children" v-bind:href="cMenu.routeURL" @click.prevent="goTo(cMenu.routeURL)">{{cMenu.title}}</a>
                                </span>
                            </p>
                        </template>
                    </div>
                </div>
                <ul>
                    <li v-for="menu in dataResponse.menu.Top">
                        <a v-if="menu.children.length==0" v-bind:href="menu.routeURL" @click.prevent="goTo(menu.routeURL)">{{menu.title}}</a>
                        <a v-else v-bind:href="menu.routeURL" v-on:click.prevent="dropTopMenu(bus.t(menu.title))">{{menu.title}}<span class="icon">▲</span></a>
                    </li>
                </ul>
                <div v-for="(list, i) in TopMenuSubList" class="dropTopMenu" v-bind:class="(showTopMenu == i)?'active':''">
                    <div class="col" v-for="col in list">
                        <a v-for="menu in col" v-bind:href="menu.routeURL" @click.prevent="goTo(menu.routeURL)">{{menu.title}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile_bottom_menu">
            <Menu v-on:click="dropdown_menu"></Menu>
            <div class="dropdown_menu_container" v-bind:class="(dropdown_menu_container)?'active':''">
                <div class="col" v-for="col in LeftMenu">
                    <template  v-for="menuL in col">
                        <a v-if="menuL.children.length==0" v-bind:href="menuL.routeURL" @click.prevent="goTo(menuL.routeURL)">{{menuL.title}}</a>
                        <p v-else v-on:click="drop($event)">{{menuL.title}} <span class="icon">▲</span>
                            <span class="drop_down">
                                <a v-for="cMenu in menuL.children" v-bind:href="cMenu.routeURL" @click.prevent="goTo(cMenu.routeURL)">{{cMenu.title}}</a>
                            </span>
                        </p>
                    </template>
                </div>
            </div>
            <a v-on:click="back">
                <ArrowDown></ArrowDown>
            </a>
            <div class="center_menu">
                <p v-on:click.prevent="dropCenterMenu">Послуги<span class="icon">▲</span></p>
                <ul class="drop_down_center" v-bind:class="(dropcenter_menu_container)?'active':''">
                    <li @click="goTo('/cabinets')">{{bus.lang.consultation}}</li>
                    <li @click="goTo('/category/documents')">{{bus.lang.documents}}</li>
                    <li>{{bus.lang.tests}}</li>
                    <li @click="goTo('/category/book')">{{bus.lang.library}}</li>
                    <li @click="goTo('/servises')">{{bus.lang.servises}}  <!--<span class="icon">▲</span>  v-on:click.prevent="dropCenterMenuNext"-->
                        <!--<ul class="drop_down_center" v-bind:class="(dropcenter_menu_container_next)?'active':''">
                            <li>Консультация</li>
                            <li>Документы</li>
                            <li>Тесты</li>
                            <li>Библиотека</li>
                            <li>Услуги</li>
                        </ul>-->
                    </li>
                </ul>
            </div>
            <a href="#"><Donate></Donate></a>
            <a href="#"><Profile></Profile></a>
            <a href="#"><Mail></Mail></a>
        </div>
    </div>
</template>

<script>

    export default {
        props:['dataResponse', 'user'],
        data:()=>{
            return{
                dropdown_menu_container:false,
                showTopMenu:'',
                dropcenter_menu_container:false,
                dropcenter_menu_container_next:false,
                langList:{uk:'Укр', ru:'Рус', en:'Eng'},
                selectedLang:'uk',
                dropLang:false,
                bus:window.bus,

                q:'',
                items:[],
            }
        },
        watch:{
          q(newVal, old){
              console.log(newVal);
              axios.post('/search', {q:this.q})
                  .then(response => {
                  this.items = response.data;
              })
          }
        },
        computed:{
            LeftMenu(){
                return bus.toCol(this.dataResponse.menu.Left, 4);
            },
            TopMenuSubList:function(){
                let ar={};
                this.dataResponse.menu.Top.forEach(function(m, i) {
                    if(m.children.length>0){
                        ar[bus.t(m.title)] = bus.toCol(m.children);
                    }
                });
                return ar;
            },

        },
        methods:{
            blur(){
                setTimeout(()=>this.items = [], 700)

            },
            changeStyle(){
                document.body.classList.toggle('black');
            },
            drop(el){
              el.target.classList.toggle('drop');
            },
            dropdown_menu(){
                this.dropdown_menu_container = !this.dropdown_menu_container;
                this.showTopMenu = '';
                this.dropcenter_menu_container = false;
                this.dropLang = false;
            },
            dropLangList(){
                this.dropLang = !this.dropLang;
            },
            changeLang(lang){
                this.selectedLang = lang;
                this.dropLang = false;
                axios.post('/changeLang', {lang:lang}).then(()=>{
                    this.bus.$emit('refresh');
                });
            },
            dropTopMenu(e){
                if(this.showTopMenu==e){
                    this.showTopMenu = '';
                }else{
                    this.showTopMenu = e;
                }
                this.dropdown_menu_container = false;
                this.dropcenter_menu_container = false;
                this.dropLang = false;
            },
            dropCenterMenu(){
                this.dropcenter_menu_container = !this.dropcenter_menu_container;
                this.showTopMenu = '';
                this.dropdown_menu_container = false;
                this.dropLang = false;
            },
            dropCenterMenuNext(){
                this.dropcenter_menu_container_next = !this.dropcenter_menu_container_next;
            },
            goTo(url){
                    window.bus.$emit('goTo', url);
                    this.items = [];
                    this.q = '';
            },
            back(){
                window.history.go(-1);
            },
            hideSubMenu(){
                this.dropdown_menu_container = false;
                this.dropcenter_menu_container = false;
                this.dropcenter_menu_container_next = false;
                this.showTopMenu = '';
                this.dropLang = false;
            },
            touchstart(){
                this.hideSubMenu()
            }
        },
        mounted(){
           bus.$on('goTo', this.hideSubMenu);
           bus.$on('refresh', this.hideSubMenu);
           bus.$on('touchstart', this.touchstart);
           if(this.dataResponse.session.lang){
               this.selectedLang = this.dataResponse.session.lang;
           }
        }
    }
</script>

<style scoped lang="scss">
    .autocomp{
        width: 100%;
        position: relative;
        .ssearch{
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: 200;
            background: #fff;
            color: #000;
            box-shadow: 0 3px 5px -1px #000;
            .it{
               padding: 5px 10px;
                &:hover{
                    background: #8c506f;
                    color: #fff;
                }

            }
        }
    }
</style>