<template>
    <svg version="1.1" class="document" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 490.7 512" xml:space="preserve">
        <g><g><path d="M302.3,0H20.2C9,0,0,9,0,20.2v471.1C0,502.7,9.3,512,20.7,512h342.6c11.4,0,20.7-9.3,20.7-20.7V81.7 c0-3.3-1.3-6.5-3.7-8.8L311.2,3.7C308.8,1.3,305.6,0,302.3,0z M330.6,53.3L330.6,53.3c7.9,7.9,2.3,21.4-8.8,21.4h0 c-6.9,0-12.5-5.6-12.5-12.5v0C309.3,51.1,322.8,45.5,330.6,53.3z M21.3,470V41.5c0-11.2,9-20.2,20.2-20.2h234 c6.9,0,12.5,5.6,12.5,12.5v49.7c0,6.9,5.6,12.5,12.5,12.5h49.7c6.9,0,12.5,5.6,12.5,12.5V470c0,11.4-9.3,20.7-20.7,20.7H42 C30.6,490.7,21.3,481.4,21.3,470z"/>
            <path d="M309.3,373.3h-63.7c-5.3,0-10,3.7-10.8,8.9c-1.1,6.7,4.1,12.5,10.6,12.5H309c5.3,0,10-3.7,10.8-8.9 C321,379.1,315.8,373.3,309.3,373.3z"/>
            <path d="M309.3,192H74.9c-5.3,0-10,3.7-10.8,8.9c-1.1,6.7,4.1,12.5,10.6,12.5l0,0H309c5.3,0,10-3.7,10.8-8.9 C321,197.8,315.8,192,309.3,192z"/>
            <path d="M309.3,256H74.9c-5.3,0-10,3.7-10.8,8.9c-1.1,6.7,4.1,12.5,10.6,12.5H309c5.3,0,10-3.7,10.8-8.9 C321,261.8,315.8,256,309.3,256z"/>
            <path d="M74.6,149.3h117c5.3,0,10-3.7,10.8-8.9c1.1-6.7-4.1-12.5-10.6-12.5h-117c-5.3,0-10,3.7-10.8,8.9 C62.9,143.5,68.1,149.3,74.6,149.3z"/>
            <path class="st0" d="M117.3,320C87.8,320,64,343.9,64,373.4c0,16.8,7.9,32.5,21.3,42.6v53.3l32-10.7l32,10.7V416 c23.6-17.7,28.3-51.1,10.6-74.7C149.8,327.9,134.1,320,117.3,320z M128,439.7l-3.9-1.3l-6.7-2.3l-6.8,2.3l-3.9,1.3v-14.1 c3.5,0.7,7.1,1.1,10.7,1.1s7.2-0.4,10.7-1.1L128,439.7L128,439.7z M117.3,405.3c-18,0-32.5-14.8-32-32.9 c0.5-16.8,14.3-30.6,31.1-31.1c18.1-0.5,32.9,14,32.9,32C149.3,391,135,405.3,117.3,405.3L117.3,405.3z"/>
            <path class="st0" d="M490.6,128c0-24.3-20.3-43.9-44.9-42.6c-22.8,1.2-40.5,20.5-40.5,43.3V416h13.2l-13.1,46.2l42.7,28.4 l42.7-28.4L477.4,416h13.3L490.6,128L490.6,128z M426.6,128c0-12,9.9-21.7,22-21.3c11.4,0.3,20.6,10.4,20.6,21.8v266.2h-42.7V128 H426.6z M465.8,453.1L448,465l-17.9-11.9l10.6-37.1h14.5L465.8,453.1z"/>
            <path class="st0" d="M117.3,362.7c-6.6,0-11.8,5.9-10.5,12.7c0.8,4.3,4.2,7.7,8.5,8.5c6.8,1.3,12.7-3.9,12.7-10.5l0,0 C128,367.5,123.2,362.7,117.3,362.7z"/></g></g></svg>
</template>