<template>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 93 93" style=" enable-background:new 0 0 93 93;" xml:space="preserve"><g class="donate"><g><g><path class="st10" d="M46.5,3L46.5,3C70.4,3.1,89.9,22.6,90,46.5C90,70.5,70.5,90,46.5,90S3,70.5,3,46.5C3,22.5,22.5,3,46.5,3 M46.5,0
                            C20.8,0,0,20.8,0,46.5S20.8,93,46.5,93S93,72.2,93,46.5C92.9,20.8,72.2,0.1,46.5,0L46.5,0z"/></g><path class="st0" d="M55.2,52.6c0.5,0,0.9-0.2,1.2-0.6l0.7-1c0.5-0.4,1-0.8,1.6-1.2c4.2-3.1,7.9-5.9,9.9-10.6
                        c2.7-6.6-0.4-14.1-7-16.8c-3.3-1.4-7-1.3-10.2,0.2l-4.8,2.2l-4.8-2.2c-4.8-2.2-10.5-1.2-14.3,2.5c-3.9,3.6-5,9.3-2.9,14.1
                        c0.9,2.1,2.1,3.9,3.7,5.5L15.4,57.8c-0.5,0.6-0.5,1.4,0,2l12.9,12.6c0.3,0.3,0.6,0.4,1,0.4c0.4,0,0.7-0.1,1-0.4l6.8-6.8l22.8-0.3
                        c0.4,0,0.8-0.2,1.1-0.5c7.4-8.4,16.3-18.8,16.7-20.5c0.2-1.2,0-2.5-0.7-3.5c-0.9-1.3-2.2-2.2-3.7-2.5h-0.4c-0.8,0-2.2,0-9.7,8.7
                        c-2.8,3.2-5.4,6.5-6.5,7.7l-4.2,0.1l2.5-2.2H55.2z M57.6,57.6c0.4,0,0.9-0.2,1.1-0.6c5.6-6.9,12.5-14.7,14.3-15.7
                        c0.6,0.2,1.2,0.6,1.6,1.1c0.2,0.3,0.3,0.7,0.3,1.1c-0.8,1.7-9.4,11.9-15.5,18.9l-22.7,0.3c-0.4,0-0.7,0.1-1,0.4l-6.2,6.2
                        L18.6,58.8l11.6-11.7c3.3,0.1,18,0.3,23.8,0.3h0.4c0.8,0,1.2,0.1,1.3,0.3l0.1,0.1l-1.3,1.9L41.1,50c-0.5,0-0.9,0.2-1.2,0.6
                        c-0.3,0.4-0.4,0.9-0.2,1.3c0.1,0.4,1.6,4.6,4.5,5.9c0.2,0.1,0.4,0.1,0.6,0.1l3.9-0.1h0.2L57.6,57.6z"/></g></g></svg>
</template>