<template>
    <div class="circle">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 434.265 434.265" style="enable-background:new 0 0 434.265 434.265;" xml:space="preserve">
<g>
	<path class="Friendship" d="M431.027,132.252c-13.713-13.473-33.52-21.815-48.785-33.774c-20.795-16.292-37.4-36.177-56.899-53.759
		c-1.953-1.762-4.217-2.378-6.399-2.261c2.105-6.368-6.999-11.356-12.383-6.863c-27.491,22.955-47.76,51.553-75.508,72.437
		c-1.687-2.947-4.468-5.318-8.64-5.778c-36.195-3.975-67.451-16.951-95.444-40.539c-4.337-3.655-10.867-4.472-15.13,0
		C78.73,96.441,43.298,128.469,5.168,157.61c-5.16,3.946-7.463,11.285-2.118,16.431c25.323,24.375,45.896,51.983,68.934,78.25
		c-14.42,12.411-20.717,33.758-9.79,50.683c6.463,10.01,15.391,13.607,24.701,13.433c-7.824,12.366-10.856,27.879,1.271,39.107
		c9.863,9.132,21.578,8.889,32.528,4.724c-0.186,7.231,2.795,14.645,8.51,19.972c13.147,12.255,33.125,7.674,46.103-2.281
		c1.709-1.311,3.352-2.76,4.927-4.299c1.012,1.792,2.125,3.536,3.262,5.156c8.746,12.463,20.929,23.065,37.123,21.445
		c15.123-1.512,24.373-14.04,23.546-28.705c9.167,4.46,19.247,5.289,28.757-0.735c5.797-3.672,8.768-9.429,9.809-15.68
		c13.711,6.273,27.87,6.68,36.64-6.633c5.996-9.096,4.394-20.3-0.086-29.806c10.628,4.078,24.803-5.705,27.87-16.172
		c2.363-8.069,0.707-16.415-3.104-23.755c-2.842-5.47-7.325-12.264-13.412-14.448c-1.117-1.844-2.552-3.421-3.725-5.212
		c32.736-34.622,93.548-67.882,106.958-116.065C434.924,139.245,433.828,135.007,431.027,132.252z M328.206,291.246
		c2.434,10.053-5.375,11.548-12.932,14.233c-1.368,0.486-2.214,1.354-2.82,2.332c-8.015-10.453-20.708-23.32-34.086-21.06
		c-5.066,0.855-6.036,6.833-4.33,10.646c3.406,7.613,12.492,11.186,18.196,17.092c4.303,4.455,13.294,14.363,11.082,21.495
		c-2.749,8.856-20.91-1.878-25.668-4.897c-0.403-0.256-0.675-0.617-1.067-0.881c-6.205-8.845-15.672-15.918-23.448-22.754
		c-7.958-6.992-19.247,1.675-14.52,11.203c3.509,7.075,9.949,11.997,15.533,17.389c3.28,3.167,12.21,11.806,8.039,17.353
		c-4.028,5.355-16.695-2.642-20.303-5.245c-6.637-4.794-11.098-11.149-14.286-18.601c-1.775-4.148-6.122-4.546-9.56-2.877
		c-3.273-1.11-7.512-0.759-9.178,2.85c-7.574,16.411,13.683,26.644,15.697,42.006c1.343,10.231-7.912,11.487-15.316,7.604
		c-3.799-1.991-6.892-5.236-9.809-8.324c-1.558-1.67-3.067-3.386-4.527-5.143c-0.529-1.599-1.034-2.375-1.531-2.748
		c0.73-2.159,0.269-4.542-1.329-6.171c3.788-8.555,5.124-18.04,2.479-27.211c-3.042-10.541-14.153-22.497-25.43-23.46
		c0.289-3.943,0.098-7.986-1.223-12.225c-3.284-10.548-15.352-19.28-26.162-18.853c2.941-11.249,1.053-23.419-8.734-31.009
		c-13.438-10.42-34.486-6.923-49.905,0.985c-13.24-29.133-34.48-54.534-56.931-77.409c33.503-25.779,64.807-53.575,94.208-84.01
		c26.409,20.309,54.829,33.082,87.421,38.656c-1.889,0.929-3.612,2.021-5.58,2.872c-22.13,9.55-43.228,17.3-59.668,33.689
		c-13.547,2.423-23.835,21.253-20.949,33.681c2.809,12.094,14.872,18.827,26.342,17.61c1.503,1.017,3.311,1.512,5.2,0.865
		c40.481-13.877,74.28-30.206,110.324,2.668c20.787,18.957,36.739,41.808,57.111,61.049
		C322.177,280.288,326.741,285.194,328.206,291.246z"/>
</g>
</svg>
    </div>
</template>

<script>
    export default {
        name: "Friendship"
    }
</script>

<style scoped>
    .circle{
        border: 1px solid #000;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-left: 5px;
    }
    svg{
        transform: scale(0.7) translateX(calc(-5px / 0.7));
        margin-left: 0;
    }
</style>