<template>
    <svg version="1.1" @click="$emit('click')" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 235 235" xml:space="preserve"><path d="M117.5,0C52.71,0,0,52.71,0,117.5S52.71,235,117.5,235S235,182.29,235,117.5S182.29,0,117.5,0z M117.5,220 C60.981,220,15,174.019,15,117.5S60.981,15,117.5,15S220,60.981,220,117.5S174.019,220,117.5,220z M95.064,110h48.026v7.5 c0,26.481-21.544,48.025-48.026,48.025c-26.482,0-48.025-21.544-48.025-48.025s21.544-48.025,48.025-48.025 c10.684,0,20.806,3.439,29.271,9.946l-9.142,11.893c-5.82-4.474-12.781-6.839-20.129-6.839c-18.211,0-33.025,14.815-33.025,33.025 s14.815,33.025,33.025,33.025c15.632,0,28.762-10.916,32.167-25.525H95.064V110z M184.755,110h13.075v15h-13.075v13.076h-15V125 h-13.069v-15h13.069V96.924h15V110z"/></svg>

</template>

<script>
    export default {
        name: "GooglePlusSVG"
    }
</script>