<template>
    <a href=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 99.04 99.04"><defs></defs><title>insta</title><g id="Слой_2" data-name="Слой 2"><g id="_16" data-name="16"><path class="cls-1" d="M49.52,0a49.51,49.51,0,1,1-35,14.5A49.31,49.31,0,0,1,49.52,0Zm32.3,17.25A45.71,45.71,0,1,0,95.17,49.52,45.59,45.59,0,0,0,81.82,17.25Z"/><path class="cls-2" d="M36.85,49.52A12.68,12.68,0,1,1,49.52,62.21,12.71,12.71,0,0,1,36.85,49.52ZM62.62,24.7H36.44A11.78,11.78,0,0,0,24.7,36.44V62.62A11.79,11.79,0,0,0,36.44,74.36H62.62A11.76,11.76,0,0,0,74.36,62.62V36.44A11.75,11.75,0,0,0,62.62,24.7ZM36.44,27.64H62.62a8.82,8.82,0,0,1,8.81,8.8V62.62a8.81,8.81,0,0,1-8.81,8.8H36.44a8.81,8.81,0,0,1-8.8-8.8V36.44a8.81,8.81,0,0,1,8.8-8.8Zm28.79,3.7a2.58,2.58,0,1,0,2.58,2.58,2.57,2.57,0,0,0-2.58-2.58Zm.3,18.18a16,16,0,1,0-16,16,16,16,0,0,0,16-16Z"/></g></g></svg></a>
</template>