<template>
    <svg xmlns="http://www.w3.org/2000/svg" class="library" viewBox="0 0 89.75 72.05"><defs></defs><g><g><path d="M3,0A3.09,3.09,0,0,0,0,3.1V68.8A3.12,3.12,0,0,0,3,72H15a3.12,3.12,0,0,0,3-3.2V3.1A3,3,0,0,0,15,0ZM47,0a3.09,3.09,0,0,0-3,3.1V68.8A3.12,3.12,0,0,0,47,72H59a3.12,3.12,0,0,0,3-3.2V3.1A3,3,0,0,0,59,0ZM4,4H14V14H4ZM48,4H58V14H48ZM25,8a3.08,3.08,0,0,0-3,3V69a3.08,3.08,0,0,0,3,3H37a3.08,3.08,0,0,0,3-3V11a3.08,3.08,0,0,0-3-3Zm1,4H36v8H26ZM4,18H14V54H4Zm44,0H58V54H48ZM26,24H36V56H26ZM4,58H14V68H4Zm44,0H58V68H48ZM26,60H36v8H26Z"/><path class="cls-1" d="M64.4,15A3.06,3.06,0,0,0,62,18.5L72,69.7A3,3,0,0,0,75.5,72l11.8-2.3a3.06,3.06,0,0,0,2.4-3.5L79.7,15a3,3,0,0,0-3.5-2.3Zm1.8,3.7L76,16.8l1.5,7.9-9.8,1.9Zm2.3,11.8,9.8-1.9,5,25.5L73.5,56Zm5.7,29.4L84,58l1.5,7.9-9.8,1.9Z"/></g></g></svg>
</template>