<template>
    <svg v-on:click="setLike" xmlns="http://www.w3.org/2000/svg" class="like" viewBox="0 0 99.04 99.06"><defs></defs><g><g><path class="like_circle" d="M49.52,0a49.51,49.51,0,1,1-35,14.5A49.52,49.52,0,0,1,49.52,0ZM81.79,17.25a45.64,45.64,0,1,0,13.38,32.3,45.45,45.45,0,0,0-13.38-32.3Z"/><path d="M49.54,29.09C25.68,15.17,14.67,40.78,25.34,52.87a5.44,5.44,0,0,0,.42.41C40.54,66.1,40.58,68.13,49.54,77.09c9-9,9-11,23.78-23.81l.41-.41C84.41,40.78,73.4,15.17,49.54,29.09Z"/></g></g></svg>
</template>

<script>
    export default {
        props:['like'],
        methods:{
            setLike(){
                axios.post(this.like.comand)
                    .then(response=>{
                        window.bus.$emit('refresh');
                        window.bus.$emit('refreshLikes');
                    })
                    .catch(reason => {
                    })
            }
        }
    }
</script>