<template>
    <svg xmlns="http://www.w3.org/2000/svg" class="location" viewBox="0 0 99.04 99.04"><defs></defs><g><g><path d="M49.52,0a49.51,49.51,0,1,1-35,14.5A49.31,49.31,0,0,1,49.52,0Zm32.3,17.25A45.71,45.71,0,1,0,95.17,49.52,45.59,45.59,0,0,0,81.82,17.25Z"/><path d="M76.5,37A25.76,25.76,0,1,0,29.16,51.11h0L48.43,82h0A2.58,2.58,0,0,0,53,82h0L72.36,51.11h0A25.61,25.61,0,0,0,76.5,37h0M50.74,25.29A11.75,11.75,0,1,1,39,37,11.74,11.74,0,0,1,50.74,25.29h0"/></g></g></svg>
</template>