<template>
    <svg version="1.1" class="Mail" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 100 100" xml:space="preserve">
<g>
	<path class="st1" d="M3.7,49.9C3.6,25.5,23.2,3.5,50,3.4c27.2-0.1,46.9,22.1,46.8,46.6c0,25.3-20.6,46.6-46.7,46.6
		C24.2,96.4,3.5,75.1,3.7,49.9z M50.2,92.2C72.5,92.5,92.5,74.3,92.6,50c0-24-19.3-42.4-42.2-42.4C27.3,7.6,8,25.9,7.9,49.8
		C7.8,74.3,28,92.5,50.2,92.2z"/>
	<g>
		<path class="st1" d="M29.3,38c0-0.3,0-0.5,0-0.8c0.6-1.8,1.9-2.4,3.7-2.4c11.5,0.1,22.9,0,34.4,0c1.8,0,3.1,0.5,3.9,2.1
			c0,0.3,0,0.7,0,1c-5.8,5.6-11.6,11.1-17.3,16.7c-2.5,2.4-5.9,2.5-8.4,0c-1.6-1.6-3.2-3.2-4.7-4.9C37,45.8,33.1,41.9,29.3,38z"/>
		<path class="st1" d="M71.3,41c0,7.5,0,15,0,22.5c-0.7,1.6-2,2.1-3.7,2.1c-11.5,0-22.9,0-34.4,0c-1.7,0-3-0.5-3.9-1.9
			c0-7.6,0-15.2,0-22.8c0.5,0.2,0.8,0.6,1.2,1c2.2,2.4,4.4,4.8,6.6,7.1c1.3,1.4,1.3,1.4,0.4,3.2c-1.5,2.7-2.9,5.5-4.4,8.2
			c0.7-0.3,1.3-0.8,1.8-1.3c1.6-1.5,3.2-2.9,4.7-4.5c1-1,1.7-1,2.7-0.1c1.3,1.2,2.7,2.2,4.1,3.3c2.1,1.7,5.5,2.3,8-0.2
			c1.3-1.2,2.7-2.2,4-3.4c0.8-0.7,1.3-0.7,2,0.1c2,2.1,4.1,4.2,6.2,6.3c0.2,0.2,0.5,0.4,0.8,0.7c-0.1-0.5-0.2-0.9-0.4-1.3
			c-1.4-2.7-2.8-5.5-4.2-8.2c-0.4-0.8-0.4-1.5,0.3-2.2c1.6-1.7,3.1-3.4,4.7-5.1C68.9,43.4,69.8,42,71.3,41z"/>
	</g>
</g>
</svg>

</template>
