<template>
    <svg xmlns="http://www.w3.org/2000/svg" class="profile" viewBox="0 0 93 93"><defs></defs><g><g><path class="st10" d="M46.5,3A43.5,43.5,0,1,1,3,46.5,43.54,43.54,0,0,1,46.5,3m0-3A46.5,46.5,0,1,0,93,46.5,46.6,46.6,0,0,0,46.5,0Z"/><circle class="cls-1" cx="46.45" cy="24.77" r="13.3"/><path class="cls-1" d="M46.45,40.07a25,25,0,0,0-25,25c0,13.8,50.1,13.8,50.1,0A25.16,25.16,0,0,0,46.45,40.07Z"/></g></g></svg>
</template>