<template>
    <svg version="1.1" class="service" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 38.2 46.9" xml:space="preserve">
        <g><g><path class="st0" d="M36.8,46.6H1.6c-0.6,0-1-0.4-1-1s0.4-1,1-1h35.2c0.6,0,1,0.4,1,1S37.3,46.6,36.8,46.6z"/></g>
            <g><path d="M19.2,21.7c-4.1,0-7.4-5.2-7.4-9.5c0-4.2,3.3-7.7,7.4-7.7s7.4,3.5,7.4,7.7C26.5,16.5,23.3,21.7,19.2,21.7z M19.2,6.5 c-3,0-5.4,2.6-5.4,5.7c0,3.3,2.5,7.5,5.4,7.5s5.4-4.2,5.4-7.5C24.5,9.1,22.1,6.5,19.2,6.5z"/></g>
            <g><path class="st0" d="M9.7,16.7H8.8c-2.4,0-4.3-1.8-4.3-4c0-2.2,1.9-4,4.3-4h0.9c0.6,0,1,0.4,1,1v6.1C10.7,16.2,10.3,16.7,9.7,16.7 z M8.7,10.6c-1.2,0-2.2,0.9-2.2,2s1,2,2.2,2V10.6z"/></g>
            <g><path class="st0" d="M29.5,16.7h-0.9c-0.6,0-1-0.4-1-1V9.6c0-0.6,0.4-1,1-1h0.9c2.4,0,4.3,1.8,4.3,4 C33.8,14.9,31.9,16.7,29.5,16.7z M29.6,10.6v4.1c1.2,0,2.2-0.9,2.2-2S30.8,10.6,29.6,10.6z"/></g>
            <g><path class="st0" d="M29.4,10.6c-0.6,0-1-0.4-1-1c0-3.4-3-7.3-7-7.3H17c-4,0-7.1,3.8-7.1,7.3c0,0.6-0.4,1-1,1s-1-0.4-1-1 c0-4.4,3.9-9.3,9.1-9.3h4.3c5.2,0,9,4.9,9,9.3C30.4,10.2,29.9,10.6,29.4,10.6z"/></g>
            <g><path d="M28.9,43.5H9.5c-1.8,0-3.4-1.1-3.7-2.7l-2.5-8.9c-0.2-0.9,0-1.9,0.6-2.6c0.7-0.9,1.9-1.4,3.1-1.4h1.7c0.6,0,1,0.4,1,1 s-0.4,1-1,1H7c-0.6,0-1.2,0.3-1.6,0.7c-0.2,0.2-0.3,0.5-0.2,0.9l2.5,8.9c0.2,0.7,0.9,1.2,1.8,1.2h19.4c0.9,0,1.6-0.5,1.8-1.1 l2.5-9c0.1-0.3-0.1-0.6-0.2-0.8c-0.3-0.4-0.9-0.7-1.6-0.7h-1.7c-0.6,0-1-0.4-1-1s0.4-1,1-1h1.7c1.3,0,2.4,0.5,3.1,1.4 c0.6,0.8,0.8,1.7,0.6,2.6l-2.5,9C32.2,42.4,30.7,43.5,28.9,43.5z"/></g>
            <g><path d="M29.7,29.9h-21c-0.4,0-0.7-0.2-0.9-0.5c-0.2-0.3-0.2-0.7,0-1c1.4-2.2,3.8-4.5,6.7-4.5h9.3c2.9,0,5.3,2.3,6.7,4.5 c0.2,0.3,0.2,0.7,0,1C30.4,29.7,30,29.9,29.7,29.9z M10.7,27.9h16.9c-1-1.1-2.4-2-3.8-2h-9.3C13.1,25.9,11.8,26.8,10.7,27.9z"/></g></g></svg>
</template>