<template>
    <svg version="1.1" class="test" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 93.6 90.6" style="enable-background:new 0 0 93.6 90.6;" xml:space="preserve">
        <g id="Слой_2_1_"><g id="Слой_1-2">
            <rect x="38.3" y="26.5" width="28.6" height="4"/>
            <polygon class="st0" points="18.1,31.1 13.1,26.2 10.3,29.1 18.2,36.8 30.8,23.9 27.9,21.2"/>
            <polygon class="st0" points="18.1,50.4 13.1,45.5 10.3,48.3 18.2,56.1 30.8,43.2 27.9,40.4"/>
            <path d="M76.6,44.3V2c0-1.1-0.9-2-2-2H2C0.9,0,0,0.9,0,2v67.1c0,1.1,0.9,2,2,2h44.7C49,84,61.2,92.6,74.1,90.3 s21.5-14.5,19.2-27.4C91.7,54,85.3,46.8,76.6,44.3z M4,4h68.7v7.2H4V4z M4,67V15.2h68.7v28.3c-0.9-0.1-1.8-0.2-2.7-0.2 c-3.6,0-7.2,0.8-10.5,2.5H38.3v4h15.5c-4.7,4.5-7.4,10.7-7.4,17.2H4z M70,86.6c-10.9,0-19.7-8.8-19.7-19.7S59.1,47.2,70,47.2 S89.7,56,89.7,66.9v0C89.7,77.8,80.9,86.6,70,86.6C70,86.6,70,86.6,70,86.6z"/>
            <polygon class="st0" points="67.1,70.4 62.1,65.5 59.3,68.3 67.2,76.1 79.8,63.2 76.9,60.4"/></g></g></svg>
</template>