<template>
    <div id="admin_row">
        <ul class="row">
            <li v-for="item in list"><a :href="item.url" target="_blank">{{item.title}}</a></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "AdminRow",
        props:['list'],
        data(){
            return{
                bus:bus,
            }
        },
    }
</script>

<style scoped lang="scss">
    #admin_row{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: #585858;
        color: #d4d4d4;
        z-index: 100;
        ul{
            display: flex;
            flex-direction: row;
            li{
                padding: 5px 10px;

                    border-right: 1px solid #636363;

            }
        }
    }
</style>