<template>
    <div class="item">
        <b>{{getTitle}}</b>
    </div>
</template>

<script>
    export default {
        name: "autocompliteItem",
        props: ['item'],
        computed:{
            getTitle(){
                if(this.item){
                    return this.item.name;
                }else{
                    return '';
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .item{
        width: 100%;
        b{
            padding: 3px 2px;
            box-sizing: border-box;
        }
    }
</style>