<template>
    <div class="breadcrumbs">
        <template v-for="item in breadcrumbs">
            <a :href="item.url" @click.prevent="bus.$emit('goTo', item.url)">{{item.title}}</a>
            <span class="separator"> > </span>
        </template>
    </div>
</template>

<script>
    export default {
        name: "Breadcrumbs",
        props:['breadcrumbs'],
        data(){
            return{
                bus:bus,
            }
        }
    }
</script>

<style scoped>
  .separator:last-child{
      display: none;
  }
</style>