<template>
    <div class="counts">
        <div class="like">
            <Like :like="counts.like"></Like>
            <p>{{counts.like.count}}</p>
        </div>
        <div class="coment">
            <Coment></Coment>
            <p>{{counts.coment}}</p>
        </div>
        <div class="see">
            <See></See>
            <p>{{counts.see}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CountButtons",
        props:['counts'],
        methods:{

        }
    }
</script>

<style scoped>

</style>