<template>
    <div class="faq_right_third_block"  v-if="list.length">
        <p class="title">{{bus.lang.faq_right_third_block_title}}<i class="far fa-file"></i></p>
        <div class="list" v-for="item in list" :key="item.id" @click="bus.$emit('goTo', item.routeURL)">
            <p class="listItem" ><i :class="item.icon"></i>{{item.title}}</p>
            <p class="italy">{{fromNow(item.created_at)}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FagRightPopularNew",
        data(){
            return{
                bus: bus,
                list:[],
            }
        },
        mounted(){
            this.load();
            this.bus.$on('refresh', ()=> this.load);
        },
        methods:{
            fromNow(date){
                return moment(date).fromNow();
            },
            load(){
                axios.post('/faq/getNew').then((response)=>{
                    this.list =  response.data.Content;
                }).catch(reasone => console.log(reasone));
            }
        }
    }
</script>

<style scoped>

</style>