<template>
    <div class="faq_right_fouth_block" v-if="list.length">
        <p class="title">{{bus.lang.faq_right_fouth_block_title}}<i class="fas fa-list"></i></p>
        <div class="list" v-for="item in list" :key="item.id" @click="bus.$emit('goTo', item.routeUrl)">
            <p class="listItem" ><span class="while">{{item.faqsCount}}</span>{{item.title}}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FagRightPopularCategory",
        data(){
            return{
                bus: bus,
                list:[],
            }
        },
        mounted(){
            this.load();
            this.bus.$on('refresh', ()=> this.load);
        },
        methods:{
            fromNow(date){
                return moment(date).fromNow();
            },
            load(){
                axios.post('/faq/getCategory').then((response)=>{
                    this.list =  response.data.category;
                }).catch(reasone => console.log(reasone));
            }
        }
    }
</script>

<style scoped>

</style>