<template>
    <div>
        <div class="faq_right_first_block">
            <p class="title">{{bus.lang.faq_right_first_block}}</p>
            <img src="/img/qqq.png" alt="">
            <button class="bl" @click.prevent="goToCabinets">{{bus.lang.sendZapit}}</button>
        </div>
        <div class="micro_text">
            <p><span class="red">*</span>{{bus.lang.faq_right_first_block_little_text}}</p>
        </div>
        <div class="sendMaterial" @click.prevent="goToCabinets">
            <div class="img">
                <img src="/img/pen.png" alt="">
            </div>
            <span>{{bus.lang.faq_right_first_block_send_question}}</span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FaqRightFirstBlock",
        data(){
            return{
                bus: bus,
            }
        },
        methods:{
            goToCabinets(){
                bus.$emit('goTo', '/faq/cabinets');
            }
        }
    }
</script>

<style scoped>

</style>