<template>
    <div class="hashTagsPopular" v-if="tags.length">
        <p class="titl">{{bus.lang.hashTagPopular}}</p>
        <div class="block">
            <a v-for="tag in tags" class="hashTag" :key="tag.id" :href="tag.routeURL" @click.prevent="bus.$emit('goTo', tag.routeURL)">#{{tag.tagName}}</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "hashTagBlock",
        data(){
            return{
                bus: bus,
                tags:[]
            }
        },
        mounted(){
            window.bus.$on('newPage', this.update);
            this.update();
        },
        methods:{
            update(){
                axios.post('/getPopularTags')
                    .then((response)=>{
                        this.tags = response.data.tags;
                    })
            }
        }
    }
</script>

<style scoped>

</style>