<template>
    <HelpDeskBlock v-if="list" :list="list"></HelpDeskBlock>
</template>

<script>
    export default {
        name: "HelpDeskMy",
        data(){
            return{
                list:{}
            }
        },
        created(){
            axios.post('/helpdesk', {get:'my'})
                .then(response=>{
                    if(response.data.ErrorCode==1){
                        this.list = response.data.Content;
                    }
                })
        }
    }
</script>

<style scoped>

</style>