<template>
    <div class="interestingNow" v-if="content.length">
        <p class="titl"><img src="/img/fire.png" alt="">{{bus.lang.interestingNow}}</p>
        <MicroCard v-for="(row, key) in content" :key="key" :content="row"></MicroCard>
    </div>
</template>

<script>
    export default {
        name: "interstingNowBlock",
        data(){
            return{
                bus: bus,
                content:[]
            }
        },
        mounted(){
            bus.$on('refreshLikes', this.constructor);
            bus.$on('newPage', this.constructor);
            this.constructor();
        },
        methods:{
            constructor(){
                axios.post('/getInterestingNow')
                    .then((response)=>{
                        this.content = response.data.Content;
                    })
            }
        }
    }
</script>

<style scoped>

</style>