<template>
    <div id="map">
        <h2>{{bus.lang.mapComponentTitle}}</h2>
        <label for="map">{{bus.lang.mapComponentSetCity}}</label>
        <div class="label_row">
            <v-autocomplete ref="autocomplite"
                            :items="items"
                            v-model="item"
                            :get-label="getLabel"
                            @update-items="updateItems"
                            @item-selected="itemSelected"
                            :component-item='template'
                            :min-len="1"
            ></v-autocomplete>
            <button class="green" @click="toService">
                <ArrowDown></ArrowDown>
            </button>
            <button class="cor">
                <Location></Location>
            </button>
        </div>
        <div class="map-container">
            <GmapMap
                    :center="{lat:48.5, lng:33}"
                    :zoom="5"
            >
                <GmapMarker
                        v-for="(mark, index) in bissines"
                        :key="index"
                        :position="{lat:mark.data.location.lat, lng:mark.data.location.lng}"
                        :clickable="true"
                        :draggable="false"
                        :icon="icon(mark.category)"
                        ref="mm"
                        @click="toggleInfoWindow(mark, index)"
                />
                <gmap-info-window  :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
                    <TooltipItem :marker="infoContent"></TooltipItem>
                </gmap-info-window>
            </GmapMap>
        </div>
        <button @click="toService">Подтвердить</button>
    </div>
</template>

<script>
    import autocompliteItem from '../mimiComponents/autocompliteItem.vue';
    export default {
        name: "MapComponent",
        data(){
            return {
                bus: bus,

                dataResponse:{},
                category:'',
                region:'',
                template: autocompliteItem,
                item:null,
                cityes: [],
                items:[],
                bissines:[],

                infoWinOpen:false,
                infoWindowPos:null,
                infoContent: {
                    id:'',
                    data:{email:"",name:"",email2:"",description:"",website:"",phone:"",video:"","facebook":" ","twitter":"","instagram":"","region":"","location":{"lat":45.32580721583,"lng":34.610063767443},"file1":"","file2":["","","",""],"l":null,"":null,"":"3"},"":null,"created_at":"","updated_at":"","locatonToYandex":"","routeURL":"","cityName":"","category":{"id":3,"title":"3","created_at":"","updated_at":"","marker_img":""},"locale":null},
                currentMidx:'',
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                },
            }
        },
        mounted(){
            axios.post('/servises')
                .then((respose)=>{
                    this.dataResponse = respose.data;
                    this.bissines = respose.data.items;
                    this.cityes = respose.data.city;
                    //this.items = respose.data.city;
                    this.items = _.slice(this.cityes, 0, 10)
                })

        },
        computed:{
            bodyRequest(){
                let city_id = null;
                if(this.item) {
                    city_id = this.item.id;
                }
                return{
                    q_city: city_id,
                    q_category: this.category,
                    q_region: this.region,
                }
            },
        },
        methods:{
            icon(category) {
                if(category) {
                    return {
                        url: category.marker_img,
                        scaledSize: new google.maps.Size(64, 64)
                    }
                }
            },
            toggleInfoWindow: function(marker, idx) {
                this.infoWindowPos = marker.data.location;
                this.infoContent = marker;
                //check if its the same marker that was selected if yes toggle
                if (this.currentMidx == idx) {
                    this.infoWinOpen = !this.infoWinOpen;
                }
                //if different marker set infowindow to open and reset current marker index
                else {
                    this.infoWinOpen = true;
                    this.currentMidx = idx;
                }
            },
            goTo(url){
                bus.$emit('goTo', url)
            },
            getLabel(item){
                if(item) {
                    return item.name;
                }else{
                    return '';
                }
            },
            updateItems(text){
                this.items = _.slice(_.filter(this.cityes, (item)=>{
                    return _.lowerCase(item.name).indexOf(_.lowerCase(text)) > -1;
                }), 0, 10);
            },
            itemSelected(item){
              this.item  = item;
                this.cl();
            },
            cl(){
                axios.post('/servises/search', this.bodyRequest)
                    .then( response => {
                        this.bissines = response.data
                    })
            },
            toService(){
                bus.$emit('toService', this.dataResponse, this.item)

            }
        }
    }
</script>

<style scoped>
    .vue-map-container {
        height: 300px;
    }
    .v-autocomplete{
        width: 100%;
    }

</style>