<template>
    <div class="nowInteresting" v-if="coments.length">
        <h3 class="title">{{bus.lang.nowSpeak}}</h3>
        <NowInterestingCard v-for="coment in coments" :coment="coment" :key="coment.id"></NowInterestingCard>

    </div>
</template>

<script>
    export default {
        name: "NowInterestingBlock",
        data(){
            return{
                coments:[],
                bus:bus,
            }
    },
        mounted(){
            bus.$on('newPage', this.constructor);
            this.constructor();
        },
        methods:{
            constructor(){
                axios.post('/getLastComments')
                    .then((response)=>{
                        this.coments = response.data.Content;
                    })
            }
        }
    }
</script>

<style scoped>

</style>