<template>
    <nav class="pagination" v-if="pagination.total>1">
        <a class="pagination-link" @click.prevent="changePage(pagination.current_page - 1)" v-if="pagination.current_page <= 1">Previous</a>
        <a class="pagination-link" v-for="page in pages"
                :class="isCurrentPage(page) ? 'is-current' : ''" @click.prevent="changePage(page)">{{ page }}</a>
        <a class="pagination-link" @click.prevent="changePage(pagination.current_page + 1)" v-if="pagination.current_page >= pagination.last_page">Next page</a>
    </nav>
</template>

<script>
    export default {
        name: "Pagination",
        props: ['pagination', 'offset'],
        methods: {
            isCurrentPage(page) {
                return this.pagination.current_page === page;
            },
            changePage(page) {
                if (page > this.pagination.last_page) {
                    page = this.pagination.last_page;
                }
                this.pagination.current_page = page;
                this.$emit('paginate');
            }
        },
        computed: {
            pages() {
                let pages = [];
                let from = this.pagination.current_page - Math.floor(this.offset / 2);
                if (from < 1) {
                    from = 1;
                }
                let to = from + this.offset - 1;
                if (to > this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                while (from <= to) {
                    pages.push(from);
                    from++;
                }
                return pages;
            }
        }
    }
</script>

<style scoped>

</style>