<template>
    <div class="sendMaterial" @click="goTo">
        <div class="img">
            <img src="/img/pen.png" alt="">
        </div>
        <span>{{bus.lang.sendMaterial}}</span>
    </div>
</template>

<script>
    export default {
        name: "SendMaterial",
        data(){
            return{
                bus: bus,
            }
        },
        methods:{
            goTo(){
                bus.$emit('goTo', '/suggest')
            }
        }
    }
</script>

<style scoped>

</style>