<template>
    <div class="podpiska">
        <p>{{bus.lang.subscribe}}</p>
        <div class="ro">
            <input type="email" v-model="email" name="email-subscribe" :placeholder="bus.lang.email">
            <button @click="send">{{bus.lang.ok}}</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SubscribeRightBlock",
        data(){podpiska
            return{
                bus: bus,
                email:''
            }
        },
        methods:{
            send(){
                if(this.validEmail(this.email)){
                    axios.put('/subcribe', {email:this.email})
                        .then(response => {
                            if(response.status == 200){
                                return response.data;
                            }
                        })
                        .then(data =>{
                            if(data.ErrorCode == 1){
                                bus.$emit('notify', 'success', 'Успешно', data.DebugMessage);

                            }else{
                                _.forIn(data.DebugMessage, (value, key) => {
                                    bus.$emit('notify', 'warn', key, value);

                                });
                            }
                        })
                        .catch(e => console.log(e))
                }else{
                    bus.$emit('notify', 'warn', 'Email', 'Введений текст не є Email-адресою');
                }
            },
            validEmail:function(email) {
                let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    }
</script>

<style scoped>

</style>