<template>
    <div id="form-subscribe">
        <h2>{{bus.lang.formSubscribeTitile}}</h2>
        <label for="email-subscribe">{{bus.lang.formSubscribeEmail}}</label>
        <input type="email" name="email-subscribe" v-model="email" :placeholder="bus.lang.email">
        <button @click="send">{{bus.lang.subscribe}}</button>
    </div>
</template>

<script>
    export default {
        name: "SubscribeFormInMainPage",
        data(){
            return{
                bus:bus,
                email:''
            }
        },
        methods:{
            send(){
                if(this.validEmail(this.email)){
                    axios.put('/subcribe', {email:this.email})
                        .then(response => {
                            if(response.status == 200){
                                return response.data;
                            }
                        })
                        .then(data =>{
                            if(data.ErrorCode == 1){
                                bus.$emit('notify', 'success', 'Успешно', data.DebugMessage);

                            }else{
                                _.forIn(data.DebugMessage, (value, key) => {
                                    bus.$emit('notify', 'warn', key, value);
                                });
                            }
                        })
                        .catch(e => console.log(e))
                }else{
                    bus.$emit('notify', 'warn', 'Email', 'Введений текст не є Email-адресою');
                }
            },
            validEmail:function(email) {
                let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        }
    }
</script>

<style scoped>

</style>