<template>
    <div class="map-tooltip">
        <h5>{{marker.data.nameOrganization}}</h5>
        <div class="col">

            <div v-html="marker.shortDescription" class="description"></div>
            <button @click="goTo(marker.routeURL)">{{bus.lang.goTo}}</button>
        </div>
        <div class="col img" :style="{background:'url('+bus.absoluteURL(marker.data.file1)+') top center no-repeat / contain'}"></div>
    </div>
</template>

<script>
    export default {
        name: "tooltipItem",
        props:['marker'],
        data(){
            return {
                bus: window.bus
            }
        },

        methods:{
            goTo(url){
                bus.$emit('goTo', url);
            }
        }
    }
</script>

<style scoped>

</style>