<template>
    <div class="bg">
    <div id="about_us" @keydown.ctrl.enter="bus.$emit('haveError')" tabindex="0">
        <h1>{{dataResponse.Content.title}}</h1>
        <div class="row jc-sb">
            <div class="left">
                <div class="img">
                    <img :src="dataResponse.Content.main_img" alt="">
                </div>
            </div>
            <GmapMap
                    class="right"
                    :center="{lat:pos.lat, lng:pos.lng}"
                    :zoom="13"
            >
                <GmapMarker
                        :key="5"
                        :position="{lat:pos.lat, lng:pos.lng}"
                        :clickable="true"
                        :draggable="false"
                />
            </GmapMap>
        </div>
        <div class="content" v-html="dataResponse.Content.content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur assumenda atque corporis cum earum eius in iure labore, obcaecati possimus recusandae similique soluta tenetur ullam, voluptate voluptates. A, ab accusantium asperiores, at commodi cupiditate debitis deleniti, enim esse et ex expedita explicabo illo ipsam ipsum iure molestiae nam nemo non officia optio ratione recusandae reiciendis repellendus unde ut veritatis voluptatibus. Amet architecto deleniti dolorem ea eum molestias, nostrum possimus quos recusandae sunt? Excepturi facere modi reiciendis! Assumenda corporis eius error fugiat molestiae molestias nam numquam, suscipit veritatis? Aspernatur cum iusto libero nisi non nulla obcaecati quo rem! Amet animi aperiam at beatae consequatur corporis dolorum ducimus, fuga fugiat illum inventore iusto laudantium libero magni, maxime necessitatibus nesciunt nihil officiis placeat porro quis reprehenderit soluta tempora tenetur ut! Blanditiis commodi dignissimos ducimus esse exercitationem ipsa ipsam provident quod soluta voluptas? A accusantium alias aliquam animi aspernatur at aut commodi consequuntur cumque cupiditate deleniti deserunt dolores doloribus eligendi error esse eum exercitationem hic incidunt iste, minus necessitatibus nisi obcaecati perferendis perspiciatis quas quos repudiandae sequi, sit, ut vel vero voluptas voluptatibus! Incidunt laborum molestias obcaecati sint. Aspernatur cumque deserunt eius ipsa molestias omnis quasi quis. Accusamus harum nobis odio quia. Cupiditate magni minima mollitia repellendus tenetur. Accusantium ad aliquam aperiam, assumenda autem consectetur corporis doloremque earum error est id inventore ipsum iste itaque laborum maiores maxime minima mollitia natus nemo, nesciunt nostrum obcaecati quam quas quibusdam quisquam quo ratione repellat rerum sit tempore totam unde ut veniam vitae voluptate voluptatem? A accusamus accusantium adipisci aliquam consequatur cum delectus deleniti deserunt dicta dolor doloremque ducimus eaque enim eveniet excepturi impedit inventore ipsam labore laudantium nam nostrum obcaecati perspiciatis possimus quam, quia quo quos repudiandae rerum saepe sapiente tenetur ut velit voluptate. Amet assumenda corporis ex, magni maiores recusandae temporibus! Ab adipisci aliquid animi assumenda cumque dicta dignissimos earum eius eos facilis id, inventore ipsa itaque minus odio omnis perferendis placeat quam qui ratione similique sint suscipit, velit vitae voluptas. Eaque enim mollitia quisquam sequi similique soluta sunt voluptas. Ad animi aut culpa deleniti deserunt dignissimos distinctio dolore dolorem doloribus eos facilis fuga impedit inventore ipsam molestiae molestias necessitatibus obcaecati odit officiis omnis placeat quaerat, quia recusandae sed soluta suscipit velit voluptatem? Ab accusamus at doloremque fuga, incidunt itaque magnam nemo porro quae quam quis tempora totam veniam. Beatae cumque dignissimos libero possimus quas quasi quibusdam sapiente soluta? Alias architecto beatae consequuntur dolorem doloribus et ex inventore ipsa itaque iusto, labore laudantium molestiae nam nisi nulla pariatur porro possimus quae quaerat quam quia repellat suscipit ut, vel veritatis vitae voluptates voluptatum? Dignissimos dolore dolores dolorum est hic incidunt itaque iure, nam odio qui, sapiente tenetur unde veniam veritatis voluptatem! Accusamus aliquam aliquid aperiam aspernatur consectetur corporis doloremque ea eaque eum harum iusto laboriosam laborum maiores necessitatibus pariatur perspiciatis, quas quo voluptatum? Consequuntur, natus, vero. Ab blanditiis culpa dicta distinctio ea eaque earum fuga illo impedit incidunt inventore ipsum laudantium, molestiae mollitia natus optio, perspiciatis porro quia, quibusdam sapiente tenetur ut voluptate! Natus, ratione!
        </div>
        <div class="row">
            <button @click="goTo('/contact-us')">Зв'язатися з нами</button>

        </div>
    </div>
    </div>
</template>

<script>
    export default {
        name: "AboutUs",
        props:['dataResponse'],
        data(){
            return{
                bus: bus,
            }
        },
        computed:{
            pos(){
                let t = this.dataResponse.Content.position;
                let q = {lat:0, lng:0};
                q.lat = _.toNumber(_.split(t, ',',2)[0]);
                q.lng = _.toNumber(_.split(t, ',',2)[1]);
                return q;
            }
        },
        methods:{
            goTo(url){
                window.bus.$emit('goTo', url);
            }
        }

    }
</script>

<style scoped>

</style>