<template>
    <div class="bg">
        <div class="blue">
            <div class="row jc-sb sm-col">
                <div class="r">
                    <v-autocomplete ref="autocomplite"
                                    :items="items"
                                    v-model="item"
                                    :get-label="getLabel"
                                    @update-items="updateItems"
                                    :component-item='template'
                                    :min-len="1"
                    ></v-autocomplete>
                    <!-- @blur="updateItems"
                                    @item-clicked="updateItems"

                                    :component-item='template' -->
                    <select v-model="category">
                        <option value="" selected>{{bus.lang.select_category}}</option>
                        <option v-for="category in dataResponse.category" :value="category.id">{{category.title}}</option>
                    </select>
                    <select v-model="region">
                        <option value="" selected>{{bus.lang.select_region}}</option>
                        <option v-for="reg in dataResponse.regions" :value="reg.id">{{reg.name}}</option>
                    </select>
                </div>
                <button @click="cl">{{bus.lang.search}}</button>
            </div>
        </div>
        <div id="Bissines" class="row jc-sb" @keydown.ctrl.enter="bus.$emit('haveError')" tabindex="0">
            <section class="left">
                <div class="row_without_width logo_row">
                    <div class="Logo_bissines_img" :style="{background: 'url('+bus.absoluteURL(page.file1)+') left center / contain no-repeat'}"></div>
                    <h3>{{page.nameOrganization}}</h3>
                </div>
                <div class="row_without_width first_row">
                    <div class="sliders">
                        <rate :length="5" v-model="myRate" @after-rate="onAfterRate"/>
                        <div class="slider" :style="{background: 'url('+bus.absoluteURL(page.file2[0])+') center center / cover no-repeat'}"></div>
                    </div>
                    <div class="text" v-html="page.description"></div>
                </div>
                <div class="row_without_width second_row">

                        <table class="time_work">
                            <thead>
                                <tr class="pc">
                                    <th colspan="2">{{bus.lang.work_time}}</th>
                                    <th></th>
                                </tr>
                                <tr class="sm">
                                    <th colspan="3">{{bus.lang.work_time}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(text, key) in rospisanie">
                                    <td>{{text}}</td>
                                    <td> - </td>
                                    <td v-if="!dataResponse.Content.rospisanie[key].weekend">{{getRospisanie(key)}}</td>
                                    <td v-else>{{bus.lang.weekend}}</td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="address_block">
                            <div>
                                <h6>{{bus.lang.information}}</h6>
                                <table>
                                    <tbody>
                                        <tr v-if="page.vlasnost">
                                            <td>{{bus.lang.formVlasnost}}</td>
                                            <td>{{(page.vlasnost=='1') ? bus.lang.derzhavna:''}}{{(page.vlasnost=='2') ? bus.lang.private:''}}{{(page.vlasnost=='3') ? bus.lang.other_type:''}}</td>
                                        </tr>
                                        <template v-if="page.type">
                                            <tr v-for="(row, key) in page.type" v-if="row.length > 0">
                                                <td>{{dataResponse.podCategorii[key].title}}</td>
                                                <td>{{stringTypeGenerate(key, row)}}</td>
                                            </tr>
                                            <tr  v-else-if="checkNumber(row)">
                                                <td>{{dataResponse.podCategorii[key].title}}</td>
                                                <td>{{stringTypeGenerate(key, row)}}</td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <h6>{{bus.lang.adress}}</h6>
                                <table>
                                    <tbody>
                                    <tr v-if="page.city || page.l">
                                        <td>{{bus.lang.our_adress}}</td>
                                        <td>{{dataResponse.city[page.city].name + ', '}}{{page.l}}</td>
                                    </tr>
                                    <tr v-if="dataResponse.Content.locatonToYandex">
                                        <td>{{bus.lang.gps}}</td>
                                        <td>{{dataResponse.Content.locatonToYandex}}</td>
                                    </tr>
                                    <tr v-if="page.telefone">
                                        <td>{{bus.lang.phone}}</td>
                                        <td>{{page.telefone}}</td>
                                    </tr>
                                    <tr v-if="page.email2">
                                        <td>{{bus.lang.email2}}</td>
                                        <td><a :href="'mailto:'+page.email2">{{page.email2}}</a></td>
                                    </tr>
                                    <tr v-if="page.site">
                                        <td>{{bus.lang.web}}</td>
                                        <td><a :href="page.site" target="_blank">{{page.site}}</a></td>
                                    </tr>
                                    <tr v-if="page.facebook">
                                        <td>{{bus.lang.facebook}}</td>
                                        <td><a :href="page.facebook" target="_blank">{{page.facebook}}</a></td>
                                    </tr>
                                    <tr v-if="page.twitter">
                                        <td>{{bus.lang.twitter}}</td>
                                        <td><a :href="page.twitter" target="_blank">{{page.twitter}}</a></td>
                                    </tr>
                                    <tr v-if="page.instagram">
                                        <td>{{bus.lang.instagram}}</td>
                                        <td><a :href="page.instagram" target="_blank">{{page.instagram}}</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="row_without_width but">
                                    <a v-if="page.email2" :href="'mailto:'+page.email2">{{bus.lang.svaz_s_vlasnikom}}</a>
                                    <a v-if="dataResponse.Content.locatonToYandex" :href="'http://maps.google.com/maps?ll='+page.location.lat+','+page.location.lng+'&q='+page.location.lat+','+page.location.lng+'%20%28UnMedia%29'" target="_blank">{{bus.lang.marshrut}}</a>
                                </div>
                            </div>
                        </div>
                </div>
                <GmapMap
                        class="map"
                        :center="{lat:page.location.lat, lng:page.location.lng}"
                        :zoom="14"
                >
                    <GmapMarker
                            :position="{lat:page.location.lat, lng:page.location.lng}"
                            :clickable="true"
                            :draggable="false"
                    />
                </GmapMap>
                <div class="row_without_width last_row">
                    <CommentsBlock></CommentsBlock>
                </div>
            </section>
            <RightBlock></RightBlock>
        </div>
    </div>
</template>

<script>
    import autocompliteItem from '../mimiComponents/autocompliteItem.vue';
    export default {
        name: "BissinesPage",
        props:['dataResponse'],
        data(){
            return {
                bus: window.bus,
                page: '',

                category: '',
                region: '',
                template: autocompliteItem,
                item: {},
                items: [],

                cityes: [],
                bissines: [],

                myRate: 1,
                rospisanie: {
                    mon: bus.lang.monday,
                    tue: bus.lang.tuesday,
                    wed: bus.lang.wednesday,
                    thu: bus.lang.thursday,
                    fri: bus.lang.friday,
                    sat: bus.lang.saturday,
                    san: bus.lang.sunday,
                }
            }
        },
        computed:{
            bodyRequest(){
                let city_id = null;
                if(this.item) {
                    city_id =this.item.id;
                }
                return{
                    q_city: city_id,
                    q_category: this.category,
                    q_region: this.region,
                }
            },
        },
        created(){
            this.bissines = this.dataResponse.items;
            this.cityes = this.dataResponse.city;
            this.items = _.slice(this.cityes, 0, 10);
            this.page = this.dataResponse.Content.data;
            this.myRate = _.parseInt(this.dataResponse.Content.rate.if_I || this.dataResponse.Content.rate.count);

            //this.items = this.dataResponse.items;
        },
        methods:{
            goTo(url){
                bus.$emit('goTo', url)
            },
            bodyRequest(text){
                return{
                    q_title: text,
                    q_category: this.category,
                    q_region: this.region,
                }
            },
            getLabel(item){
                if(item) {
                    return item.name;
                }else{
                    return '';
                }
            },
            updateItems(text){
                this.items = _.slice(_.filter(this.cityes, (item)=>{
                    return _.lowerCase(item.name).indexOf(_.lowerCase(text)) > -1;
                }), 0, 10)
            },
            cl(){
                axios.post('/servises/search', this.bodyRequest)
                    .then( response => {
                        this.bissines = response.data;
                        bus.$emit('toService', this.dataResponse, this.item)
                    })
            },
            checkNumber(val){
                return typeof(val)=='number';
            },
            stringTypeGenerate(key, row){

               /* console.log(key, row);
                console.log(typeof(row));*/

                let string = '';
                if(typeof(row)=='object'){
                    _.forEach(row,(it)=>{
                        string += this.dataResponse.podCategorii[key].data[it].title + ', ';
                    })
                }else{
                    string = this.dataResponse.podCategorii[key].data[row].title;
                }
                if(_.endsWith(string, ', ')){
                    string = _.trimEnd(string, ', ');
                }
                return string;
            },
            getRospisanie(key){
                return _.parseInt(this.dataResponse.Content.rospisanie[key].from.HH)+':'+this.dataResponse.Content.rospisanie[key].from.mm+' - '+_.parseInt(this.dataResponse.Content.rospisanie[key].to.HH)+':'+this.dataResponse.Content.rospisanie[key].to.mm;
                //dataResponse.Content.rospisanie[key].from}} - {{dataResponse.Content.rospisanie[key].to
            },
            onAfterRate(rate) {
                axios.put(this.dataResponse.Content.rate.comand, {value: rate})
                    .then(()=>{
                        bus.$emit('refresh')
                    })
                    .catch((reasone)=>{
                        console.log(reasone);
                    })
            }
        }
    }
</script>

<style scoped>

</style>