<template>
    <div id="cabinetForm" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="block">
            <label for="">
                Lorem ipsum.
            </label>
            <input type="text" v-model="subject">
            <label for="">gdfrgfghfgh</label>


            <vue-editor v-model="text"></vue-editor>

            <label for="">
                Lorem ipsum.
            </label>
            <p class="departure">{{dataResponse.Content.name}}</p>
            <label for="">
                <p>files</p>
                <p>files</p>

            </label>
            <label class="file_block">
                  <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()"/>
                    <i class="fas fa-file-plus"></i>
                    <p>newFile</p>
                </label>
            <p class="file_info">dfdfdsfdsfdsfdsfdsf <span class="bold">5</span> dsfdsf df d <span class="bold">d</span></p>
            <button class="button" @click.prevent="submitFiles">dfdsfds</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CabinetForm",
        props:['dataResponse'],
        data(){
            return{
                subject:'',
                text:'',
                departure:'',
                files: []
            }
        },
        created(){
            this.departure = this.dataResponse.Content.user_id;
        },
        methods:{
            updateData(val){
                this.text = val;
            },
            submitFiles(){
                let formData = new FormData();
                formData.append('subject', this.subject);
                formData.append('text', this.text);
                formData.append('departure', this.departure);
                for( var i = 0; i < this.files.length; i++ ){
                    let file = this.files[i];
                    formData.append('files[' + i + ']', file);
                }
                axios.post( '/cabinets/create',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(()=>{
                    bus.$emit('notify', 'success', 'Успішно', 'Дякуємо за звернення. Спеціаліст обов\'язково вам відповість');
                })
                .catch(()=>{
                    bus.$emit('notify', 'warn', 'Помилка', 'Упс!!! Трапилася помилка.');
                });
            },
            handleFilesUpload(){
                let uploadedFiles = this.$refs.files.files;
                for( var i = 0; i < uploadedFiles.length; i++ ){
                    this.files.push( uploadedFiles[i] );
                }
            },
            removeFile( key ){
                this.files.splice( key, 1 );
            }
        }
    }
</script>

<style scoped>

</style>