<template>
    <div id="cabinetOneCategory" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="row">
            <div class="jc-sb" @keydown.ctrl.enter="bus.$emit('haveError')" tabindex="0">
                <div class="Consultant" v-for="spesialist in dataResponse.Content.spesialist">
                    <h5>{{spesialist.name}}</h5>
                    <div class="img" :style="{background: 'url('+bus.absoluteURL(spesialist.photo)+') center center / cover'}"></div>
                    <div class="title">{{spesialist.title}}</div>
                    <div class="description" v-html="spesialist.description"></div>
                    <p class="bold">Lorem ipsum.</p>
                    <ul>
                        <li v-for="listItem in spesialist.data">{{listItem}}</li>
                    </ul>
                    <button @click="bus.$emit('goTo', dataResponse.Content.routeUrl+'/'+ spesialist.id)">text</button>
                </div>


            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CabinetsOneCategory",
        props:['dataResponse'],
        data(){
            return{
                bus: bus,
            }
        }
    }
</script>

<style scoped>

</style>