<template>
    <div id="cabinetsCategory" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="row">
            <div class="jc-sb">
                <div class="cabinetCategory" v-for="category in  dataResponse.category" @click="goTo(category.routeUrl)" :style="{background:category.color}">
                    <div class="title">{{category.title}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CabinetsCategory",
        props:['dataResponse'],
        methods:{
            goTo(url){
                bus.$emit('goTo', url);
            }
        }
    }
</script>

<style scoped>

</style>