<template>
    <div class="bg">

        <div id="listPage" class="row jc-sb calendarPageOne">
            <section class="left">
                <div id="Page"  @keydown.ctrl.enter="bus.$emit('haveError')" tabindex="0">
                    <h3 class="title">{{dataResponse.Content.title}}</h3>
                    <div class="ro jc-sb">
                        <SocialButtons :social="dataResponse.Content.social"></SocialButtons>
                        <CountButtons :counts="dataResponse.Content.counts" ></CountButtons>
                    </div>
                    <div class="roz jc-fs">
                        <div class="greyBlock" v-if="dataResponse.Content.date">
                            <p class="titl">Дата</p>
                            <p class="big">{{date}}</p>
                        </div>
                        <div class="greyBlock" v-if="dataResponse.Content.time_start">
                            <p class="titl">Час</p>
                            <p class="big">{{time}}</p>
                        </div>
                        <div class="greyBlock" v-if="dataResponse.Content.site">
                            <p class="titl">Сайт</p>
                            <a class="big site" :href="dataResponse.Content.site" target="_blank">{{dataResponse.Content.site}}</a>
                        </div>
                        <div class="greyBlock" v-if="dataResponse.Content.price">
                            <p class="titl">Ціна</p>
                            <p class="big">{{dataResponse.Content.price}}</p>
                        </div>
                    </div>
                    <div class="loc" v-if="dataResponse.Content.location">
                        <p class="titl">Місце проведення</p>
                        <p>{{dataResponse.Content.location}}</p>
                    </div>
                    <!-- <div class="img"><img v-bind:src="dataResponse.Content.main_img" alt=""></div>-->
                    <div class="content" v-html="dataResponse.Content.content"></div>
                    <div class="ro">
                        <p class="centerError">Знайшли помилку? Виділить її і натисніть Ctrl+Enter</p>
                    </div>
                    <div class="ro">
                        <a v-for="tag in dataResponse.Content.tags" class="hashTag" :key="tag.id" :href="tag.routeURL" @click.prevent="bus.$emit('goTo', tag.routeURL)">#{{tag.tagName}}</a>
                    </div>
                    <div class="ro jc-sb">
                        <SocialButtons :social="dataResponse.Content.social"></SocialButtons>
                    </div>

                </div>
                <div class="bottom">

                    <div class="row jc-sb">
                        <SubscribeRightBlock></SubscribeRightBlock>
                        <SendMaterial></SendMaterial>
                    </div>
                    <div class="row someBlock">
                        <h5>Также подобрали для вас</h5>
                    </div>
                    <div class="row someBlock">
                        <div class="pizdect">
                            <ListCard v-for="content in dataResponse.other"
                                      :key="content.id"
                                      :content="content"></ListCard>
                        </div>
                    </div>
                    <CommentsBlock></CommentsBlock>
                </div>
            </section>
            <RightBlock></RightBlock>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CalendarPage",
        props:['dataResponse'],
        data(){
            return{
                bus:bus,
            }
        },
        computed:{
            date(){
                let date = new Date(this.dataResponse.Content.date);
                return moment(date).format('D MMMM');
            },
            time(){
                return this.dataResponse.Content.time_start.slice(0, 5)
            }
        },
    }
</script>

<style scoped>

</style>