<template>
    <div id="CalendarPage">
        <div class="container row">
            <full-calendar :events="events"
                           :config="config"
                           @event-selected="eventSelected"
                           ref="calendar"></full-calendar>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Calendar",
        props:['dataResponse'],
        data() {
            return {
                config: {
                    header:{
                        left:   'prev',
                        center: 'title',
                        right:  'next'
                    },
                    titleFormat: 'MMMM YYYY',
                    locale: 'uk',
                    defaultView: (window.innerWidth > 780) ? 'month': 'listMonth',
                    displayEventTime: true,
                    listDayFormat:'D',
                    listDayAltFormat:false,
                    contentHeight: 'auto',
                    //eventColor:'transparent',

                    eventTextColor:'#000',
                },
            }
        },
        computed:{
            events(){
                let array = [];
                _.each(this.dataResponse.Content, (value, key)=>{
                    let eventObj = {};
                    eventObj.title = value.title;
                    eventObj.start = moment(value.date+' '+value.time_start).format();
                    eventObj.url = value.routeURL;
                    eventObj.textColor = value.textColor;
                    array.push(eventObj);
                });
                return array;
            }
        },
        methods:{
            goTo(url){
                window.bus.$emit('goTo', url);
            },
            eventSelected(event, jsEvent){
                jsEvent.preventDefault();
                this.goTo(event.url);
                return false;
            }
        }
    }
</script>

<style scoped>

</style>