<template>
    <div id="category" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="categories_list row">
            <div class="category" v-for="category in dataResponse.Content"
                @click="goTo(category.routeURL)">
                <div class="img"></div>
                <p>{{category.title}}</p>
            </div>
        </div>
        <div class="bottom_Block row">
            <SubscribeRightBlock></SubscribeRightBlock>
            <div class="register_btn" @click="bus.$emit('toRegistrationForm')">
                <p>{{dataResponse.langString.registration}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Categories",
        props:['dataResponse'],
        data(){
            return{
                bus:bus,
            }
        },
        methods:{
            goTo(url){
                window.bus.$emit('goTo', url);
            }
        }
    }
</script>

<style scoped>

</style>