<template>
    <div id="category" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="categories_list row">
            <div class="categories_list_files">
                <div v-for="file in dataResponse.Content"
                     class="category_files">
                    <div class="bg-presentation"></div>
                    <p class="title" @click="download(file.file)">{{file.title}}</p>

                </div>


            </div>
            <!--<Pagination></Pagination>-->
        </div>

    </div>
</template>

<script>
    export default {
        name: "CategoryFiles",
        props:['dataResponse'],
        methods:{
            goTo(url){
                window.bus.$emit('goTo', url);
            },
            download(url){
                let link = document.createElement('a');
                link.setAttribute('href',url);
                link.setAttribute('download','download');
                onload=link.click();

            }
        }
    }
</script>

<style scoped>

</style>