<template>
    <div id="category" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="categories_list row">
            <div v-for="presentation in dataResponse.Content"
                 class="category_presentation">
                <div class="bg-presentation"></div>
                <p class="title" @click="goTo(presentation.routeURL)">{{presentation.title}}</p>
                <div class="ro">
                    <SocialButtons :social="presentation.social"></SocialButtons>
                    <CountButtons :counts="presentation.counts" ></CountButtons>
                </div>
            </div>

            <!--<Pagination></Pagination>-->
        </div>

    </div>
</template>

<script>
    export default {
        name: "CategoryPresentation",
        props:['dataResponse'],
        methods:{
            goTo(url){
                window.bus.$emit('goTo', url);
            }
        }
    }
</script>

<style scoped>

</style>