<template>
    <div id="category" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="categories_list row">
            <div v-for="video in dataResponse.Content"
                    class="category_video" :style="{'background': 'url('+video.main_img+')no-repeat center', 'backgroundSize': 'cover' }">
                <p class="title" @click="goTo(video.routeURL)">{{video.title}}</p>
                <div class="ro">
                    <SocialButtons :social="video.social"></SocialButtons>
                    <CountButtons :counts="video.counts" ></CountButtons>
                </div>
            </div>

            <!--<Pagination></Pagination>-->
        </div>

    </div>
</template>

<script>
    export default {
        name: "CategoryVideo",
        props:['dataResponse'],
        methods:{
            goTo(url){
                window.bus.$emit('goTo', url);
            }
        }
    }
</script>

<style scoped>

</style>