<template>
    <div id="listPage" class="row jc-sb bg">
        <section class="left">
            <div id="contactUs">

                <h1>{{dataResponse.Content.title}}</h1>

                <div class="content" v-html="dataResponse.Content.content"></div>
                <textarea name="" id="" rows="10" placeholder="Ваш текст" v-model="text"></textarea>
                <vue-recaptcha sitekey="6LdqV2AUAAAAAKZwOYy8xMHb6LIbGA8iQwnElZgM"
                        @verify="verify"
                        @expired="expired"></vue-recaptcha>
                <div class="row-without-with">
                    <button @click="send">Відправити</button>

                </div>
            </div>
        </section>
        <RightBlock></RightBlock>
    </div>
</template>

<script>
    export default {
        name: "ContactUs",
        props:['dataResponse'],
        data(){
            return{
                text:'',
                captcha:'',
            }
        },
        computed:{

        },
        methods:{
            verify(r){
               this.captcha = r;
            },
            expired(){
                this.captcha = '';
            },
            send(){
                if(this.captcha && this.text){
                    axios.put('/contact-us', {text: this.text})
                        .then(response => {
                            bus.$emit('notify', 'success', '', 'Повідомлення успішно відправено');

                        }).catch(reasone => {
                            console.log(reasone);
                            bus.$emit('notify', 'warn', 'Помилка!', 'Упс, щось трапилось не так!');

                        })

                }
            }
        }
    }
</script>

<style scoped>

</style>