<template>
    <div class="bg" id="faq">
        <div id="listPage" class="row jc-sb">
            <section class="left" id="cabinetOneCategory" @keydown.ctrl.enter="bus.$emit('haveError')" tabindex="0">
                <div class="Consultant"  v-for="spesialist in dataResponse.Content.spesialist">
                    <div class="lf">
                        <div class="img" :style="{background: 'url('+bus.absoluteURL(spesialist.photo)+') center center / cover'}"></div>
                    </div>
                    <div class="rt">
                        <h5>{{spesialist.name}}</h5>
                        <div class="title">hthtfh</div>
                        <div class="description" v-html="spesialist.description"></div>

                    </div>
                    <p class="bold">Lorem ipsum.</p>
                    <ul>
                        <li v-for="listItem in spesialist.data">{{listItem}}</li>
                    </ul>
                    <button @click="bus.$emit('goTo', dataResponse.Content.routeUrl+'/'+ spesialist.id)">text</button>
                </div>
            </section>
            <FAQRightBlock></FAQRightBlock>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FaqPageCabinet",
        props:['dataResponse'],
        data(){
            return{
                bus: bus,
            }
        }

    }
</script>

<style scoped>

</style>