<template>
    <div class="bg">

        <div id="listPage" class="row jc-sb">
            <section class="left">
                <div id="Page" @keydown.ctrl.enter="bus.$emit('haveError')" tabindex="0">
                    <h3 class="title">{{dataResponse.Content.title}}</h3>
                    <div class="ro jc-sb">
                        <SocialButtons :social="dataResponse.Content.social"></SocialButtons>
                    </div>
                    <div class="img"><img v-bind:src="dataResponse.Content.main_img" alt=""></div>
                    <div class="content" v-html="dataResponse.Content.content"></div>
                </div>
                <div class="bottom">
                    <div class="row jc-sb">
                        <SubscribeRightBlock></SubscribeRightBlock>
                        <SendMaterial></SendMaterial>
                    </div>
                    <div class="row someBlock">
                        <h5>Также подобрали для вас</h5>
                    </div>
                    <div class="row someBlock">
                        <div class="pizdect">
                            <ListCard v-for="content in dataResponse.other"
                                      :key="content.id"
                                      :content="content"></ListCard>
                        </div>
                    </div>
                    <CommentsBlock></CommentsBlock>
                </div>
            </section>
            <FAQRightBlock></FAQRightBlock>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FaqPage",
        props:['dataResponse'],

    }
</script>

<style scoped>

</style>