<template>
    <div id="faq" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="faq_page row jc-sb">
            <section class="left" id="cabinetsCategory">
                <div class="cabinetCategory" v-for="category in  dataResponse.category" @click="goTo(category.url)" :style="{background:category.color}">
                    <div class="title">{{category.title}}</div>
                </div>
            </section>
            <FAQRightBlock></FAQRightBlock>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FaqPageCabinetsCategory",
        props:['dataResponse'],
        methods:{
            goTo(url){
                bus.$emit('goTo', '/faq/cabinets/'+url);
            }
        }

    }
</script>

<style scoped>

</style>