<template>
    <div id="faq" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="faq_page row jc-sb">
            <section class="left">
                <div class="faq_one" v-for="content in contents" :style="{background: content.color}">
                    <div class="img" :style="{background: 'url('+content.main_img+') no-repeat center center / cover'}">
                        <div class="left_btn">
                            <div class="fas fa-star"></div>
                        </div>
                    </div>
                    <div class="text_block">
                        <p class="title" @click="bus.$emit('goTo', content.routeURL)">{{content.title}} <i class="far fa-long-arrow-alt-right"></i></p>
                        <!--<p class="mini_text">Lorem ipsum dolor sit amet, consectetur adipisicing.</p>-->
                        <p class="description">{{content.contentShort}}</p>
                        <div class="button_next" >
                            <ArrowDown @click="bus.$emit('goTo', content.routeURL)"></ArrowDown>
                        </div>
                    </div>
                </div>

                <div class="faq_category" v-for="category in dataResponse.category" :style="{background: category.color}">
                    <div class="text_block">
                        <div class="rower">
                            <div class="left_btn">
                                <p class="big">{{category.faqs.length}}</p>
                                <p class="small">item</p>
                            </div>
                            <p class="title" @click="bus.$emit('goTo', category.routeUrl)">{{category.title}} <i class="far fa-long-arrow-alt-right"></i></p>
                            <p class="mini_text" v-html="category.description"></p>
                        </div>
                        <div class="list">
                            <p class="listItem" v-for="faq in category.faqs"><i class="far fa-long-arrow-alt-right"></i>{{faq.title}}</p>
                        </div>

                    </div>
                </div>
            </section>
            <FAQRightBlock></FAQRightBlock>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FAQPageAll",
        props:['dataResponse'],
        data(){
            return{
                bus:bus,
                contents:[],
            }
        },
        watch:{
            dataResponse(){
                this.constructor();
            }
        },
        methods:{
            constructor(){
                if(!_.isArray(this.dataResponse.Content)){
                    this.contents = [];
                    this.contents.push(this.dataResponse.Content);
                }else{
                    this.contents = this.dataResponse.Content
                }
            }
        },
        created(){
            this.constructor();
        }
    }
</script>

<style scoped>

</style>