<template>
    <div id="HelpDesk" class="bg">
        <h1>HelpDesk</h1>
        <HelpDeskBlock v-if="list" :list="list" :user="true"></HelpDeskBlock>
    </div>
</template>

<script>
    export default {
        name: "HelpDeskUser",
        data(){
            return{
                list:{}
            }
        },
        created(){
            axios.post('/helpdesk', {get:'user'})
                .then(response=>{
                    if(response.data.ErrorCode==1){
                        this.list = response.data.Content;
                    }
                })
        }
    }
</script>

<style scoped>

</style>