<template>
    <div id="HelpDesk" class="bg">
        <h1>HelpDesk</h1>
        <div class="tabs row">
            <div class="tab" :class="(tab=='HelpDeskAll')?'active':''" @click="changeTab('HelpDeskAll')">All</div>
            <div class="tab" :class="(tab=='HelpDeskMy')?'active':''"  @click="changeTab('HelpDeskMy')">My</div>
        </div>
        <component v-bind:is="tab"></component>
    </div>

</template>

<script>
    export default {
        name: "HelpDesk",
        data(){
            return{
                tab:'HelpDeskAll'
            }
        },
        methods:{
            changeTab(tab){
                this.tab = tab;
            }
        }
    }
</script>

<style scoped>

</style>