<template>
    <div id="HelpDesk" class="bg">
        <h1>HelpDesk</h1>
        <div class="helpdeskOne">
            <table>
                <tr>
                    <td>subject</td>
                    <td>{{dataResponse.Content.subject}}</td>
                </tr>
                <tr>
                    <td>name</td>
                    <td>{{dataResponse.Content.user.name}}</td>
                </tr>
                <tr>
                    <td>Text</td>
                    <td v-html="dataResponse.Content.text"></td>
                </tr>
                <tr>
                    <td>Files</td>
                    <td>
                        <p v-for="file in dataResponse.Content.files">
                            <a :href="bus.absoluteURL(file)">f1</a>
                        </p>
                    </td>
                </tr>
            </table>
            <div class="form">
                <p class="form_title">Lorem ipsum.</p>
                <label for="">gdfrgfghfgh</label>
                <vue-editor v-model="text"></vue-editor>
                <label for="">
                    <p>files</p>
                    <p>files</p>

                </label>
                <label class="file_block">
                    <input type="file" id="files" ref="files" multiple v-on:change="handleFilesUpload()"/>
                    <i class="fas fa-file-plus"></i>
                    <p>newFile</p>
                </label>
                <p class="file_info">dfdfdsfdsfdsfdsfdsf <span class="bold">5</span> dsfdsf df d <span class="bold">d</span></p>
                <button class="button" @click.prevent="submitFiles">dfdsfds</button>
            </div>
            <div class="messanges">
                <div class="messange" v-for="message in dataResponse.Content.message" :class="(message.from_user == 1) ? 'my' : ''">
                    <div class="user_info" v-if="message.from_user == 1">
                        <div class="img" :style="{background: 'url('+bus.absoluteURL(message.departure.photo+') center center / cover')}"></div>
                        <p class="name">{{message.departure.name}}</p>
                    </div>
                    <div class="user_info" v-else>
                        <div class="img" :style="{background: 'url('+bus.absoluteURL(message.user.photo+') center center / cover')}"></div>
                        <p class="name">{{message.user.name}}</p>
                    </div>
                    <div class="text" v-html="message.text"></div>
                    <a v-for="file in message.files" :href="bus.absoluteURL(file)" class="file"><i class="fas fa-file"></i>Lorem ipsum.</a>
                </div>

            </div>
        </div>
    </div>
</template>


<script>
    export default {
        name: "HelpDeskOne",
        props:['dataResponse'],
        data(){
            return{
                bus:bus,

                text:'',
                departure:'',
                files: [],

            }
        },
        methods:{
            submitFiles(){
                let formData = new FormData();

                formData.append('text', this.text);
                //formData.append('departure', this.departure);
                for( var i = 0; i < this.files.length; i++ ){
                    let file = this.files[i];
                    formData.append('files[' + i + ']', file);
                }
                axios.post( location.href+'/sendMessage',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then((response)=>{
                    if(response.status==200 && response.data.ErrorCode == 1) {
                        bus.$emit('notify', 'success', 'Успішно', 'Дякуємо за звернення. Спеціаліст обов\'язково вам відповість');
                        bus.$emit('refresh');
                    }
                })
                .catch(()=>{
                    bus.$emit('notify', 'warn', 'Помилка', 'Упс!!! Трапилася помилка.');
                });
            },
            handleFilesUpload(){
                let uploadedFiles = this.$refs.files.files;
                for( var i = 0; i < uploadedFiles.length; i++ ){
                    this.files.push( uploadedFiles[i] );
                }
            },
            removeFile( key ){
                this.files.splice( key, 1 );
            }
        }
    }
</script>

<style scoped>

</style>