<template>
    <div class="bg">
    <div id="listPage" class="row jc-sb">
        <section class="left">
            <ListCard v-for="content in dataResponse.Content"
                :key="content.id"
                :content="content"></ListCard>
            <pagination v-if="dataResponse.pagination.last_page > 1" :pagination="dataResponse.pagination" :offset="5" @paginate="fetchPosts()"></pagination>
        </section>
        <RightBlock></RightBlock>
    </div>
    </div>
</template>

<script>
    import RightBlock from "../Block/RightBlock";
    export default {
        name: "ListPage",
        components: {RightBlock},
        props:['dataResponse'],
        created:function (){

        },
        methods:{
            fetchPosts() {
                window.bus.$emit('goTo', window.location.pathname+'?page=' + this.dataResponse.pagination.current_page);
            }
        }
    }
</script>

<style scoped>

</style>