<template>
<div>
    <div id="section-top">
        <!--<div class="text-block" v-html="dataResponse.setting.main_page_top_text"></div>-->
        <div class="logos row">
            <div class="logo"><img src="/img/childUA.png" alt=""></div>
            <div class="logo"><img src="/img/big-logo.png" alt=""></div>

        </div>
    </div>
    <div id="polezno">
        <div class="row jc-c">
            <h2>{{bus.lang.this_is_maybe_polesno}}</h2>
        </div>
        <div class="row jc-sb">
            <div class="card" @click="goTo('/cabinets')">
                <Consult></Consult>
                <h4>{{bus.lang.consultation}}</h4>
            </div>
            <div class="card" @click="goTo('/category/documents')">
                <Document></Document>
                <h4>{{bus.lang.documents}}</h4>
            </div>
            <div class="card">
                <Tests></Tests>
                <h4>{{bus.lang.tests}}</h4>
            </div>
            <div class="card" @click="goTo('/category/book')">
                <Library></Library>
                <h4>{{bus.lang.library}}</h4>
            </div>
            <div class="card" @click="goTo('/servises')">
                <Servises></Servises>
                <h4>{{bus.lang.servises}}</h4>
            </div>
        </div>
    </div>
    <MapComponent class="sm row"></MapComponent>

    <div id="vazno">
        <div class="row jc-fs">
            <h2>{{bus.lang.it_is_vazhno}}</h2>
        </div>
        <div class="row jc-sb">
            <div class="left">
                <VazhnoCard
                        v-for="content in VazhnoToList"
                        :key="content.id"
                        :content="content"></VazhnoCard>
                <button class="reedMore" v-on:click="goTo(dataResponse.btnReadAll.ItIsImportant)">{{bus.lang.readAll}}</button>
            </div>
            <div class="right">
                <VazhnoCardBig :content="FirstVazhno"></VazhnoCardBig>
            </div>
        </div>
    </div>
    <div class="bg">

        <div id="main-content" class="row jc-sb">
            <div id="blog">
                <h2>{{bus.lang.newest_new}}</h2>
                <BlogCard v-for="content in dataResponse.Content.News"
                          :key="content.id"
                          :content="content"></BlogCard>
                <button class="reedMore" v-on:click="goTo(dataResponse.btnReadAll.News)">{{bus.lang.readAll}}</button>

            </div>
            <div class="right">
                <SubscribeFormInMainPage></SubscribeFormInMainPage>
                <div id="blog2">
                    <h2>{{bus.lang.blog}}</h2>
                    <BlogCardBig :content="FirstBlog"></BlogCardBig>
                    <Blog2Card v-for="content in BlogToList"
                               :key="content.id"
                               :content="content"></Blog2Card>

                    <button class="reedMore" v-on:click="goTo(dataResponse.btnReadAll.Blog)">{{bus.lang.readAll}}</button>
                </div>
                <div id="Calendar" class="pc">
                    <h2>{{bus.lang.calendar_of_events}}</h2>
                    <CalendarCard
                            v-for="content in dataResponse.Content.Calendar"
                            :key="content.id"
                            :content="content"></CalendarCard>
                    <button v-on:click="goTo(dataResponse.btnReadAll.Calendar)">{{bus.lang.see_calendar}}</button>
                </div>
                <MapComponent class="pc"></MapComponent>
                <div id="help">
                    <h2>{{bus.lang.ask_the_question}}</h2>
                    <div class="text" v-html="dataResponse.setting.help_text"></div>
                    <div class="label_row">
                        <input type="text" :placeholder="bus.lang.fio">
                        <input type="text" :placeholder="bus.lang.email">
                    </div>
                    <input type="text" :placeholder="bus.lang.theme">
                    <textarea cols="30" rows="10" :placeholder="bus.lang.message"></textarea>
                    <button>{{bus.lang.submit}}</button>
                </div>
            </div>
        </div>
        <div id="user-history">
            <div class="row">
                <h2>{{bus.lang.history_of_our_reads}}</h2>
            </div>
            <div class="row jc-sb">
                <UserHistoryCard  v-for="content in dataResponse.Content.UserHistory"
                                  :key="content.id"
                                  :content="content"></UserHistoryCard>
            </div>
        </div>
        <div id="Calendar" class="sm row">
            <h2>{{bus.lang.calendar_of_events}}</h2>
            <CalendarCard
                    v-for="content in dataResponse.Content.Calendar"
                    :key="content.id"
                    :content="content"></CalendarCard>
            <button v-on:click="goTo(dataResponse.btnReadAll.Calendar)">{{bus.lang.see_calendar}}</button>
        </div>
        <div id="about-us">
            <div class="row">
                <h2>{{bus.lang.about_us}}</h2>
            </div>
            <div class="row jc-sb">
                <div class="img">
                    <img src="img/about-us.png" alt="">
                </div>
                <div class="block">
                    <div class="text" v-html="dataResponse.setting.main_page_about_us_text">
                    </div>
                    <button @click="goTo('/about-us')">{{bus.lang.readAll}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import BlogCardBig from "../Cards/BlogCardBig";
    export default {
        components: {BlogCardBig},
        props:['dataResponse'],
        data(){
            return {
                bus: window.bus
            }
        },
        methods:{
          goTo(url){
              window.bus.$emit('goTo', url);
          }
        },
        computed:{
            FirstVazhno(){
                if( this.dataResponse.hasOwnProperty('Content') && this.dataResponse.Content.hasOwnProperty('ItIsImportant')){
                       return this.dataResponse.Content.ItIsImportant[0];
                }
            },
            VazhnoToList() {
                if( this.dataResponse.hasOwnProperty('Content') && this.dataResponse.Content.hasOwnProperty('ItIsImportant')){
                    return this.dataResponse.Content.ItIsImportant.slice(1);
                }
            },
            FirstBlog() {
                if( this.dataResponse.hasOwnProperty('Content') && this.dataResponse.Content.hasOwnProperty('Blog')){
                    return this.dataResponse.Content.Blog[0];
                }
            },
            BlogToList() {
                if( this.dataResponse.hasOwnProperty('Content') && this.dataResponse.Content.hasOwnProperty('Blog')){
                    return this.dataResponse.Content.Blog.slice(1);
                }
            }
        }
    }
</script>
