<template>
    <div id="category" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="row jc-c">
            <iframe :src="src" class="presentation"  frameborder="0">
            </iframe>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PagePresentation",
        props:['dataResponse'],
        methods:{
            goTo(url){
                window.bus.$emit('goTo', url);
            }
        },
        computed:{
            src(){
                return "https://docs.google.com/gview?url="+this.dataResponse.Content.file+"&embedded=true";
            }
        }
    }
</script>

<style scoped>

</style>