<template>
    <div class="bg">

    <div id="listPage" class="row jc-sb">
        <section class="left">
            <div id="Page"  @keydown.ctrl.enter="bus.$emit('haveError')" tabindex="0">
                <h3 class="title">{{dataResponse.Content.title}}</h3>
                <div class="ro jc-sb">
                    <SocialButtons :social="dataResponse.Content.social"></SocialButtons>
                    <CountButtons :counts="dataResponse.Content.counts" ></CountButtons>
                </div>
               <!-- <div class="img"><img v-bind:src="dataResponse.Content.main_img" alt=""></div>-->
                <div class="content" v-html="dataResponse.Content.content"></div>
                <div class="ro">
                    <p class="centerError">Знайшли помилку? Виділить її і натисніть Ctrl+Enter</p>
                </div>
                <div class="ro">
                    <a v-for="tag in dataResponse.Content.tags" class="hashTag" :key="tag.id" :href="tag.routeURL" @click.prevent="bus.$emit('goTo', tag.routeURL)">#{{tag.tagName}}</a>
                </div>
                <div class="ro jc-sb">
                    <SocialButtons :social="dataResponse.Content.social"></SocialButtons>
                </div>
            </div>
            <div class="bottom">
                <div class="row jc-sb">
                    <SubscribeRightBlock v-if="!hasSetting || (hasSetting && setting.sidebarBlockPodpiska)"></SubscribeRightBlock>
                    <SendMaterial v-if="!hasSetting || (hasSetting && setting.sidebarButtonNewMaterial)"></SendMaterial>
                </div>
                <div class="row someBlock" v-if="!hasSetting || (hasSetting && setting.seeNews)">
                    <h5>Также подобрали для вас</h5>
                </div>
                <div class="row someBlock" v-if="!hasSetting || (hasSetting && setting.seeNews)">
                    <div class="pizdect">
                        <ListCard v-for="content in dataResponse.other"
                                  :key="content.id"
                                  :content="content"></ListCard>
                    </div>
                </div>
                <CommentsBlock v-if="!hasSetting || (hasSetting && !setting.disableComments)"></CommentsBlock>
            </div>
        </section>
        <RightBlock :setting="setting"></RightBlock>
    </div>
    </div>
</template>

<script>
    export default {
        name: "Page",
        props:['dataResponse'],
        data(){
            return{
                bus:bus,
            }
        },
        computed:{
            hasSetting(){
                return !!this.dataResponse.Content.setting;
            },
            setting(){
                return this.dataResponse.Content.setting;
            }
        }
    }
</script>

<style scoped>

</style>