<template>
    <div id="category" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="row jc-c">
            <youtube class="video" :video-id="dataResponse.Content.youtube_id"></youtube>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PageVideo",
        props:['dataResponse'],
        methods:{
            goTo(url){
                window.bus.$emit('goTo', url);
            }
        }
    }
</script>

<style scoped>

</style>