<template>
    <div class="bg">
        <div id="RegBisnes">
            <label>{{bus.lang.RegBissines_category}}
                <select v-model="category">
                    <option v-for="cat in dataResponse.category" :value="cat.id">{{cat.title}}</option>
                </select>
            </label>
            <template v-if="category">
                <template v-for="formElement in dataResponse.category[category].data">
                    <label v-if="formElement.element=='email'">{{bus.lang.RegBissines_email}}{{formElement.required?'*':''}}
                        <input type="text" v-model="email">
                    </label>
                    <label  v-if="formElement.element=='nameOrganization'">{{bus.lang.RegBissines_organizitio_name}}{{formElement.required?'*':''}}
                        <input type="text"  v-model="nameOrganization">
                    </label>
                    <template v-if="formElement.element=='address'">
                        <label>{{bus.lang.RegBissines_region}}{{formElement.required?'*':''}}
                            <select  v-model="region">
                                <option v-for="regionOne in dataResponse.regions"
                                        :key="regionOne.id"
                                        :value="regionOne.id">{{regionOne.name}}</option>
                            </select>
                        </label>
                        <label>{{bus.lang.RegBissines_city}}{{formElement.required?'*':''}}
                            <select  v-model="city">
                                <option v-for="cityOne in dataResponse.citys"
                                        v-if="(region && cityOne.db_rootid==region) || !region"
                                        :key="cityOne.id"
                                        :value="cityOne.id">{{cityOne.name}}</option>
                            </select>
                        </label>
                        <label>{{bus.lang.RegBissines_adressa}}{{formElement.required?'*':''}}
                            <input type="text" v-model="l">
                        </label>
                        <location-picker
                                class="loc-pic"
                                style=""
                                v-model="location"
                                :options="options">
                        </location-picker>
                    </template>
                    <label v-if="formElement.element=='vlasnost'">{{bus.lang.RegBissines_formVlasnosti}}{{formElement.required?'*':''}}
                        <select  v-model="vlasnost">
                            <option value="1">{{bus.lang.nation}}</option>
                            <option value="2">{{bus.lang.private}}</option>
                            <option value="3">{{bus.lang.other}}</option>
                        </select>
                    </label>

                    <div v-if="formElement.element.indexOf('type')>-1">{{dataResponse.podCategorii[formElement.element.substr(4)].title}}{{formElement.required?'*':''}}
                        <template v-if="!dataResponse.podCategorii[formElement.element.substr(4)].multiselected">
                            <select  v-model="type[formElement.element.substr(4)]">
                                <option v-for="(value, key) in dataResponse.podCategorii[formElement.element.substr(4)].data" :value="key" >{{value.title}}</option>
                            </select>
                        </template>
                        <template v-else>
                            <div class="checkbox_block">
                                <label class="checkbox" v-for="(value, key) in dataResponse.podCategorii[formElement.element.substr(4)].data" >
                                    <input type="checkbox" v-model="type[formElement.element.substr(4)]" :value="key">
                                    {{value.title}}
                                </label>
                            </div>
                        </template>
                    </div>

                    <template  v-if="formElement.element=='contacts'">
                        <label>{{bus.lang.RegBissines_Phone}}{{formElement.required?'*':''}}
                            <input type="text" v-model="telefone">
                        </label>
                        <label>{{bus.lang.RegBissines_email2}}{{formElement.required?'*':''}}
                            <input type="text" v-model="email2">
                        </label>
                    </template>
                    <template  v-if="formElement.element=='site'">
                        <label>{{bus.lang.RegBissines_site}}{{formElement.required?'*':''}}
                            <input type="text" v-model="site">
                        </label>
                    </template>
                    <template  v-if="formElement.element=='social'">
                        <label>{{bus.lang.RegBissines_Twitter}}{{formElement.required?'*':''}}
                            <input type="text"  v-model="twitter">
                        </label>
                        <label>{{bus.lang.RegBissines_Facebook}}{{formElement.required?'*':''}}
                            <input type="text"  v-model="facebook">
                        </label>
                        <label>{{bus.lang.RegBissines_Instagram}}{{formElement.required?'*':''}}
                            <input type="text"  v-model="instagram">
                        </label>
                    </template>
                    <template  v-if="formElement.element=='photo'">
                        <label>{{bus.lang.RegBissines_logo}}{{formElement.required?'*':''}}
                            <input type="file" v-on:change="f1($event)">
                        </label>
                        <label>{{bus.lang.RegBissines_photo}}{{formElement.required?'*':''}}
                            <input type="file"  multiple v-on:change="f2($event)">
                        </label>
                    </template>
                    <label v-if="formElement.element=='fio'">{{bus.lang.RegBissines_fio}}{{formElement.required?'*':''}}
                        <input type="text" v-model="fio">
                    </label>
                    <label v-if="formElement.element=='kod'">{{bus.lang.RegBissines_cod}}{{formElement.required?'*':''}}
                        <input type="text" v-model="kod">
                    </label>
                    <label v-if="formElement.element=='description'">{{bus.lang.RegBissines_description}}{{formElement.required?'*':''}}
                        <input type="text" v-model="description">
                    </label>
                    <label v-if="formElement.element=='fitback'">{{bus.lang.RegBissines_otzivi}}{{formElement.required?'*':''}}
                        <input type="text" v-model="fitback">
                    </label>
                </template>
                <label>
                    <p>{{bus.lang.helpDesk_littleText}}</p>
                </label>
            </template>

            <button class="button" @click="send">{{bus.lang.RegBissines_add}}</button>
        </div>
    </div>
</template>

<script>
    export default {
        props:['dataResponse'],
        name: "RegBisnes",
        data(){
            return{
                bus:bus,
                category:'',

                email:'',
                nameOrganization:'',
                region:'',
                city:'',
                l:'',
                location: {
                    lat:48.5, lng:33
                },
                vlasnost:'',
                type : [[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]],

                napram : '',
                incluzia:'',
                telefone:'',
                email2:'',
                site : '',
                facebook:"",
                twitter:'',
                instagram:'',
                file1:'',
                file2:[],
                fio : '',
                kod:'',
                description:'',
                fitback : '',

                options: { // is not required
                    map: {center:{lat:48.5, lng:33}, zoom:5.5},
                    marker: { /** marker options **/ },
                    autocomplete: { /** autocomplete options **/ }
                },
            }
        },
        computed:{
            requestBody(){
                return{
                    email:this.email,
                    nameOrganization:this.nameOrganization,
                    region:this.region,
                    city:this.city,
                    name:this.name,
                    l:this.l,
                    location:this.location,
                    vlasnost:this.vlasnost,
                    type:this.type,
                    napram:this.napram,
                    incluzia:this.incluzia,
                    telefone:this.telefone,
                    email2:this.email2,
                    site:this.site,
                    facebook:this.facebook,
                    twitter:this.twitter,
                    instagram:this.instagram,
                    file1:this.file1,
                    file2:this.file2,
                    fio : this.fio,
                    kod:this.kod,
                    description:this.description,
                    fitback:this.fitback,

                    category:this.category,

                }
            }
        },
        methods:{
            f1(event) {
                let input = event.target.files;
                var file = input[input.length-1];
                var reader = new FileReader();
                reader.onloadend = () => {
                    this.file1=reader.result;
                };
                reader.readAsDataURL(file);
            },
            f2(event) {
                let input = event.target.files;
                this.file2=[];
                _.forEach(input, (f, index)=>{
                    var reader = new FileReader();
                    reader.onloadend = () => {
                        this.file2.push(reader.result);
                    };
                    reader.readAsDataURL(f);
                })
            },
            send(){
                axios.put('/registraton-business', this.requestBody)
                    .then(response => {
                            bus.$emit('notify', 'success', 'Успішно', 'Матеріал передано нашим спеціалістам на модерацію. Дякуємо за матеріал!');
                    }).catch(reasone => {
                    console.log(reasone);
                })
            }
        }
    }
</script>

<style scoped>

</style>