<template>
   <div id="servises" class="">
       <div class="map-container">
           <GmapMap
                   class="right"
                   :center="{lat:48.5, lng:33}"
                   :zoom="6"
           >
              <GmapMarker
                       v-for="(mark, index) in bissines"
                       :key="index"
                       :position="{lat:mark.data.location.lat, lng:mark.data.location.lng}"
                       :clickable="true"
                       :draggable="false"
                       :icon="icon(mark.category)"
                       ref="mm"
                       @click="toggleInfoWindow(mark, index)"
               />
               <gmap-info-window  :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
                   <TooltipItem :marker="infoContent"></TooltipItem>
               </gmap-info-window>
           </GmapMap>
       </div>
       <div class="blue">
           <div class="row jc-sb sm-col">
               <div class="r">
                   <v-autocomplete ref="autocomplite"
                                    :items="items"
                                   v-model="item"
                                   :get-label="getLabel"
                                   @update-items="updateItems"
                                   :component-item='template'
                                   :min-len="1"
                                    ></v-autocomplete>
                   <!-- @blur="updateItems"
                                   @item-clicked="updateItems"

                                   :component-item='template' -->
                   <select v-model="category">
                       <option value="" selected>{{bus.lang.select_category}}</option>
                       <option v-for="category in dataResponse.category" :value="category.id">{{category.title}}</option>
                   </select>
                   <select v-model="region">
                       <option value="" selected>{{bus.lang.select_region}}</option>
                       <option v-for="reg in dataResponse.regions" :value="reg.id">{{reg.name}}</option>
                   </select>
               </div>
               <button @click="cl">{{bus.lang.search}}</button>
           </div>
       </div>
       <div class="block opisanie">
           <h3 class="title">{{bus.lang.mapTitle}}</h3>
           <div class="text">{{bus.lang.mapDescription}}</div>
           <div class="block_categories">
               <div class="category" v-for="cat in dataResponse.category">
                   <div class="col img" :class="cat.icon"></div>
                   <div class="col text">
                       <div class="title">{{cat.title}}</div>
                       <!--<div class="decription" v-html="cat.description"></div>-->
                   </div>
               </div>

           </div>
           <div class="bottom">
               <div class="text">{{bus.lang.mapDescriptionBottom}}</div>
               <div class="row jc-sb s">
                   <ButtonRegBissines></ButtonRegBissines>
                   <SubscribeRightBlock></SubscribeRightBlock>
               </div>
           </div>
       </div>
   </div>
</template>

<script>
    import autocompliteItem from '../mimiComponents/autocompliteItem.vue';

    export default {
        name: "Servives",
        props:['dataResponse'],
        data(){
            return {
                bus: bus,

                category:'',
                region:'',
                template: autocompliteItem,
                item:null,
                cityes: [],
                items:[],
                bissines:[],

                infoWinOpen:false,
                infoWindowPos:null,
                infoContent: {
                    id:'',
                    data:{email:"",name:"",email2:"",description:"",website:"",phone:"",video:"","facebook":" ","twitter":"","instagram":"","region":"","location":{"lat":45.32580721583,"lng":34.610063767443},"file1":"","file2":["","","",""],"l":null,"":null,"":"3"},"":null,"created_at":"","updated_at":"","locatonToYandex":"","routeURL":"","cityName":"","category":{"id":3,"title":"3","created_at":"","updated_at":"","marker_img":""},"locale":null},
                currentMidx:'',
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                },
            }
        },
        created(){
            bus.$on('inServise', (item)=>{
                this.item = item;
                this.cl();
            });
            this.bissines = this.dataResponse.items;
            this.cityes = this.dataResponse.city;
            this.items = _.slice(this.cityes, 0, 10);
        },
        computed:{
            bodyRequest(){
                let city_id = null;
                if(this.item) {
                    city_id =this.item.id;
                }
                return{
                    q_city: city_id,
                    q_category: this.category,
                    q_region: this.region,
                }
            },
        },
        methods:{
            icon(category) {
                  if(category) {
                    return {
                        url: category.marker_img,
                        scaledSize: new google.maps.Size(64, 64)
                    }
                }
            },
            toggleInfoWindow: function(marker, idx) {

                this.infoWindowPos = marker.data.location;
                this.infoContent = marker;

                //check if its the same marker that was selected if yes toggle
                if (this.currentMidx == idx) {
                    this.infoWinOpen = !this.infoWinOpen;
                }
                //if different marker set infowindow to open and reset current marker index
                else {
                    this.infoWinOpen = true;
                    this.currentMidx = idx;

                }
            },
            goTo(url){
              bus.$emit('goTo', url)
            },

            getLabel(item){
                if(item) {
                    return item.name;
                }else{
                    return '';
                }
            },
            updateItems(text){
                this.items = _.slice(_.filter(this.cityes, (item)=>{
                    return _.lowerCase(item.name).indexOf(_.lowerCase(text)) > -1;
                }), 0, 10)
            },
            cl(){
                axios.post('/servises/search', this.bodyRequest)
                    .then( response => {
                        this.bissines = response.data
                    })
            }
        }
    }
</script>

<style scoped>

</style>