<template>
    <div class="page_block Auth">
        <h5>{{dataResponse.langString.resetPassword}}</h5>
        <div class="input">
            <input type="email" placeholder="Email" v-model="email">
        </div>
        <div class="input">
            <input type="password" placeholder="Пароль" v-model="password">
        </div>
        <div class="input">
            <input type="password" placeholder="Повторіть пароль" v-model="password_confirmation">
        </div>

        <div class="form_row">
            <button @click="send">{{bus.lang.nextTisk}}</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "showResetForm",
        props: ['dataResponse'],
        data() {
            return {
                bus: bus,

                email: '',
                password: '',
                password_confirmation: '',
                token: '',
            }
        },
        mounted() {
            this.token = this.dataResponse.token;
        },
        computed: {
            requesrData() {
                return {
                    email: this.email,
                    token: this.token,
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                }
            }
        },
        methods: {
            send() {
                axios.post('/password/reset', this.requesrData)
                    .then(response => {
                        if (response.data.ErrorCode == 1) {
                            bus.$emit('goTo', '/');
                            bus.$emit('notify', 'success', 'Успішно', 'На ваш пароль змінено');
                        }
                        if (response.data.ErrorCode == 55) {
                            bus.$emit('notify', 'warn', 'Помилка', "");
                        }
                        if (response.data.ErrorCode == 56) {
                            _.forIn(response.data.messages, (value, key) => {
                                _.forEach(value, (v) => bus.$emit('notify', 'warn', key, v));
                            });
                        }
                    })
                    .catch(reason => {
                        console.log(reason);
                    });
            }
        }
    }
</script>

<style scoped>

</style>