<template>
    <div class="bg">
        <div id="SuggestPage" class="row jc-sb">
            <section class="left">
                <h1>Запропонувати матеріал</h1>

                <label>
                    <p>Категорія матеріалу</p>
                    <select v-model="category">
                        <option v-for="categoryM in dataResponse.Category" :value="categoryM.id">{{categoryM.title}}</option>
                    </select>
                </label>
                <label>
                    <p>Назва матеріалу</p>
                    <input type="text"  v-model="title">
                </label>
                <div>
                    <p class="bold">Зображення</p>
                    <label class="inline">
                        <Upload class="btn_upload" v-if="!img"></Upload>
                        <div class="upload_preview" v-if="img" v-bind:style="{background: 'url('+img+') center/contain no-repeat'}"></div>
                        <input type="file" @change="inputToIMG($event)">
                    </label>
                </div>
                <label><p>Описання</p></label>
                <vue-editor v-model="description"></vue-editor>

                <vue-recaptcha sitekey="6LdqV2AUAAAAAKZwOYy8xMHb6LIbGA8iQwnElZgM"
                               @verify="verify"
                               @expired="expired"
                                class="captcha"></vue-recaptcha>
                <div class="row-without-with">
                    <button @click="send" class="button">Відправити</button>

                </div>
            </section>
            <RightBlock></RightBlock>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SuggestPage",
        props:['dataResponse'],
        data(){
          return {
              captcha:'',

              title:'',
              img:'',
              description:'',
              category:1,
          }
        },
        computed:{
          request(){
              return{
                  title: this.title,
                  img: this.img,
                  content: this.description,
                  category_user_material_id: this.category,
              }
          }
        },
        methods:{
            verify(r){
                this.captcha = r;
            },
            expired(){
                this.captcha = '';
            },
            inputToIMG(event) {
                let input = event.target.files;
                var file = input[input.length-1];
                var reader = new FileReader();
                reader.onloadend = () => {
                    /*t.img = reader.result;
                    t.$emit('changeAva', t.img);*/
                    this.img = reader.result;
                };
                reader.readAsDataURL(file);
            },
            validate(){
              let error = false;
              if(!this.title){
                    error=true;
                    bus.$emit('notify', 'warn', 'Обов\'язкове поле', 'Введіть будь-ласка Заголовок.');
              }
              if (!this.description){
                  error=true;
                  bus.$emit('notify', 'warn', 'Обов\'язкове поле', 'Введіть будь-ласка Описання.');
              }
                if (!this.captcha){
                    error=true;
                    bus.$emit('notify', 'warn', 'Ви робот?', 'Підтвердіть що ви не робот.');
                }
                return !error;
            },
            send(){
                if(this.validate()) {
                    axios.put('/suggest', this.request)
                        .then(response => {
                            if(response.data.ErrorCode == 1){
                                bus.$emit('notify', 'success', 'Успішно', 'Матеріал передано нашим спеціалістам на модерацію. Дякуємо за матеріал!');
                            }else{
                                bus.$emit('notify', 'warn', 'Помилка', 'Упс!!! Трапилася помилка.');
                            }

                        })
                        .catch(reason => {
                            bus.$emit('notify', 'warn', 'Помилка', 'Упс!!! Трапилася помилка.');
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>