<template>
    <div id="testCategory" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="row">
            <div class="jc-sb">
                <div class="testCategory" v-for="category in  dataResponse.category" @click="goTo(category.routeURL)" :style="{background:category.color}">
                    <div class="title">{{category.title}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TestCategory",
        props:['dataResponse'],
        created(){
            console.log(this.dataResponse)
        },
        methods:{
            goTo(url){
                console.log(url);
                window.bus.$emit('goTo', url);
            }
        }
    }
</script>

<style scoped>

</style>