<template>
    <div id="testOne" class="bg">
        <HeaderCategory :data="dataResponse"></HeaderCategory>
        <div class="row">
            <div class="jc-sb">
                <div class="test" v-if="!showRezult">
                    <h4 class="title">{{dataResponse.Content.title}}</h4>
                    <p class="question">{{dataResponse.Content.data[selectedQuestion].question}}</p>
                    <p class="count_questions">Запитання {{selectedQuestion+1}} з {{dataResponse.Content.data.length}}</p>
                    <div class="answerBlock">
                        <div class="answer" v-for="(answer, key) in dataResponse.Content.data[selectedQuestion].answers"
                             :key="key"
                             @click="selectValue(selectedQuestion, key)"
                             :class="(arrayAnswers[selectedQuestion] == key) ? 'selected': ''">
                            <div class="bukva"><p>{{letters[key]}}</p></div>
                            <div class="ansver_text">{{answer.title}}</div>
                        </div>
                    </div>
                    <div class="r">
                        <button @click="prevQuestion" v-if="selectedQuestion>0">Назад</button>
                        <button @click="nextQuestion">Далі</button>
                    </div>
                </div>
                <div class="rezult" v-if="showRezult">
                    <p class="rezultText">Ваш результат: {{getRezult()}}%</p>

                </div>
                <div class="testInfo">
                    <div class="progressbar">
                        <div class="progressbar_line" :style="{width: getPersent + '%'}"></div>
                    </div>
                    <div class="textBlock">
                        <div class="bigText">{{getPersent}}%</div>
                        <div class="smallText">Пройденного тесту</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TestOne",
        props:['dataResponse'],
        data(){
            return{
                bus:bus,
                letters:['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'],
                selectedQuestion:0,
                arrayAnswers:[],
                showRezult:false,
            }
        },
        created(){
            this.arrayAnswers = _.fill(Array(this.dataResponse.Content.data.length), -1);
        },
        computed:{
          getPersent(){
              return (this.selectedQuestion) / this.dataResponse.Content.data.length *100
          }
        },
        methods:{
            goTo(url){
                window.bus.$emit('goTo', url);
            },
            selectValue(selectedQuestion, key){
                this.arrayAnswers[selectedQuestion] = key;
                this.$forceUpdate();
            },
            nextQuestion(){
                if(this.arrayAnswers.length == this.selectedQuestion+1){
                    this.showRezult = true;
                }
                if(this.arrayAnswers[this.selectedQuestion]!=-1 && this.arrayAnswers.length>this.selectedQuestion+1){
                    this.selectedQuestion++;
                }
            },
            prevQuestion(){
                if(this.selectedQuestion>0){
                    this.selectedQuestion--;
                }
            },
            getMaxValFromColection(colect){
                let max = parseInt(colect[0].value);
                _.forEach(colect, (value)=>{
                    if(max < parseInt(value.value)){
                        max = parseInt(value.value);
                    }
                });
                return max;
            },
            getRezult(){
                let maxBall=0;
                let myBall=0;
                _.forEach(this.arrayAnswers, (value, key)=>{
                    maxBall += parseInt(this.getMaxValFromColection(this.dataResponse.Content.data[key].answers));
                    myBall += parseInt(this.dataResponse.Content.data[key].answers[value].value);
                });
                return (myBall / maxBall *100).toFixed(2);
            }
        }
    }
</script>

<style scoped>

</style>