<template>
    <div>
        <p><b>Список напрямків роботи:</b></p>
        <table>
            <tr v-for="(val, key) in values" :key="key">
                <td>
                    <input type="text" name="data[]" v-model="values[key]">
                </td>
                <td>
                    <button class="btn btn-danger minuss" @click.prevent="del('key')">-</button>
                </td>
            </tr>
        </table>
        <button class="btn btn-success pluss" @click.prevent="addRow">+</button>
    </div>
</template>

<script>
    export default {
        name: "arrayString",
        props:['value'],
        data(){
            return{
                values:[],
            }
        },
        created(){
            if(this.value){
                this.values = this.value;
            }
        },
        methods:{
            addRow(){
                this.values.push('');
            },
            del(key){
                this.values.splice(key, 1);
            }
        }
    }
</script>

<style scoped lang="scss">
    input{
        min-width: 50%;
        max-width: 500px;
    }
    .btn{
        margin: 5px;
    }
</style>