<template>
	<div id="iconPicker" @submit.prevent.stop="">
		<label class="control-label">
			Іконка

			<span class="form-element-required">*</span></label>
		<div class="iconSelected">
			<i :class="selected"></i>
		</div>
		<div class="iconPicker__header">
			<input type="text" :placeholder="searchPlaceholder" @keyup="filterIcons($event)">
		</div>
		<div class="iconPicker__body">
			<div class="iconPicker__icons">
				<template v-for="(icon, key) in icons">
					<a
						href="#"
						@click.stop.prevent="getIcon(icon, 'fas')"
						:class="`item ${selected === 'fas fa-'+icon ? 'selected' : ''}`"
					>
						<i :class="'fas fa-'+icon"></i>
					</a>
					<a
							href="#"
							@click.stop.prevent="getIcon(icon, 'fal')"
							:class="`item ${selected === 'fal fa-'+icon ? 'selected' : ''}`"
					>
						<i :class="'fal fa-'+icon"></i>
					</a>
					<a
							href="#"
							@click.stop.prevent="getIcon(icon, 'far')"
							:class="`item ${selected === 'far fa-'+icon ? 'selected' : ''}`"
					>
						<i :class="'far fa-'+icon"></i>
					</a>
					<a
							href="#"
							@click.stop.prevent="getIcon(icon, 'fab')"
							:class="`item ${selected === 'fab fa-'+icon ? 'selected' : ''}`"
					>
						<i :class="'fab fa-'+icon"></i>
					</a>
				</template>
			</div>
		</div>
		<input type="hidden" name="icon" v-model="selected">
	</div>
</template>

<script>
import icons from './icons';

export default {
	name: 'fontAwesomePicker',
	props: ['seachbox', 'value'],
	data () {
		return {
			selected: '',
			icons,
		};
	},
	created () {
		if (this.value) {
			this.selected = this.value;
		}
	},
	computed: {
		searchPlaceholder () {
			return this.seachbox || 'search box';
		},
	},
	methods: {
		getIcon (icon, key) {
			this.selected = key + ' fa-' + icon;
			// NEED TO FIX CONVERT METHOD
			// this.convert(icon);
			this.selectIcon();
		},
		selectIcon () {
			this.$emit('selectIcon', this.selected);
		},
		filterIcons (event) {
			const search = event.target.value.trim();
			let filter = [];

			if (search.length > 1) {
				filter = icons.filter((item) => {
					const regex = new RegExp(search, 'gi');
					return item.match(regex);
				});
			} else if (search.length === 0) {
				this.icons = icons;
			}

			if (filter.length > 0) {
				this.icons = filter;
			}
		},
	},
};
</script>

<style scoped lang="scss">
	@import "../../../sass/fontawesome/fontawesome.scss";
	@import "../../../sass/fontawesome/fa-light.scss";
	@import "../../../sass/fontawesome/fa-regular.scss";
	@import "../../../sass/fontawesome/fa-solid.scss";
	@import "../../../sass/fontawesome/fa-brands.scss";
	#iconPicker {
		position: relative;
		//max-width: 292px;
		background: #f3f3f3;
	}
	.iconPicker__header {
		padding: 1em;
		border-radius: 8px 8px 0 0;
		border: 1px solid #ccc;
	}
	.iconPicker__header input {
		width: 100%;
		padding: 5px;
	}
	.iconPicker__body {
		position: relative;
		max-height: 250px;
		overflow: auto;
		padding: 0.5em 0 0.5em 0.5em;
		border-radius: 0 0 8px 8px;
		border: 1px solid #ccc;
	}
	.iconPicker__icons {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.iconPicker__icons .item {
		flex-basis: 21%;
	    padding: 4%;
	    margin: 0 0 10px 0;
	    text-align: center;
	    border-radius: 3px;
	    font-size: 21px;
	    box-shadow: 0 0 0 1px #ddd;
	    color: inherit;
	}
	.iconPicker__icons .item.selected {
		background: #ccc;
	}
	.iconPicker__icons .item i {
		box-sizing: content-box;
		display: block;
	}
	.iconSelected{
		display: block;
		i{
			display: block;
			padding: 10px;
			margin: 0 0 10px 0;
			text-align: center;
			border-radius: 3px;
			font-size: 100px;
			box-shadow: 0 0 0 1px #ddd;
			color: inherit;
		}
	}
	.control-label{
		background: #fff;
		display: block;
		margin-bottom: 0;
		padding-bottom: 5px;
	}
</style>
