<template>
    <div>
        <label for="hashTag" class="control-label">
            #Теги
        </label>
        <vue-tags-input
                v-model="tag"
                max-tags="100"
                :tags="tags"
                :placeholder="'Додайте тег'"
                :autocomplete-items="filteredItems"
                @tags-changed="newTags => tags = newTags">
        </vue-tags-input>
        <input type="hidden" name="hashTag" :value="exportValue">
    </div>
</template>

<script>
    import VueTagsInput from '@johmun/vue-tags-input';
    export default {
        name: "hashtag",
        components: {
            VueTagsInput,
        },
        props:['value', 'hashtags'],
        created(){
            if(this.value){
                this.value.forEach((item)=>{
                    this.tags.push({text: item})
                });
                //this.tags = this.value;
            }
            if(this.hashtags){
                this.hashtags.forEach((item)=>{
                    this.autocompleteItems.push({text: item})
                });
            }
        },
        data() {
            return {
                tag: '',
                tags: [],
                autocompleteItems: [],
            };
        },
        computed: {
            filteredItems() {
                return this.autocompleteItems.filter(i => new RegExp(this.tag, 'i').test(i.text));
            },
            exportValue(){
                let arr = [];
                this.tags.forEach((item)=>{
                    arr.push(item.text);
                });
                return JSON.stringify(arr);
            }
        },
    }
</script>

<style lang="scss">
    .tag .content{
        min-height: auto;
        padding: 5px;
        margin-right: auto;
        margin-left: auto;

    }
</style>