#about_us{
padding-bottom: 50px;
  h1{
    color: $blue;
    margin: 30px 0 25px 0;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    @include sm-block(){
      margin: 5px 0 0px 0;
      font-size: 23px;
    }
  }
  .left{
    @include size(6);
    img{
      width: 100%;
    }
  }
  .right{
    @include size(6);
  }
  .content{
    @include wrapper();
    margin: 30px auto 25px auto;
  }
  button{
    @include buttonStyle(){
      padding: 10px 30px;
    }
  }
}