.Auth {
  @include size(4);
  @include size-sm(12);
  background: #5F92C7;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  & > * {
    margin: 10px 0;
    position: relative;
  }
  h5 {
    text-align: center;
    font-size: 35px;
    color: #fff;
  }
  p {
    color: #fff;
  }
  .other_btn {
    cursor: pointer;
  }
  .photo {
    width: 130px;
    height: 130px;
    border: 3px solid #9FB85A;
    border-radius: 50%;
    margin: auto;
    display: block;
    cursor: pointer;
    input {
      display: none;
    }
  }
  input {
    width: 100%;
    padding-left: 50px;
  }
  .icon_input {
    position: absolute;
    top: 0;
    left: 0;
  }
  .form_row {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    &.while {
      padding-left: 10px;
      background: #fff;
      p {
        color: #000;
      }
    }
    button {
      background: #9FB85A;
      color: #fff;
      padding: 15px;
      border: none;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      &:hover {
        background: #b1ca5b;
      }
    }
  }
  .auth_social {
    margin-right: auto;
    margin-left: 7px;
    svg {
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
    .facebook {
      fill: #3b5998
    }
    .google{
      fill: #FF3939;
    }
  }
  .center-block{
    justify-content: center;
  }
}