#Bissines{
  @include flex-direction-sm(column);
  .left{
    @include size(8);
    @include sm-w-100();
    background: #fff;
    align-self: flex-start;
    padding: 20px;
    margin-top: 20px;
    .Logo_bissines_img{
      @include size(3);
      @include size-sm(5);
      height: 100px;

    }
    h3{
      @include size(9);
      @include size-sm(7);
      font-size: 50px;
      font-weight: bold;
      @include sm-block(){
        font-size: 25px;
      }
    }
    .row_without_width{
      display: flex;
      justify-content: space-between;
    }
    .first_row{
      margin-top: 50px;
      @include sm-block(){
        margin-top: 20px;
      }
    }
    .logo_row{
      margin-top: 30px;
      align-items: center;
      @include sm-block(){
        margin-top: 0;
      }
    }
    .second_row{
      margin-top: 40px;
      @include flex-direction-sm(column);
      @include align-items-sm(center);
    }
    .sliders{
      @include size(3);
      @include size-sm(5);
    }
    .slider{
      height: 200px;

      @include sm-block(){
        height: 100px;
      }
    }
    .text{
      @include size(9);
      @include size-sm(7);
      font-size: 20px;
      @include sm-block(){
        font-size: 14px;
      }
    }
    .time_work{
      @include size(3);
      @include size-sm(10);
      font-size: 16px;
      border: 1px solid #ccc;
      @include sm-block(){
        font-size: 14px;
      }
      thead {
        tr{
          &.pc{
            display: table-row;
            @include sm-block() {
              display: none;
            }
          }
          &.sm {
            @include sm-block() {
              display: table-row;
            }
          }
        }
        th {
          font-weight: bold;
          font-size: 20px;
          padding: 10px 5px;
          text-align: center;
        }
      }
      tbody tr:nth-child(2n+1){
        background: #F5F5F5;
      }
      td{
        padding: 10px 6px;
        &:nth-child(3) {
          text-align: right;
        }
      }
    }
    h6{
      border-top: 1px solid #E7E7E7;
      border-bottom: 5px solid #E5E5E5;
      padding: 10px 0;
      font-size: 22px;
      font-weight: bold;
      @include sm-block(){
        text-align: center;
      }
    }
    .address_block{
      @include size(9);
      @include size-sm(12);
      table{
        margin: 20px 0;
        @include sm-block(){
          font-size: 12px;
        }
      }
      td {
        padding: 5px 0;
        vertical-align: middle;
        &:first-child {
          font-weight: bold;
          padding-right: 30px;
          font-family: $fontNarrow;
          @include sm-block(){
            padding-right: 15px;
          }
        }
      }
    }
    .but{
      justify-content: flex-start;
      @include justify-content-sm(space-between);
      a{
        @include buttonStyle(){
          padding: 10px 15px;
          margin: 5px 10px 5px 0;
          border-radius: 10px;
          @include sm-block(){
            font-size: 12px;
            padding: 8px 6px;
            border-radius: 7px;
          }
        }
        &:first-child{
          background: $blue;
          border-color: $blue;
          &:hover{
            background: #fff;
            color: $blue;
          }
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }

    .map{
      height: 400px;
      width: 100%;
      margin-top: 40px;
      @include sm-block(){
        height: 250px;
      }
    }
    .last_row{
      margin-top: 40px;
    }
  }
  .Rate{
    display: flex;
    justify-content: center;
    background: #666666;
    .Rate__view{
      display: none;
    }
    .Rate__star{
      padding: 20px 0;
    }
  }
  #comments{
    width: 100%;
  }
}