.black{
  fill: black !important;
  .bg::after, &::after{
    background: none;
  }
  #section-top .text-block *,
  #servises .opisanie .block_categories .category .img,
  #CalendarPage .fc-list-heading-main,
  #CalendarPage .fc-day-header,
  #CalendarPage .fc-toolbar .fc-center h2,
  #CalendarPage .fc-day-number,
  #SuggestPage h1,
  h2{
    color: black;
  }
  //buttons
  #RegBisnes .button,
  #SuggestPage .button,
  #rightBlock .podpiska button,
  #category .bottom_Block .podpiska button,
  #main-content .right button,
  #main-content .right #blog2 .card .block .buttons button,
  .reedMore,
  #Bissines .left button:first-child,
  #listPage .bottom .podpiska button,
  #listPage .right .podpiska button{
    background: #000;
    border: 1px solid #000;
    color: #fff;
    &:hover{
      background: transparent;
      color: #000;
    }
  }
  #header {
    .row-without-with{
      background: #fff;
      border: 1px solid #000;
      @include sm-block(){
        border: none;
      }
    }
    ul, #mobile_bottom_menu .center_menu{
      color: #000;
    }
    #menu{
      fill: black;
    }
    #mobile_bottom_menu {

      .center_menu ul.drop_down_center{
        background: #fff;
        color: #000;
        border: 1px solid #000;
      }
      a svg {
        .st0, .st10, .cls-1 {
          fill: black;
        }
      }
    }
    .dropdown_menu_container, .dropTopMenu, #mobile_bottom_menu {
      background: #fff;
      color: #000;
      border: 0px solid #000;
      &.active{
        border-width: 1px;
      }
    }
  }
  #section-top {
    .text-block,  h2{
      color: black;
    }
  }
  #polezno .card::after{
    background: none;
  }
  #polezno,
  #vazno,
  #form-subscribe,
  #main-content .right #blog2,
  #main-content .right #calendar,
  #main-content #help,
  #user-history,
  #about-us{
    h2{
      color: black;
    }
  }
  #main-content .right #calendar .card .img .date{
    .number, .mounth {
      color: black;
    }
  }
  #form-subscribe,
  #Bissines .left,
  #main-content .right #calendar,
  #main-content .right #map,
  #main-content #help,
  #about-us .block{
    button {
      background: #000;
      border: 1px solid #000;
      color: #fff;
      &:hover{
        background: transparent;
        color: #000;
      }
    }
  }
  #main-content .right #blog2 .card.card-big .block .title {
    color: #fff;
  }
  #main-content .right #map .label_row button{
    &.green, &.cor {
      background: #000;
      border: 1px solid #000;
      color: #fff;
      margin: 0 10px;
      padding: 4px 5px;
      flex-basis: 10%;
    }
  }
  #listPage .sendMaterial,
   .sendMaterial{
    background: #fff;
    border: 1px solid #000;
    span {
      color: #000;
    }
    img{
      filter: none;
    }
  }
  #listPage .right .podpiska{
    border: 1px solid #000;
  }
  #main-content .right #calendar .card .block:hover .info{
    color: #000;
  }
  #rightBlock .podpiska{
    background-image:url('/img/mail-black.png');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 2%;
  }
  #listPage .right .nowInteresting .card:nth-child(odd){
    border: none;
  }
  #listPage .bottom .podpiska,
  #category .bottom_Block .register_btn,
  #category .bottom_Block .podpiska,
  #rightBlock  .sendMaterial,
  #listPage .bottom .someBlock h5{
    background: none;
    border: 1px solid black;
  }


  @include sm-block(){
    #listPage .bottom .someBlock .pizdect .card {
      border: none;
    }
  }
  #category .categories_list .category_files .title,
  #category .categories_list .category_presentation .title,
  #category .categories_list .category:hover,
  #category .bottom_Block .podpiska p,
  #category .top h1,
  #category .bottom_Block .register_btn p,
  #category .top .breadcrumbs,
  #listPage .bottom .podpiska,
  #rightBlock .sendMaterial span,
  #listPage .bottom .someBlock{
    color: black;

  }
  #rightBlock .sendMaterial img{
    filter: none;
  }
  #category .categories_list .category_video .ro .social-share span{
    filter: invert(1);
  }
  footer{
    background: black;
    .footer-logo .social-share a:hover{
      filter: invert(0%);
    }
  }
  #category .bottom_Block .podpiska input {
    background: #E3E3E3;
  }
  #category .categories_list .category_presentation .bg-presentation{
    position: absolute;
    bottom: -30px;
    left: -48px;
    background: url(/img/puzzleBlack.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    height: 150px;
    transform: rotate(-3deg);
  }
  #category .categories_list .category_files .bg-presentation,
  #category .categories_list .category .img{
    filter: grayscale(1);
  }
 .blue{
    background: #000;
  }
  #servises .list-servises .servise-item{
    border: 1px solid #000;
  }
  #rightBlock .podpiska{
    border-color: #000;
  }
  #SuggestPage .btn_upload{
    fill: #000;
  }
  #CalendarPage .fc-bg td{
    border: 1px solid #000;
    background: none;
  }
  #CalendarPage .fc-month-view .fc-body{
    background: none;
  }
  #CalendarPage .fc-bg td.fc-today{
    border-color: black;
  }
}