.bottom{
  @include size(12);
  @include sm-block(){
    width: calc(100% + 30px );
    margin: 0px -15px;
    .row.jc-sb{
      flex-direction: column;
      padding: 0;
    }
  }
  .podpiska{
    font-size: 25px;
    background:#9FB85A;
    background-image:url('/img/mail-green.png');
    background-repeat: no-repeat;
    background-position-x: 2%;
    background-position-y: 97%;
    padding: 5px;
    color: #fff;
    @include size(6);
    @include sm-w-100();
    @include sm-block(){
      padding: 7px 30px;
      border: 2px solid $puroure;
      background-size: 15%;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .ro{
      display: flex;
      width: 60%;
      margin: 0 auto 0 auto;
      @include sm-block(){
        width: 70%;
        margin: 10px auto 0 auto;

      }
    }
    input, button{
      font-size: 20px;
      border: none;
      padding: 7px 10px;
      @include sm-block(){
        padding: 5px 10px;
        font-size: 16px;
      }
    }
    button{
      background:#5F92C7;
      color: #fff;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      @include sm-block() {
        background: #D1854E;
      }
    }
    input{
      background: #f2f2f2;
      width: 100%;
    }
  }
  .sendMaterial {
    cursor: pointer;
    @include size(6);
    @include sm-block(){
      display: flex;
      width: 100%;
    }
  }
  .someBlock{
    flex-direction: column;
    color: #fff;

    h5{
      background:#5f92c7;
      width: 100%;
      text-align: center;
      padding: 10px;
      margin: 10px 0;
      @include sm-block(){
        padding: 2px;
        margin: 5px 0;
      }
    }
    .card{
      color: #000;
    }
    @include sm-block(){
      padding: 0;
      overflow-x: auto;
      overflow-y: hidden;
      .pizdect{
        flex-direction: row;
        display: flex;
        width: 200%;
        .card{
          flex-direction: column;
          //@include size(6.5);
          //flex-basis: 25%;
          width: 25%;
          display: block;
          @include col();
          &::before, &::after, &{
            background: none;
            content: none;
          }
          .left_block{
            position: relative;
            width: auto;
            height: auto;

          }
          .left_block{
            &::before, &::after{
              background: none;
            }
          }
          .img{
            @include size(11);
            margin: auto;
          }
          .block{
            width: 100%;
            box-shadow: none;
            padding: 0;
            .title{
              font-size: 14px;
              text-align: center;
              margin: 0;
            }
            .buttons{
              display: none;
            }
          }
        }
      }
    }
  }
  .ro{
    display: flex;
    .social-share{
      margin-top: 15px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 2%;
      flex-basis: 20%;
      @include flex-basis-sm(35%);
      a{
        width: 20px;
        height: 20px;
        display: block;
        //margin-right: 10%;
        &:hover svg{
          .cls-1, .cls-2 {
            fill: $govno;
          }
        }
      }
    }
    .counts{
      display: flex;
      width: 30%;
      margin-right: 2%;
      justify-content: space-between;
      @include sm-block(){
        width: 49%;
      }
      svg{
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
      div{
        display: flex;
        align-items: center;
        //margin-right: 25px;
      }
    }

  }
}
.sendMaterial{
  background:#5f92c7;
  display:flex;
  align-items: center;
  padding-bottom:15px;

  @include sm-block(){
    display: none;
  }
  img{
    filter:invert(100%);

  }
  span{
    font-size:25px;
    color:#fff;
  }
}