#cabinetsCategory{
  .jc-sb{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
  }
  .row{
    background: #FCFCFC;
    margin: 15px auto;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.5);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cabinetCategory{
    @include size(6);
    text-align: center;
    padding: 100px 0;
    font-size: 40px;
    font-weight: bold;
    background: #8c506f;
    margin: 20px 0;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.4);
    cursor: pointer;
    .title{
      height: 3em;
      background: rgba(0,0,0,0.3);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
#cabinetOneCategory{
  .jc-sb{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
  }
  .row{
    background: #FCFCFC;
    margin: 15px auto;
    //box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.5);
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .Consultant{
    @include size(6);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    &:last-child:after{
      content: '';
      display: block;
      margin-right: auto;
    }
    h5, .title{
      font-size: 22px;
      margin-top: 20px;
      line-height: 1.5em;
    }
    .img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: #8c506f;
      margin: 20px auto 0 auto;
    }
    .description{
      color: #AD9FA3;
      line-height: 1.6em;
      &:after{
        content: '';
        display: block;
        padding: 1px 0 0 0;
        background: #0296EB;
        width: 30%;
        margin: 20px auto;
      }
    }
    .bold{
      font-weight: bold;
      text-align: left;
      line-height: 2em;
      align-self: flex-start;
    }
    ul{
      line-height: 2em;
      text-align: left;
      color: #AD9FA3;
      align-self: flex-start;
      margin-bottom: 20px;
      li{
        list-style: disc inside ;
      }
    }
    button{
      @include buttonStyle(){
        font-size: 18px;
        padding: 10px 20px;
        margin-top: auto;
      }
    }
  }
}
#cabinetForm{
  input[type='file']{
    display: none;
  }
 .block{
   background: #FCFCFC;
   border: 1px solid transparent;
   @include wrapper();
   margin-top: 5px;
   padding-bottom: 30px;
   label{
     display: block;
     margin-top: 40px;
     margin-bottom: 5px;
     font-weight: bold;
     color: #626262;
   }
   input{
     width: 100%;
   }
   .departure{
     box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
     padding: 10px 20px;
     display: inline-block;
   }
   .file_block{
     display: inline-block;
     background: #FCFCFC;
     color: #0095EB;
     text-align: center;
     border: 1px solid #EEEEEE;
     i{
       background: #f8f8f8;
       display: block;
       font-size: 30px;
       color: #DDDDDD;
       padding: 10px 50px;
     }
     p{
       padding: 10px;
     }
   }
   .file_info{
     margin: 10px 0;
     color: #626262;
     .bold{
       font-weight: bold;
     }
   }
   .button{
     @include buttonStyle(){
       padding: 10px 15px;
       margin-top: 30px;
     }
   }
 }
}