#CalendarPage{
  #calendar{
    @include sm-w-100();
  }
  .container{
    margin-top: 20px;
  }
  .fc-view-container{
    font-family: $fontNarrow;
  }
  .fc-toolbar.fc-header-toolbar{
    @include sm-block(){
      border-top: 2px solid #D0D0D0;
      border-bottom: 2px solid #D0D0D0;
      padding: 5px;
    }


  }
  .fc-toolbar .fc-center h2{
    text-transform: capitalize;
    color: $puroure;
    @include sm-block(){
      margin-top: 3px;
    }
  }
  .fc-toolbar button{
    background: none;
    border: none;
    color: #000;
    box-shadow: none;
  }
  .fc-month-view .fc-body{
    background: #FFFCF2;
  }
  .fc-title{
    display: block;
    white-space: normal;
  }
  .fc-event{
    border-radius: 0px;
    //border-top: 1px solid #D0D0D0;
    border-top: none;
    border-bottom: 1px solid #D0D0D0!important;
    border-left: none;
    border-right: none;
    background: transparent;
    padding: 2px 10px;
  }
  .fc-time{
    font-size: 1.4em;
    font-weight: normal;
  }
  .fc-day-header{
    color: $blue;
    font-size: 1.8em;
    text-transform: uppercase;
  }
  .fc-day-number,
  .fc-list-heading-main{
    float: left;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #D0D0D0;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    text-align: center;
    color: $puroure;
    margin: 10px;
    font-size: 25px;
    @include sm-block(){
      width: 27px;
      height: 27px;
      margin: 0;
      font-size: 20px;
      line-height: 25px;
    }
  }
  .fc-unthemed th,
  .fc-unthemed td,
  .fc-unthemed thead,
  .fc-unthemed tbody,
  .fc-unthemed .fc-divider,
  .fc-unthemed .fc-row,
  .fc-unthemed .fc-content,
  .fc-unthemed .fc-popover,
  .fc-unthemed .fc-list-view,
  .fc-unthemed .fc-list-heading td{
    border-color: transparent;
  }
  .fc-bg table{
    border-collapse: separate;

  }
  .fc-bg td{
    background: transparent;
    border: 3px solid #fff;
  }
  .fc-bg td.fc-today{
    background: transparent;
    border: 3px solid $blue;
  }
  @include sm-block(){
    .fc-list-item-marker{
      display: none;
    }
    .fc-unthemed .fc-list-item:hover td,
    .fc-unthemed .fc-divider, .fc-unthemed .fc-popover .fc-header, .fc-unthemed .fc-list-heading td{
      background: transparent;
    }
    .fc-list-item{
      display: flex;
      flex-direction: column;
      font-size: 14px;
      border-bottom: 2px solid #D0D0D0;
      padding: 3px 0;
    }
    .fc-list-table td {
      padding: 1px 5px;
    }
  }
}
.calendarPageOne{
  .roz{
    border-top: 1px solid #D5D5D3;
    border-bottom: 1px solid #D5D5D3;
    display: flex;
    margin: 15px 0 5px 0;
    @include justify-content-sm(space-between);
  }
  .greyBlock{
    background: #E9E9E7;
    margin: 15px 30px 15px 0;
    padding: 7px;
    overflow: hidden;
    color: #fff;
    @include sm-block(){
      padding: 2px;
      margin: 15px 0 15px 0;
      max-width: 35%;
    }
    &:nth-child(1){
      background: #CE7D42;
    }
    &:nth-child(2){
      background: #9F4F70;
    }
    &:nth-child(3){
      background: #A0B85A;
    }
    &:nth-child(4){
      background: #5F92C8;
    }
    &:nth-child(4){
      background: #5AB8A3;
    }
    .titl{
      font-size: 14px;
      @include sm-block(){
        font-size: 11px;
      }
    }
    .big{
      font-size: 18px;
      font-weight: bold;
      text-overflow: ellipsis;
      @include sm-block(){
        font-size: 12px;
      }
    }
    .site{
      display: block;
    }
  }
  .loc{
    font-size: 14px;
    .titl{
      font-weight: bold;
    }
  }
}