.card{
  font-family: $fontNarrow;
  position: relative;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  &::after {
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
      transition: all 0.5s linear;
  }
  &:hover{
    &::after {
      opacity: 0.5;
    }
  }
  & > *{
    position: relative;
    z-index: 1;
  }
  .title{
    color: $puroure;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.8px;
    transition: all 0.2s linear;
    cursor: pointer;
    &:hover{
      color: $button_color;
    }
  }
  .description{
    cursor: pointer;
    font-size: 17px;
    letter-spacing: 0.7px;
  }
  button{
    @include buttonStyle(){
      letter-spacing: 1.2px;
    }
   }
}

.black{
  .card{
    border: 1px solid black;
    .title{
      color: black;
    }
    button {
      background: #000;
      border: 1px solid #000;
      color: #fff;
      &:hover{
        background: transparent;
        color: #000;
      }
    }
  }
}