#category{
  .video{
    width: 80vw;
    height: 50vw;
    margin: 5% 0;
  }
  .presentation{
    width: 100%;
    height: 50vw;
    margin: 5% 0;
    @include sm-block(){
      height: 50vh;
    }
  }
  .categories_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .category{
      @include size(6);
      @include sm-w-100();
      @include sm-block(){
        background: #fff;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        position: relative;
        justify-content: center;
        margin: 12px 0;
      }
      display: flex;
      align-items: center;
      font-size: 36px;
      justify-content: left;
      margin: 65px 0;
      p{
        margin-left: 10px;
        @include sm-block(){
          margin: 10px 30px;
        }
      }
      .img{
        width: 200px;
        height: 200px;
        @include sm-block(){
          width: 50px;
          height: 50px;
          transform: translate(-30%, -30%) rotate(200deg);
          position: absolute;
          top: 0;
          left: 0;
        }
        background-image: url("/img/puzzle1.png");
        background-size: cover;
        transform: rotate(200deg);
        transition: all 0.5s linear;
      }
      &:nth-child(3n-1) .img{
        background-image: url("/img/puzzle2.png");
      }
      &:nth-child(3n) .img{
        background-image: url("/img/puzzle3.png");
      }
      &:hover{
        color: #A0B85A;
        .img{
          background-image: url("/img/puzzle_hover.png");
          transform: rotate(0deg);
        }
      }
    }
    .category_video, .category_presentation{
      @include size(6);
      color: #fff;
      //min-height: 480px;
      min-height: 35vw;
      position: relative;
      display: flex;
      justify-content: center;
      margin: 60px 0;
      background-repeat: no-repeat;
      background-size: cover;
      @include sm-block(){
        margin: 15px 0;
        min-height: 30vw;
        width: 49%;
      }
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: url("/img/youtube.png");
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
      }
      &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0,0,0,0.6);
      }
      .title{
        font-size: 26px;
        margin: auto 10px;
        text-align: center;
        position: relative;
        z-index: 2;
        max-width: 100%;
        @include sm-block(){
          font-size: 14px;
        }
      }
      .ro{
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 2;
        .social-share, .counts, .counts > *{
          display: flex;
        }
        .social-share {
          a {
            margin: 5px;
            @include sm-block(){
              margin: 5px 2px;
            }
          }
          span{
            width: 30px;
            height: 30px;
            @include sm-block(){
              width: 13px;
              height: 13px;
            }
          }
        }
        .counts > *{
          margin: 10px;
          display: flex;
          align-items: center;
          @include sm-block(){
            margin: 5px 2px;
            font-size: 9px;
          }
        }
        svg{
          width: 30px;
          height: 30px;
          @include sm-block(){
            width: 13px;
            height: 13px;
            margin-right: 2px;
          }
        }
        .counts .like, .counts .comment, .counts .see {
          fill: #fff;
        }
      }
    }
    .category_presentation{
      background: #fff;
      box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
      min-height: 25vw;
      overflow: hidden;
      @include sm-w-100();
      @include sm-block(){
        min-height: 15vw;
      }
      &:before, &:after{
        content: none;
      }
      .bg-presentation{
        position: absolute;
        bottom: -25px;
        left: -36px;
        background: url(/img/puzzle1.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 150px;
        height: 150px;
        transform: rotate(25deg);
        @include sm-block(){
          width: 50px;
          height: 50px;
          bottom: -10px;
          left: -10px;
        }
      }
      &:nth-child(n+2){
        .bg-presentation{
          background: url(/img/puzzle2.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      &:nth-child(n+3){
        .bg-presentation{
          background: url(/img/puzzle3.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
      .title{
        color: $puroure;
        margin: 50px 20px 70px 20px;
        font-weight: bold;
        font-size: 35px;
        @include sm-block(){
          margin: 10px 20px 25px 20px;
          font-size: 18px;
        }
      }
      .ro {
        color: #000;
        .counts .like, .counts .comment, .counts .see {
          fill: #000;
        }
      }
    }
    .category_files{
      display: flex;
      justify-content: left;
      align-items: center;
      margin: 10px 0;
      .title{
        font-size: 30px;
        color: #78B1EC;
        @include sm-block(){
          font-size: 22px;
        }
      }
      .bg-presentation{
        width: 75px;
        height: 75px;
        transition: all 0.5s ease-in-out;
      }
      &:hover{
        .title {
          cursor: pointer;
          text-decoration: underline;
          color: #000;
        }
        .bg-presentation{
          transform: rotate(30deg);
        }
      }
      &:nth-child(3n+1) .bg-presentation{
        background-image: url("/img/puzzle1.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
      &:nth-child(3n+2) .bg-presentation{
        background-image: url("/img/puzzle2.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
      &:nth-child(3n+3) .bg-presentation{
        background-image: url("/img/puzzle3.png");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
   .categories_list_files{
     background: #fff;
     margin: 20px 0 40px 0;
     width: 100%;
     box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
     padding: 0 10px;
   }
  }
  .bottom_Block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    @include sm-block(){
      display: none;
    }
      .podpiska{
        @include size(6);
        background: #A0B85A;
        //background-image: url("/img/mail-white.png");
        padding: 20px 30px;
        p{
          color: #fff;
          font-size: 40px;
          margin-bottom: 50px;
          letter-spacing: 1.2px;
        }
        .ro{
          display: flex;
          font-size: 18px;
        }
        input{
          font-size: 18px;
          margin-left: 80px;
          width: 40%;
        }
        button{
          background: #D1854E;
          border: none;
          color: #fff;
        }
      }
    .register_btn{
      @include size(6);
      background: #5F92C7;
      display: flex;
      align-items: center;
      text-align: center;
      p{
        font-size: 60px;
        color: #fff;
        margin: auto;
      }
    }
  }
}