#comments{
  background: #fff;
  border: 1px solid transparent;
  margin: 0 30px;
  box-shadow: 1px 2px 3px -1px rgba(50, 50, 50, 0.75);
  h4{
    font-size: 20px;
    margin: 5px 10px;
    font-weight: bold;
    color: $blue;
  }
  .comment{
    display: flex;
    margin: 1%;
    border: 1px solid $gray;
    box-shadow: 1px 2px 3px -1px rgba(50, 50, 50, 0.75);
    .author{
      padding: 5px;
      border-right: 1px solid $gray;
      .img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: $puroure;
      }
    }
    .comment_block{
      width: 100%;
      padding: 0 0 5px 0;

      .comment_header{
        font-size: 13px;
        border-bottom: 1px solid $gray;
        padding: 3px;
        font-weight: bold;
        span{
          margin-left: 10px;
          font-size: 10px;
          font-weight: normal;
        }
      }
      .comment_body{
        padding: 5px 8px;
        text-align: justify;
      }
    }
    textarea{
      @include size(12);
      padding: 5px 10px;
      margin: 5px auto;
      display: block;
      border: 1px solid #dbdfe4;
      min-height: 200px;
    }
    button{
      @include buttonStyle(){
        padding: 10px 20px;
        float: right;
        margin-right: 5px;
      }
    }
  }
}