#contactUs{
  h1{
    color: #000000;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    margin: 25px 0;
  }
  .content{
    letter-spacing: 0.3px;
  }
  a{
    color: $blue;
  }
  textarea{
    width: 100%;
    padding: 10px 5px;
    margin: 12px 0;
  }
  button{
    @include buttonStyle(){
      padding: 10px 20px;
      font-size: 18px;
      margin-top: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include size(6);
    }
  }
}