#faq{
  #cabinetsCategory .cabinetCategory {
    @include size(12);
    padding: 70px 0;
    //margin: 10px auto ;
    .title{
      height: 4em;
    }
  }
  #cabinetOneCategory{
    .Consultant{
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      width: 100%;
      &:last-child:after{
        content: none;
      }
      .lf{

        .img{
          border-radius: 0;
          width: 200px;
          height: 200px;
        }
      }
      .rt{
        width: calc( 100% - 250px );
        margin-left: 25px;
        text-align: left;
      }
      .description{
        color: #000;
      }
      ul, p.bold{
        width: 100%;
      }
      ul{
        padding-left: 25px;
        color: #000;
      }
      button{
        margin: 0 auto;
        background: $puroure;
        border-color: $puroure;
        &:hover{
          color: $puroure;
          background: #fff;
        }
      }
    }
  }
  .faq_page{
    padding-top: 40px;
    padding-bottom: 40px;
    @include size(10);
  }
  .left{
    @include size(8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    .title{
      font-size: 25px;
      cursor: pointer;
    }
    .mini_text{
      font-size: 12px;
      margin: 15px 0;
      font-style: italic;
      opacity: 0.8;
    }
    .description{
      font-size: 16px;
    }
    .button_next{
      svg{
        transform: rotate(270deg);
        height: 30px;
        margin-left: auto;
        display: block;
        cursor: pointer;
      }
    }
  }

  .faq_one{
    background: #3A3A3A;
    color: #fff;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 20px;
    .img{
      background: #8c506f;
      @include size(6);
      .left_btn{
        color: #8C8C8C;
        font-size: 20px;
        padding: 20px;
        background: #fff;
        display: inline-block;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        height: 63px;
        width: 63px;
      }
    }
    .text_block{
      @include size(6);
    }

  }
  .faq_category{
    background: #3A3A3A;
    color: #fff;
    padding: 20px;
    @include size(6);
    display: flex;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: stretch;
    .text_block{
      width: 100%;
    }
    .rower{
      .left_btn{
        text-align: center;
        float: left;
        color: #8C8C8C;
        font-size: 20px;
        background: #fff;
        display: inline-block;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        margin-right: 10px;
        height: 63px;
        width: 63px;
        z-index: 1;
        position: relative;
        p{
          font-size: 14px;
          &.big{
            font-size: 30px;
            line-height: 35px;
            margin-top: 5px;
          }
        }
      }
    }
    .list{
      .listItem{
        margin: 8px 0;
      }
      i{
        margin-right: 3px;
      }
    }

  }
}
