#rightBlock {
  .faq_right_first_block {
    background: #317680;
    padding: 10%;
    margin-top: 20px;
    .title {
      text-align: center;
      font-size: 35px;
      color: #fff;
      font-weight: bold;
    }
    img {
      text-align: center;
      margin: 25px auto;
    }
    button {
      display: block;
      text-align: center;
      margin: 0 auto;
      background: #17C0D8;
      padding: 7px 12px;
      color: #fff;
      border: none;
      font-size: 30px;
      transition: all 0.5s ease-in-out;
      font-weight: bold;
      &:hover {
        background: #17E0F8;
      }
    }
  }
  .micro_text {
    font-size: 12px;
    margin: 15px 0;
    .red{
      color: #FF2A27;
    }
  }
  .faq_right_second_block, .faq_right_third_block, .faq_right_fouth_block{
    background: #378463;
    padding: 5%;
    .title{
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      i{
        float: right;
        width: 45px;
        height: 45px;
        border: 2px solid #fff;
        border-radius: 50%;
        transform: translateY(-25%);
        text-align: center;
        line-height: 38px;
      }
    }
    .list{
      color: #fff;
      margin: 10px 0;
      cursor: pointer;
      i{
        margin-right: 5px;
      }
      .italy{
        font-style: italic;
      }
      .while{
        padding: 3px 5px;
        color: #6F5B3C;
        background: #fff;
        margin-right: 5px;
      }
    }
  }
  .faq_right_third_block{
    background: $puroure;
    margin-top: 25px;
  }
  .faq_right_fouth_block{
    background: #6F5B3C;
    margin-top: 25px;
  }
}