@font-face {
  font-family: Narrow;
  src: url(../fonts/ArialNarrow.ttf)format('truetype');
  src: url('../fonts/ArialNarrow.eot');
  src: url('../fonts/ArialNarrow.eot?iefix') format('eot'),
  url('../fonts/ArialNarrow.woff') format('woff'),
  url('../fonts/ArialNarrow.svg#webfont') format('svg');
}