.haveError{
  @include size(6);
  @include size-sm(12);
  background: #5F92C7;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  h5 {
    text-align: center;
    font-size: 35px;
    color: #fff;
  }
  .before, .after{
    font-size: 20px;
    color: #fff;
    margin: 15px;
    text-align: center;
  }
  .before{
    margin-top: 25px;
  }
  .after{
    margin-bottom: 25px;
  }
  .blockError{
    background: #fff;
    color: #111;
    font-weight: 100;
    padding: 15px;
    margin-top: 10px;
    font-size: 18px;
    b{
      font-weight: 900;
    }
  }
  textarea{
    padding: 15px;
    font-size: 16px;
  }
  button{
    @include buttonStyle(){
      padding: 10px 15px;
      margin: 10px auto;
      text-align: center;
    }
  }
}