#HelpDesk{
  padding-bottom: 30px;
  h1{
    font-size: 40px;
    color: $blue;
    text-align: center;
    margin: 20px;
  }
  .tab{
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    //background: #8c506f;
    top: 1px;
    position: relative;
    border: 1px solid #ccc;
    margin: 0 1px;
    box-shadow: 0px -3px 10px -5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    cursor: pointer;
    &.active{
      border-bottom: 1px solid #fff;
    }
  }
  .HelpDesk_content{
    border: 1px solid #ccc;
    .img{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #8c506f;
      display: inline-block;
      margin: 0 5px;
    }
    table{
      @include size(12);
      margin: 15px auto;
      font-size: 18px;
    }
    thead{
      text-align: center;
      font-weight: bold;
    }
    td{
      border: 1px solid #ccc;
      padding: 5px 10px;
      &:first-child{
        width: 1px;
      }
    }
  }
  .helpdeskOne{
    @include wrapper();
    table{
      font-size: 19px;
      td{
        padding: 5px 10px;
        &:first-child {
          font-weight: bold;
        }
      }
    }
    .form{
      margin-top: 15px;
      padding: 20px;
      background: rgba(255,255,255,0.7);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      .form_title{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
        color: $blue;
      }
      label{
        margin: 8px 0;
        display: block;
      }
      .file_block{
        display: inline-block;
        background: #FCFCFC;
        color: #0095EB;
        text-align: center;
        border: 1px solid #EEEEEE;
        i{
          background: #f8f8f8;
          display: block;
          font-size: 30px;
          color: #DDDDDD;
          padding: 10px 50px;
        }
        p{
          padding: 10px;
        }
      }
      input[type='file']{
        display: none;
      }
      .file_info{
        margin: 10px 0;
        color: #626262;
        .bold{
          font-weight: bold;
        }
      }
      .button{
        @include buttonStyle(){
          padding: 10px 15px;
          margin-top: 30px;
        }
      }
    }
    .messanges{
      display: flex;
      flex-direction: column;
      padding: 20px;
      margin-top: 20px;
      background: rgba(214, 214, 214, 0.3);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) , inset 0px 0px 10px 0px rgba(0,0,0,0.2);
      max-height: 70vh;
      overflow-y: auto;
      .messange{
        max-width: 80%;
        background: rgba(0, 80, 140, 0.25);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        margin: 8px 0;
        padding: 10px;
        text-align: justify;
        border-radius: 5px;
        .user_info{
          display: flex;
          align-items: center;
        }
        .img{
          width: 30px;
          height: 30px;
          background: #8c506f;
          border-radius: 50%;
          display: inline-block;
          margin-right: 5px;
        }
        .text{
          margin: 5px 0;
        }
        .file{
          color: $blue;
          cursor: pointer;
          i{
            margin-right: 3px;
            margin-left: 5px;
          }
        }
        &.my{
          margin-left: auto;
          background: rgba(0, 39, 140, 0.31);
        }
        &:not(.my){
          margin-right: auto;
        }
      }
    }
  }
}