//Big Icon style
.donate{
  .st0{fill: $puroure;}
}
.profile{
  .cls-1{fill: $blue;}
}
.consult{
  .cls-1{fill:#a5b660;}
}
.document{
  .st0{fill:#BA7C48;}
}
.test{
  .st0{fill:#A6B660;}
}
.library{
  .cls-1{fill:#ba7c48;}
}
.service{
  .st0{fill:#A6B660;}
}
.arrow_down, .location{
  fill: #fff;
}
.Mail{
  fill: #fff;
}
.Friendship{
  fill: $puroure;
}
//Social Icon Style
.social_btn{
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  &.FB{
    background-image: url("../img/social/FB.png");
  }
  &.viber{
    background-image: url("../img/social/viber.png");
  }
  &.whatup{
    background-image: url("../img/social/whatup.png");
  }
  &.email{
    background-image: url("../img/social/email.png");
  }
}
.counts {
  & > * {
    cursor: pointer;
  }
  .like, .comment, .see{
    fill:#262626;
  }
}
.black{
  .donate{
    .st0{fill: #000;}
  }
  .profile{
    .cls-1{fill: #000;}
  }
  .consult{
    .cls-1{fill:#000;}
  }
  .document{
    .st0{fill:#000;}
  }
  .test{
    .st0{fill:#000;}
  }
  .library{
    .cls-1{fill:#000;}
  }
  .service{
    .st0{fill:#000;}
  }
  .arrow_down, .location{
    fill: #000;
  }
  .Mail{
    fill: #000;
  }
  //Social Icon Style
  .social_btn{
    &.FB{
      background-image: url("../img/social/FBblack.png");
    }
    &.viber{
      background-image: url("../img/social/viberblack.png");
    }
    &.whatup{
      background-image: url("../img/social/whatsupblack.png");
    }
    &.email{
      background-image: url("../img/social/emailblack.png");
    }
  }
}