#listPage{
  @include flex-direction-sm(column);
  .left{
    @include size(8);
    @include sm-w-100();
    .card{
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
      font-family: $fontArial;
      box-shadow: none;
      &::after {
        //background: url("../img/vazno_bg.png") no-repeat;
        background-size: 100%;
        background-position-y: 94%;
      }
      .img{
        border: 4px solid #acacac;
        height: 100%;
        min-height: 100px;
      }
      .like_circle, .coment_circle, .see_circle{
        fill:transparent;
      }
      .left_block{
        @include size(2);
        @include size-sm(5);
        display: flex;
        flex-direction: column;
        @include sm-block(){
          &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url(../img/vazno_bg_big.png?c03e27e…);
            background-size: 250%;
            background-repeat: no-repeat;
            background-position: top right;
          }
        }
        svg{
          width: 30px;
          height: 30px;
          margin: -4px 0;
        }

        & > .like{
          display: flex;
          align-items: center;
          cursor: pointer;
          border: 1px solid #686868;
          padding: 2px;
          @include sm-block(){
            display: none;
          }
        }
      }
      .block{
        @include size(10.5);
        @include size-sm(8.5);
        padding: 5px 10px 5px 5px;
        box-shadow: 1px 2px 3px -1px rgba(50, 50, 50, 0.75);
        @include sm-block(){
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .date, .name{
          color: #9D9C9C;
          font-size: 10px;
          font-weight: 400;
          letter-spacing: 0.7px;
          margin-right: 5px;
        }
        .title{

          font-size: 17px;
          width: 100%;
        }
        .description{

          font-size: 16px;
          width: 100%;
          @include sm-block(){
            display: none;
          }
        }
        .buttons{
          display: flex;
          justify-content: space-between;

          align-items: center;

          .counts{
            display: flex;
            margin-right: 2%;
            justify-content: flex-start;
            font-size: 10px;
            svg{
              width: 20px;
              height: 20px;
              margin-right: 6px;
            }
            div{
              display: flex;
              align-items: center;
              //margin-right: 25px;
            }
            .like{
              display: none;
              align-items: center;
              cursor: pointer;
              margin-right: 2%;
              @include sm-block(){
                display: flex;
              }
            }
          }
          button{
            padding: 0.2% 3%;
            min-width: 120px;
            @include sm-block(){
              display: none;
            }
          }
        }
      }
      @include sm-block{
        &:first-child{
           .left_block{
            position: absolute;
            width: 100%;
            height: 100%;
          }
          .block{
            width: 100%;
            height: 100%;
           // min-height: 180px;
            padding: 20px;
            .like_circle,  .coment_circle, .see_circle{
              fill: #262626;
            }
            .title{
              margin: auto;
              text-align: center;
            }
            .date{
              position: absolute;
              top: 20px;
              left: 20px;
              font-size: 17px;
            }
            .name{
              font-size: 17px;
            }
            .buttons .counts{
              font-size: 17px;
              justify-content: space-between;
              width: 100%;
            }
          }
        }
      }
    }
  }
}