strong{
  font-weight: bold;
}
body{
  background: $body-bg;
  font-family: $fontArial;
  @include sm-block(){
    position: relative;
    &::after {
      content: "";
      background: url(/img/bg_main.png);
      background-size: 100% auto;
      top: 0;
      background-repeat: no-repeat repeat;
      left: 0;
      background-position: top;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  }
}
.centerError{
  color: #676767;
  text-align: center;
  margin: 10px auto;
  font-weight: bold;
  font-size: 0.9em;
  border-bottom: 1px solid #676767;
}
.bg{
  position: relative;
  &::after {
    content: "";
    background: url(/img/bg_main.png);
    background-size: 100% auto;
    top: 0;
    background-repeat: no-repeat repeat;
    left: 0;
    background-position: top;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
.pagination{
  font-size:30px;
  display: flex;
  justify-content: space-around;
}
h1{
  font-size: 50px;
}
h2{
  color: $blue;
  margin: 20px 0 15px 0;
  font-weight: bold;
  font-size: 30px;
  @include sm-block(){
    margin: 5px 0 0px 0;
    font-size: 23px;
  }
}
h3{
  font-size: 25px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 15px;
}
.reedMore{
  @include buttonStyle(){
    letter-spacing: 1.2px;
    padding: 5px 20px;
  }
  @include sm-block(){
    margin: 0 auto;
    display: block;
  }
}
#header{
  margin-top: $header-margin-top;
  font-family: $fontNarrow;
  font-size: $header-font-size;
  color: $header-text-color;
  @import "Menu";
  @include sm-block(){
    margin-top: 5px;
  }
  .logo{
    //@include size(1);
    height: 70px;
    width: 125px;
  }
  .search{
    display: flex;
    align-items: center;
    @include size(3);
    @include sm-block(){
      display: none;
    }
    input{
      width: 100%;
      padding: 8px;
      font-size: 16px;
      appearance: none;
      border: none;
    }
    svg{
      width: 30px;
      height: 30px;
      margin-left: 5px;
    }
  }
  .right{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    a{
      line-height: 30px;
      display: flex;
      margin-left: 40px;
      @include lg-block(){
        margin-left: 20px;
      }
      @include sm-block(){
        font-size: 0;
        margin-left: 15px;
      }
      &:first-child{
        margin-left: 0;
      }
    }
    svg{
      width: 30px;
      height: 30px;
      margin-left: 5px;
    }
  }
}
#section-top{
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  position: relative;
  .logos{
    @include size(12);
    display: flex;
    justify-content: space-around;
    .logo{
      @include size(4);
      @include size-sm(5);
      margin: 12px 0;
    }
  }
}
#polezno{
  font-weight: bold;
  text-align: center;
  @include sm-block(){
    display: none;
  }
  .card{
    @include size(12/5);
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &::after {
      content: "";
      background: url("../img/card_bg_hover.png");
      background-size: contain;
      opacity: 0.5;
      position: absolute;
    }
    &:hover{
      &::after {
        opacity: 1;
      }
    }
    svg{
      width: 50%;
    }
  }
}
#vazno{
  .left, .right{
    @include size(6);
    @include sm-block(){
      width: 100%;
    }
  }
  @include sm-block(){
    .row.jc-sb{
      @include flex-wrap-sm(wrap);
      flex-direction: column;
      align-items: center;
    }
  }
  .left{
    @include order-sm(1);
    .card{
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      @include sm-block(){
        border: 1px solid #ccc;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      &:last-child{
        margin-bottom: 0;
      }
      &::after {
        background: url("../img/vazno_bg.png") no-repeat;
        background-size: 100%;
        background-position-y: 94%;
        position: absolute;
      }
      .img{
        @include size(5);
        @include sm-block(){
          display: none;
        }
        cursor: pointer;
      }
      .block{
        @include size(8);
        padding: 10px;
        @include sm-block(){
          width: 100%;
          padding: 3px;
        }
        .title{
          margin-top: 15px;
          cursor: pointer;
          @include size(12);
          @include sm-block() {
            width: 100%;
            margin-top: 0;
          }
        }
        .description{
          margin-top: 15px;
          cursor: pointer;
          @include size(11);
          @include sm-block() {
            width: 100%;
            margin-top: 0;
          }
        }
        .buttons{
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
          @include sm-block(){
            display: none;
          }
          .social-share{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 2%;
            flex-basis: 30%;
            a{
              width: 20px;
              height: 20px;
              display: block;
              //margin-right: 10%;
              &:hover svg{
                .cls-1, .cls-2 {
                  fill: $govno;
                }
              }
            }
          }
          .counts{
            display: flex;
            width: 50%;
            margin-right: 2%;
            justify-content: space-around;
            svg{
              width: 20px;
              height: 20px;
              margin-right: 6px;
            }
            div{
              display: flex;
              align-items: center;
              //margin-right: 25px;
            }
          }
          button{
            padding: 1% 5%;
            flex-basis: 25%;
            cursor: pointer;
          }
        }
      }
    }
  }
  .right{
    .card{
      display: flex;
      justify-content: space-between;
      height: 100%;
      &::after {
        background-size: 100%;
        background-position-y: 94%;
      }
      .img{
        width: 160px;
        height: 160px;
      }
      .block{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        text-align: center;
        background: url("../img/vazno_bg_big.png");
        background-size: cover;
        background-position: top right;
        width: 100%;
        .title{
          font-size: 30px;
          font-weight: 700;
          letter-spacing: 1.5px;
          margin-top: 15px;
          cursor: pointer;
          @include size(12);
          @include sm-block(){
            font-size: 21px;
            margin-top: 30px;
          }
        }
        .description{
          margin-top: 15px;
          font-size: 24px;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 1.2px;
          cursor: pointer;
          @include sm-block() {
            font-size: 19px;
            line-height: 20px;
            margin-bottom: 30px;
          }
        }
        .buttons{
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
          @include size(12);
          .social-share{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 2%;
            flex-basis: 30%;
            @include flex-basis-sm(40%);
            a{
              width: 20px;
              height: 20px;
              display: block;
              //margin-right: 10%;
            }
          }
          .counts{
            display: flex;
            //width: 50%;
            // margin-right: 25px;
            justify-content: space-around;
            svg{
              width: 20px;
              height: 20px;
              margin-right: 6px;
            }
            div{
              display: flex;
              align-items: center;
              margin-right: 25px;
              @include sm-block() {
                margin-right: 15px;
                &:last-child{
                  margin-right: 0
                }
              }
            }
          }
        }
      }
    }
  }
}
#map{
  font-family: $fontNarrow;
  label {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .label_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    .v-autocomplete-list{
      z-index: 100;
    }
    .v-autocomplete-input{
      width: 100%;
      height: 100%;
    }
    .v-autocomplete-input-group{
      height: 100%;
    }
    input{
      @include sm-block(){
        width: 100%;

      }
    }
    button {
      padding: 4px 15px;
      border: none;
      @include sm-block(){
        margin-left: 10px;
      }
      svg {
        width: 20px;
        height: 20px;
        fill: #fff;
      }
      &.green {
        background: $number_color;
      }
      &.cor {
        background: $govno;
      }
    }
  }
  button{
    @include buttonStyle(){
      padding: 1% 8%;
      letter-spacing: 0.75px;
      flex-basis: 25%;
    }
    @include sm-block(){
      margin: 5px 0;
      display: block;
    }
  }
  img{
    @include sm-block(){
     // display: none;
    }
  }
}
#Calendar{
  .card{
    display: flex;
    justify-content: space-around;

    @include col();
    margin: 12px 0;
    @include sm-block(){
      border: 1px solid #ccc;
    }
    &:hover{
      .block::after {
        opacity: 0.5;
      }
    }
    .img{
      @include size(4);
      position: relative;
      cursor: pointer;
      .date{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,0.8);
        font-size: 48px;
        font-family: $fontArial;
        font-weight: 900;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include sm-block(){
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 25px;
        }
        .number{
          color: $number_color;
        }
        .mounth{
          color: $govno;
        }
      }
    }
    .social-share{
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      padding: 0 5px;
      @include sm-block(){
        display: none;
      }
      a{
        width: 20px;
        height: 20px;
        display: block;
        //margin-right: 10%;
      }
    }
    .block{
      @include size(8);
      @include size-sm(9);
      padding: 10px;
      @include sm-block(){
        padding: 5px;
      }
      &::after {
        background: url("../img/calendar_bg.png") no-repeat;
        background-size: cover;
        background-position: bottom right;
      }
      .date{
        color: $header-text-color;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.7px;
        @include sm-block(){
          display: none;
        }
      }
      .title{
        margin-top: 15px;
        @include sm-block(){
          margin-top: 0;
        }
      }
      .info{
        font-size: 16px;
        margin-top: 15px;
        letter-spacing: 0.7px;
        transition: all 0.5s linear;
        @include sm-block(){
          font-size: 12px;
          margin-top: 5px;
        }
        .info_block{
          display: flex;
          align-items: center;
          margin-top: 15px;
          @include sm-block(){
            margin-top: 5px;
          }
          &:hover{
            color: $govno;
            svg{
              fill:$govno;
            }
          }
        }
        svg{
          width: 20px;
          height: 20px;
          fill: black;
          margin-right: 5px;
        }
      }


    }
    &.card-big{
      .block{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 5% 10%;
        .title{
          color: $button_color;
        }
        .author{
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 0.8px;
          color: #fff;
        }
        .r{
          display: flex;
          justify-content: space-between;
        }
        .date{
          color: #fff;
        }
        .buttons{
          .cls-1, .cls-2{
            fill: #fff;
          }
          a:hover{
            .cls-1, .cls-2{
              fill: $button_color;
            }
          }
        }
        .social-share{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-right: 2%;
          flex-basis: 30%;
          flex-direction: row;
          a{
            width: 20px;
            height: 20px;
            display: block;
            //margin-right: 10%;
            &:hover svg{
              .cls-1, .cls-2 {
                fill: $govno;
              }
            }
          }
        }
        .counts{
          flex-basis: 50%;
          justify-content: space-between;
          div{
            margin: 0;
          }
        }
      }
    }
  }
  button{
    @include buttonStyle(){
      padding: 1% 8%;
      letter-spacing: 0.75px;
      flex-basis: 25%;
    }
  }
}
#main-content{
  @include sm-block(){
    flex-direction: column;
  }
  .map_container, #map {
    height: auto!important;
  }
  #blog{
    @include size(7);
    @include sm-w-100();
    .card{
      display: flex;
      justify-content: space-between;
      margin: 12px 0;
      &::after {
        background: url("../img/vazno_bg.png") no-repeat;
        background-size: 100%;
        background-position-y: 94%;
      }
      .img{
        @include size(5);
        @include sm-block(){
          display: none;
        }
        cursor: pointer;
        img{
          width: 100%;
        }
      }
      .block{
        @include size(8);
        @include sm-w-100();
        padding: 10px;
        .date{
          color: $header-text-color;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.7px;
        }
        .title{
          margin-top: 15px;
          @include size(12);
        }
        .description{
          margin-top: 15px;
          @include size(11);
          @include sm-block(){
            display: none;
          }
        }
        .buttons{
          display: flex;
          justify-content: space-between;
          margin: 10px 0;
          .social-share{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-right: 2%;
            flex-basis: 30%;
            @include sm-block(){
              display: none;
            }
            a{
              width: 20px;
              height: 20px;
              display: block;
              //margin-right: 10%;
            }
          }
          .counts{
            display: flex;
            width: 50%;
            margin-right: 2%;
            justify-content: space-around;
            @include sm-block(){
              margin-left: auto;
            }
            svg{
              width: 20px;
              height: 20px;
              margin-right: 6px;
            }
            div{
              display: flex;
              align-items: center;
              //margin-right: 25px;
            }
          }
          button{
            padding: 1% 5%;
            flex-basis: 25%;
            @include sm-block(){
              display: none;
            }
          }
        }
      }
    }
  }
  .right{
    @include size(5);
    @include sm-block(){
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
    @include col();
    #blog2{
      .card{
        display: flex;
        justify-content: space-around;
        margin: 12px 0;
        &::after {
          background: url("../img/vazno_bg.png") no-repeat;
          background-size: 100%;
          background-position-y: 94%;
        }
        .img{
          @include size(4);
          cursor: pointer;
          @include sm-block(){
            display: none;
          }
        }
        .social-share{
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
          padding: 0 5px;
          @include sm-block(){
            display: none;
          }
          a{
            width: 20px;
            height: 20px;
            display: block;
            //margin-right: 10%;
          }
        }
        .block{
          @include size(8);
          @include sm-block(){
            width: 100%;
          }
          @include col();
          padding: 10px;
          .date{
            color: $header-text-color;
            font-family: $fontNarrow;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.7px;
          }
          .title{
            margin-top: 15px;
            letter-spacing: 0.8px;

          }
          .description{
            margin-top: 15px;
            @include size(10);
            @include size-sm(12);
          }

          .buttons{
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            .counts{
              display: flex;
              width: 100%;
              //margin-right: 2%;
              justify-content: flex-start;
              @include justify-content-sm(flex-end);
              svg{
                width: 20px;
                height: 20px;
                margin-right: 6px;
              }
              div{
                display: flex;
                align-items: center;
                margin-right: 10%;
                @include sm-block(){
                  margin-right: 0;
                  margin-left: 10%;
                }
              }
            }
            button{
              padding: 1% 5%;
              letter-spacing: 1.2px;
              flex-basis: 30%;
              @include sm-block(){
                display: none;
              }
            }
          }
        }
        &.card-big{
          &::after {
            background: none;
          }
          .block{
            width: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 5% 10%;
            margin: 0;
            .title{
              color: $button_color;
            }
            .author{
              font-size: 16px;
              font-weight: 700;
              letter-spacing: 0.8px;
              color: #fff;
            }
            .r{
              display: flex;
              justify-content: space-between;
            }
            .date{
              color: #fff;
            }
            .buttons{
              filter: invert(100%);
              color: #000;
              .like, .comment, .see{
                fill: #000;

              }
              .social-share > *,
              .counts > *{
                transition: all 0.3s linear;
                &:hover {
                  filter: invert(100%);
                  fill: #000;
                }
              }

            }
            .social-share{
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-right: 2%;
              flex-basis: 30%;
              @include flex-basis-sm(40%);
              flex-direction: row;
              a{
                width: 20px;
                height: 20px;
                display: block;
                //margin-right: 10%;
                &:hover svg{
                  .cls-1, .cls-2 {
                    fill: $govno;
                  }
                }
              }
            }
            .counts{
              flex-basis: 50%;
              @include flex-basis-sm(60%);
              justify-content: space-between;
              div{
                margin: 0;
              }
            }
          }
        }
      }
    }



    button{
      @include buttonStyle(){
        padding: 1% 8%;
        letter-spacing: 0.75px;
        flex-basis: 25%;
      }
      @include sm-block(){
        margin: 0 auto;
        display: block;
      }
    }
  }
}
#help {
  font-family: $fontNarrow;
  @include sm-block() {
    display: none;
  }
  .text {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
  }
  input, textarea {
    padding: 10px 8px 9px 8px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .label_row {
    display: flex;
    justify-content: space-between;
    input {
      width: 48%;
    }
  }
  button {
    background: $button_color;
    border: 1px solid $button_color;
    color: $button_hover_color;
    transition: all 0.5s linear;
    padding: 1% 8%;
    letter-spacing: 0.75px;
    flex-basis: 25%;
    margin-bottom: 30px;
    &:hover {
      background: transparent;
      color: $button_color;
    }
  }

}
#form-subscribe{
  margin-top: 20px;
  label{
    color: $header-text-color;
    font-family: $fontNarrow;
    font-size: 16px;
    letter-spacing: 0.7px;
    display: block;
    margin-bottom: 10px;
  }
  input{
    display: block;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 8px;
    margin-bottom: 15px;
    @include placeholder(){
      opacity: 0.3;
    }
  }
  button{
    @include buttonStyle(){
      padding: 1% 5%;
      letter-spacing: 1.2px;
      flex-basis: 25%;
    }
    @include sm-block(){
      margin: 0!important;
    }
  }
}
#user-history{
  margin-top: 20px;
  @include sm-block(){
    .row.jc-sb{
      flex-direction: column;
      //@include col();
    }
  }
  .card{
    //  display: flex;
    @include size(4);

    padding: 20px;
    background: #fff;
    background-image: url('../img/vazno_bg_big.png');
    background-size: cover;
    background-position: top right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include sm-block(){
      padding: 5px;
      margin-top: 10px;
      border: 1px solid #ccc;
      width: 100%;
    }
  }
  .row-card{
    display: flex;
    justify-content: space-between;
    &:first-child{
      height:100%;
    }
  }
  .left{
    @include size(4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include sm-block(){
      display: none;
    }
    & > .img{
      height: 65%;
      width: 100%;
      .img{
        cursor: pointer;
        height: 100%;
        width: 100%;
      }
    }
  }
  .block{
    @include size(8);
    @include size-sm(12);
    @include col();
    .title{
      margin-top: 15px;
    }
    .description{
      margin-top: 15px;
    }
  }
  .social-share{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 2%;
    flex-basis: 30%;
    flex-direction: row;
    a{
      width: 20px;
      height: 20px;
      display: block;
      //margin-right: 10%;
    }
  }
  .counts{
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    align-self: flex-end;
    svg{
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }
    div{
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }
  button{
    padding: 1% 10%;
    letter-spacing: 1.2px;
    margin-top: 15px;
    //  margin-bottom: 25px;
    align-self: flex-end;
    @include sm-block(){
      display: none;
    }
  }
}
#about-us{
  margin-top: 20px;
  padding-bottom: 80px;
  @include sm-block(){
    padding-bottom: 10px;
  }
  .row.jc-sb{
    @include flex-direction-sm(column);
  }
  .img{
    @include size(5);
    @include sm-block(){
      width: 100%;
    }
  }
  .block{
    @include size(7);
    @include sm-block(){
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    .text{
      font-family: $fontNarrow;
      font-size: 18px;
    }
    button{
      @include buttonStyle(){
        padding: 1% 10%;
        letter-spacing: 1.2px;
        margin-top: 15px;
        //  margin-bottom: 25px;
        align-self: flex-end;
      }
      @include align-self-sm(center);
    }
  }
}
footer{
  background: $puroure;
  padding: 60px 0 40px 0;
  color: #fff;
  font-size: 16px;
  font-family: $fontNarrow;
  line-height: 18px;
  @include sm-block(){
    padding: 10px 0 55px 0;
  }
  .footer-logo{
    @include size(2.5);
    @include sm-block(){
      display: none;
    }
    .social-share{
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      margin-top: 30px;
      flex-basis: 30%;
      flex-direction: row;
      filter: invert(100%);
      a{
        width: 20px;
        height: 20px;
        display: block;
        //margin-right: 10%;
        transition: all 0.3s linear;
        &:hover{
          filter: invert(100%);
        }
      }
    }
  }
  .footer-nav{
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    @include size(11);
    @include size-sm(12);
    @include flex-wrap-sm(wrap);
    @include sm-block(){
      margin-top: 0;
      flex-direction: row-reverse;
    }
    .col{
      @include size-sm(6);
      @include sm-block(){
        margin: 10px 0;
        &:first-child{
          display: none;
        }
      }
      a{
        display: block;
      }
    }
  }
  .copyright{
    text-align: center;
    margin-top: 60px;
    letter-spacing: 0.5px;
    @include sm-block(){
      margin-top: 0;
    }
  }
}