.map-tooltip{
  display: flex;
  width: 350px;
  padding: 5px 0 5px 5px;
  flex-wrap: wrap;
  .description{
    padding-right: 5px;
  }
  .col{
    @include size(8);
    &:last-child{
      @include size(5);
      min-height: 100px;
    }
  }
  h5{
    color: #1A6492;
    font-size: 18px;
    width: 100%;
    text-align: justify;
  }
  p{
    font-size: 16px;
    margin: 10px 0;
  }
  button{
    @include buttonStyle(){
      padding: 5px 20px;
      font-weight: bold;
      border-radius: 5px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}