#menu{
  width: 55px;
  height: 35px;
  fill: white;
  align-self: center;
  position: absolute;
  left: 0;
  margin-left: 20px;
  font-family: $fontNarrow;
  @include sm-block(){
    display: none;
  }
}
.row-without-with{
  background: $puroure;
  margin-top: 15px;
  @include sm-block(){
    background: none;
    margin-top: 5px;
  }
}
ul{
  color: #E6D5DC;
  @include sm-block(){
    color: $puroure;
    display: flex;
    overflow-x: scroll;
    font-weight: bold;
  }
  >li{
    //display: inline-block;
    display: inline-flex;
    align-items: center;
    padding: 15px 5px;
    text-transform: uppercase;
    white-space: nowrap;
    span{
      font-size: 10px;
      display: inline-block;
      transform: rotate(180deg) translateY(20%);
    }
    @include sm-block(){
      padding: 5px;
      font-size: 0.9em;
    }
  }
}
.dropdown_menu_container{
  background: $puroure;
  color: #E6D5DC;
  padding: 0 20px;
  position: absolute;
  top: 100%;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  transition: max-height 0.4s cubic-bezier(0.65, 0.13, 0.17, 0.9), padding 0.4s cubic-bezier(0.65, 0.13, 0.17, 0.9);
  max-height: 0;
  overflow: hidden;
  @include sm-block(){
    display: none;
  }
  &.active{
    max-height: 600px;
    padding: 10px 20px;
  }
  .col{
    @include size(2);
  }
  a, p, span:not(.icon){
    display: block;
    position: relative;
  }
  .icon{
    font-size: 8px;
    position: relative;
    bottom: 3px;
    transform: rotate(0deg);
    display: inline-block;
    transition: all 0.3s linear;
  }
  .drop_down{
    margin-left: 20px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.4s cubic-bezier(0.65, 0.13, 0.17, 0.9), padding 0.4s cubic-bezier(0.65, 0.13, 0.17, 0.9);
    & > *:before {
      content: "- ";
    }
  }
  .drop{
    .icon{
      transform: rotate(90deg);
    }
    .drop_down{
      max-height: 200px;
    }
  }
}
.dropTopMenu{
  position: absolute;
  top: 100%;
  z-index: 2;
  padding: 0 30px;
  background: $puroure;
  color: #E6D5DC;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  //min-width: 50%;
  overflow: hidden;
  border-width: 0;
  transition: max-height 0.4s cubic-bezier(0.65, 0.13, 0.17, 0.9), padding 0.4s cubic-bezier(0.65, 0.13, 0.17, 0.9), border-width 0.4s cubic-bezier(0.65, 0.13, 0.17, 0.9);
  max-height: 0;
  &.active{
    max-height: 600px;
    padding: 10px 30px;
    @include sm-block(){
      padding: 5px;
    }
  }
  @include sm-block(){
    flex-direction: column;
    left: 20px;
    color: #222;
    padding: 0 5px;
    background: #fff;
  }
  .col{
    margin: 0 30px;
    @include sm-block(){
      margin: 0;
    }
  }
  a{
    display: block;
    padding: 5px;
    text-align: left;
    @include sm-block(){
      padding: 0;
      text-transform: uppercase;
      &:before{
        content: '- ';
      }
    }
    &:hover{
      color: #E17B40;
    }
  }
}
#mobile_bottom_menu{
  display: none;
  background: $puroure;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  @include sm-block(){
    display: flex;

  }
  #menu{
    display: block;
    position: relative;
    margin-left: 0px;
  }
  .dropdown_menu_container{
    position: fixed;
    top: auto;
    bottom: 35px;
    left: 20px;
    width: auto;
    //overflow-y: visible;
    &.active{
      display: block;
    }
    .col {
      //@include size(12);
      width: 100%;
    }
    .drop_down{
      //position: fixed;
      //transform: translateX(100%);
      //margin: 0;
      //visibility: hidden;
    }
    .drop{
      .icon{
        transform: rotate(180deg);
      }
    }

  }
  a{
    display: block;
    svg{
      display: block;
      width: 33px;
      height: 33px;
      .st0, .st10, .cls-1 {
        fill: #fff;
      }
    }
  }
  .arrow_down{
    transform: rotate(90deg);
  }
  .center_menu{
    color: #fff;
    span{
      margin-left: 5px;
    }
    ul.drop_down_center{
      flex-direction: column;
      position: absolute;
      bottom: 100%;
      background: $puroure;
      color: #fff;
      overflow: visible;
      display: none;
      &.active{
        display: flex;
      }
      li{
        font-size: 0.8em;
        font-weight: normal;
        text-transform: capitalize;
        .icon{
          transform: rotate(90deg);
        }
        ul{
          bottom: 0;
          position: absolute;
          left: 100%;
          visibility: visible;;
          font-size: 1.2em;
          display: none;
          &.active{
            display: flex;
          }
          li {
            font-size: 1em;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
.right{
  a.langSelection{
    @include sm-block(){
      font-size: 16px;
    }

  }
}
ul.langList{
  position: absolute;
  top: 60%;
  left: -10px;
  background: #fff;
  color: #000;
  padding: 0px 10px;
  z-index: 5;
  transition: max-height 0.4s cubic-bezier(0.65, 0.13, 0.17, 0.9), padding 0.4s cubic-bezier(0.65, 0.13, 0.17, 0.9);
  max-height: 0;
  overflow: hidden;
  @include sm-block(){
    display: block;
    top: 65%;
  }
  &.active{
    max-height: 70px;;
    padding: 7px 10px;
  }
  li{
    display: block;
    margin: 5% 0;
    padding: 5% 0;
    cursor: pointer;
  }
}