#modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal_block{
    margin: auto;
    position: relative;
  }
  .modal_close{
    background: #ff4d48;
    color: #ffff;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 10px;
    cursor: pointer;
  }
}
.page_block{
  margin: 50px auto;
}