.notifications{
  top: calc( 50% - 100px);
  left: calc( 50% - 150px);
}
.vue-notification {
  font-size: 16px !important;
  border-left: none!important;

  .notification-title {
    margin: 7px 0;
    font-size: 1.2em;
  }
  .notification-content{
    font-size: 16px;
  }
  &.warn {
    background: #ffb648;
  }
  &.error {
    background: #E54D42;
  }
  &.success {
    background: #68CD86;
  }
}