#Page{
  padding: 140px 20px 20px 20px;
  background: rgba(255,255,255,0.5);
  margin-bottom: 10px;
  @include sm-block(){
    padding-top: 10px;
  }
  h3.title{
    font-size:35px;
    color:$puroure;
    font-weight: bold;
    margin-bottom: 25px;
    @include sm-block(){
      font-size: 19px;
    }
  }
  .content{
    letter-spacing: 0.5px;
    line-height: 1.5;
    margin: 15px auto;
  }
  .img{
    display: block;
    justify-content: center;
    margin:20px 0;
  }
  .ro{
    display: flex;
    .social-share{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 2%;
      flex-basis: 20%;
      @include flex-basis-sm(35%);
      a{
        width: 20px;
        height: 20px;
        display: block;
        //margin-right: 10%;
        &:hover svg{
          .cls-1, .cls-2 {
            fill: $govno;
          }
        }
      }
    }
    .counts{
      display: flex;
      width: 30%;
      margin-right: 2%;
      justify-content: space-between;
      @include sm-block(){
        width: 49%;
      }
      svg{
        width: 20px;
        height: 20px;
        margin-right: 6px;
      }
      div{
        display: flex;
        align-items: center;
        //margin-right: 25px;
      }
    }
  }
  .hashTag{
    color: $blue;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}