#RegBisnes{
  @include size(6);
  @include size-sm(12);
  margin: 15px auto 0 auto;
  font-family: $fontNarrow;
  background: #fff;
  padding: 20px;
  label, input:not(#pac-input, [type='checkbox']), select, option{
    display: block;
    width: 100%;
  }
  label{
    margin-bottom: 20px;
  }
  input, select, option{
    margin: 5px 0;
    border: 1px solid #000;
    box-shadow: none;
  }
  label.checkbox {
    margin-bottom: 1px;
    padding-left: 15px;
    > input[type='checkbox'] {
      display: inline;
      width: auto;
    }
  }
  .checkbox_block{
    border: 1px solid #000;
    height: 100px;
    overflow-y: auto;
    margin: 5px 0;
  }
  .fr-box.fr-basic .fr-element{
    height: 500px;
    @include sm-block(){
      height: 350px;
    }
  }
  a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
    display: none!important;
  }
  .loc-pic{
    width: 100%;
    height: 500px;
    @include sm-block(){
      height: 350px;
    }
  }
  .button{
    @include buttonStyle(){
      padding: 10px 20px;
    }
  }
}