#rightBlock{
  @include size(4);
  @include sm-w-100();
  padding-bottom: 20px;
  .interestingNow{
    margin-top:25px;
    padding:0 20px 30px 20px;
    background:#fff;
    @include sm-block(){
      display: none;
    }
    .titl{
      transform:translateY(-50%);
      font-size:10px;
      display: flex;
      align-items: center;
      img{
        margin-right: 5px;
      }
    }
    .title{
      color: #3A3A3A;

    }
    .name{
      color: #9D9C9C;
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.7px;
      margin-right: 5px;
    }
  }
  .hashTagsPopular{
    margin-top:25px;
    padding:30px 20px;
    background:#fff;
    @include sm-block(){
      display: none;
    }
    .titl{
      margin-bottom:10px;
      font-size:16px;
      font-weight: bold;
    }
    .hashTag{
      font-size:15px;
      font-weight: bold;
      margin:5% 10% 5% 0;
    }
    .block{
      display:flex;
      flex-wrap: wrap;
      juctify-content:flex-start;
    }
  }
  .sendMaterial{
    margin:25px 0;
    background:#5f92c7;
    display:flex;
    align-items: center;
    padding-bottom:15px;
    cursor: pointer;
    @include sm-block(){
      display: none;
    }
    img{
      filter:invert(100%);

    }
    span{
      font-size:25px;
      color:#fff;
    }
  }
  .podpiska{
    border: 10px solid $puroure;
    font-size: 25px;
    padding: 45px 30px;
    background:#fff;
    background-image:url('/img/mail.png');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 2%;
    @include sm-block(){
      display: none;
      padding: 15px 30px;
      border: 2px solid $puroure;
      background-size: 20%;
      margin-bottom: 10px;
    }
    .ro{
      display: flex;
      margin-top:130px;
      @include sm-block(){
        width: 70%;
        margin: 40px auto 0 auto;

      }
    }
    input, button{
      font-size: 20px;
      border: none;
      padding: 15px 10px;
      @include sm-block(){
        padding: 5px 10px;
        font-size: 16px;
      }
    }
    button{
      background:$puroure;
      color: #fff;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
      @include sm-block() {
        background: #D1854E;
      }
    }
    input{
      background: #f2f2f2;
      width: 100%;
    }
  }
  .card{
    font-family: $fontArial;
    box-shadow: none;
    margin-bottom: 10px;
    .block{
      width:100%;
      padding: 5px;
      .title{
        width: 100%;
        font-weight: normal;
        font-size: 16px;
      }
      .buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 2%;
        .counts{
          display: flex;

          justify-content: space-around;
          font-size: 12px;
          width:60%;
          svg{
            width: 20px;
            height: 20px;
            margin-right: 6px;
          }
          div{
            display: flex;
            align-items: center;
            //margin-right: 25px;
          }
        }
      }
    }
  }
  .nowInteresting{
    background: #fff;
    color: #B0AFAF;
    padding: 20px 15px;
    margin-top: 25px;
    @include sm-block(){
      display: none;
    }

    h3.title{
      text-transform: uppercase;
      margin-bottom: 15px;
      letter-spacing: 1px;
    }
    .card{

      position: relative;
      padding: 20px 20px 13px 20px;
      margin: 0;
      border: none;
      &:nth-child(even){
        border: 6px solid #F7F8F9;
        &::after{
          content: '';
          display: block;
          border-top: 40px solid  #F7F8F9;
          border-right: 30px solid  transparent;
          position: absolute;
          top: 100%;
          left: -6px;
          width: 0;
          height: 0;
          opacity: 1;
          z-index: 1;
        }
        &::before{
          content: '';
          display: block;
          border-top: 23px solid #fff;
          border-right: 16px solid transparent;
          position: absolute;
          top: 100%;
          left: 0;
          width: 0;
          height: 0;
          opacity: 1;
          z-index: 2;
        }
        &:last-child{
          margin-bottom: 20px;
        }
      }

      .text{
        margin-bottom: 20px;
      }
      .num{
        margin-right: auto;
        margin-left: 25px;
        background: #F7F8F9;
        display: block;
        padding: 7px;
        position: relative;
        font-weight: 700;
        color: #90989C;
        &::before{
          content: '';
          display: block;
          border-right: 10px solid #F7F8F9;
          border-top: 13px solid transparent;
          border-bottom: 13px solid transparent;
          position: absolute;
          top: 0;
          right: 100%;
          width: 0;
          height: 0;
          opacity: 1;
          z-index: 2;
        }
      }
    }
    .card-row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }
}