.v-autocomplete{

}
.v-autocomplete-input-group{

}
.v-autocomplete-input{

}
.v-autocomplete-list{
  width: 100%;
  background: #fff;
  color: #7E7E7E;
}
.v-autocomplete-list-item{

}
.v-autocomplete-item-active{

}

.blue {
  background: #5D8FC3;
  color: #7E7E7E;
  font-weight: bold;
  font-size: 18px;
  input, select{
    width: 100%;
    color: #7E7E7E;
    font-weight: bold;
    padding: 10px;
    border: none;
  }
  .sm-col{
    @include flex-direction-sm(column);
    @include align-items-sm(center);
    @include sm-block(){
      padding-bottom: 20px;
    }
  }
  .v-autocomplete-input-group, .v-autocomplete-input-group input{
    height: 100%;
  }
  .v-autocomplete-list{
    z-index: 999;
  }
  .r{
    display: flex;
    @include size(8);
    @include size-sm(12);
    @include align-items-sm(center);
    margin: 20px 0;
    @include flex-direction-sm(column);
    & > *{
      width: 33%;
      @include size-sm(10);
      color: #7E7E7E;
      @include sm-block(){
        margin: 2%;
      }
      &:first-child input{
        border-radius: 10px 0 0 10px;
        padding-left: 45px;
        @include sm-block(){
          border-radius: 0px;
        }

      }
      &:nth-child(2){
        border-left: 1px solid #7E7E7E;
        border-right: 1px solid #7E7E7E;
        @include sm-block(){
          border-radius: 0px;
        }
      }
      &:last-child{
        border-radius: 0 10px 10px 0;
        overflow: hidden;
        @include sm-block(){
          border-radius: 0px;
        }
      }

    }

  }
  button{
    margin: auto;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background: #fff;
  }
}