#servises{

  .vue-map-container {
    height: 65vh;
    width: 100%;
    @include sm-block(){
      height: 40vh;
    }
  }
  .list-servises{
    flex-direction: column;
    .servise-item{
      display: flex;
      margin: 5px 0;
      background: #fff;
      padding: 5px;
      .img{
        @include size(2);
        cursor: pointer;
      }
      .block{
        @include size(10);
        .title{
          font-size: 20px;
          cursor: pointer;
        }
        .description{
          font-size: 17px;
          cursor: pointer;
        }
      }
    }
  }
  .v-autocomplete-input-group{
    &:before{
      content: "\f304";
      font-family: 'Font Awesome 5 Pro';
      position: absolute;
      top: 10px;
      left: 20px;
      color: #919191;
      z-index: 1;
    }
  }

  .opisanie{
    @include wrapper();
    @include size(10);
    @include size-sm(12);
    margin: 50px auto;
    .title{
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .text{
      font-size: 16px;
    }
    .block_categories{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 40px;
      &:last-child:not(:nth-child(3n)){
        &:after{
          content: ' ';
          margin-right: auto;

        }
      }
      .category{
        @include size(4);
        @include size-sm(12);
        @include flex-direction-sm(column);
        text-align: left;
        display: flex;
        margin-bottom: 40px;
        .img{
          @include size(2.3);
          @include sm-w-100();
          @include sm-block(){
            text-align: center;
          }
          color: $puroure;
          font-size: 50px;
        }
        .title{
          text-align: left;
          font-size: 22px;
          @include sm-block(){
            text-align: center;
          }
        }
      }
    }
  }
  .bottom{
    .s{
      width: 70%;
      @include sm-w-100();
    }
    .text{
      margin-bottom: 10px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
  }
}