#SuggestPage{
  @include flex-direction-sm(column);
  @include align-items-sm(center);
  h1{
    color: $blue;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
  }
  label, input{
    display: block;
    width: 100%;
  }
  label p, .bold{
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }
  select{
    display: block;
    width: 50%;
  }
  [type="file"]{
    display: none;
  }
  .left{
    @include size(8);
    @include size-sm(12);
    padding-top: 15px;
    @include sm-block(){
      margin-bottom: 10px;
    }
  }
  .btn_upload, .upload_preview{
    width: 200px;
    height: 200px;
    cursor: pointer;
    fill: $puroure
  }
  .fr-element{
    height: 300px;
  }
  .button{
    @include buttonStyle(){
      padding: 10px 20px;
    }
  }
  .inline{
    display: inline;
  }
  .captcha{
    margin: 10px 0;
  }
}