#testCategory{
  .jc-sb{
    flex-wrap: wrap;
    display: flex;
    width: 100%;
  }
  .row{
    margin: 15px auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .testCategory{
    @include size(4);
    text-align: center;
    padding: 100px 0;
    font-size: 35px;
    font-weight: bold;
    background: #8c506f;
    margin: 20px 0;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.4);
    cursor: pointer;
    .title{
      height: 3em;
      background: rgba(0,0,0,0.3);
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:after{
      content: '';
      display: block;
      margin-right: auto;
    }
  }
}
#testOne {
  .jc-sb {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
  }
  .rezult{
    @include size(8);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    &Text{
      font-size: 30px;
    }
  }
  .test {
    @include size(8);
    padding: 10px;
    background: #fff;
    margin-top: 7px;
    h4.title {
      font-size: 40px;
      color: $puroure;
      //text-align: center;
      font-weight: bold;
      margin: 10px 0 35px 0;
    }
    .question {
      font-size: 25px;
      font-weight: bold;
      color: #5E5E5E;
      margin: 10px 0 5px 0;
    }
    .count_questions {
      color: $blue;
      font-size: 20px;
      text-align: right;
      margin: 5px 15px 10px 0;
    }
    .answerBlock {
      box-shadow: 0 0 5px 0 #5E5E5E;
      @include size(12);
      margin: 0 auto;
      .answer {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        border-bottom: 1px solid #ECECEC;
        &.selected {
          color: #9FB85A;
          background: #F7F7F7;
        }
        .bukva {
          text-align: center;
          font-size: 35px;
          text-transform: uppercase;
          width: 55px;
          height: 55px;
          border-radius: 50%;
          border: 1px solid #5E5E5E;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          p {
            margin: auto;
          }
        }
        .ansver_text {
          font-size: 27px;
        }
      }
    }
    .r {
      display: flex;
      justify-content: flex-end;
    }
    button {
      @include buttonStyle() {
        padding: 10px 20px;
        display: block;
        font-size: 20px;
        margin: 20px 15px 20px 0;
      }
    }
  }
  .testInfo {
    @include size(4);
    background: #2B4056;
    .progressbar {
      background: #1E2D3D;
      height: 10px;
      border-bottom: 1px solid #BEBDBD;
      &_line {
        background: #9FB85A;
        height: 100%;
        transition: all 1s ease-in-out;
      }
    }
    .textBlock {
      padding: 70px 0;
      text-align: center;
      background: #1E2D3D;
      color: #9FB85A;
      .bigText{
        font-size: 80px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .smallText{
        text-transform: uppercase;
        font-size: 30px;
      }
    }

  }
}