.top{
  text-align: center;
  padding: 15px;
  background: #F7FBFF;
  background-image: url("/img/category.top.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
  h1{
    font-size: 55px;
    margin: 25px;
    color: #5F92C7;
    @include sm-block(){
      font-size: 25px;
      margin: 0px;
    }
  }
  .breadcrumbs{
    font-size: 16px;
    color: #9BBEE3;
    @include sm-block(){
      display: none;
    }
  }
}