
//Fonfs
$fontArial: Arial;
$fontNarrow: Narrow;

//main colors
$puroure: #8c506f;
$govno: #ba7c48;
$blue: #7090c4;
$button_color: #9fb85a;
$button_hover_color: #fff;
$number_color: #a5b660;
$gray: #eee;
// Body
$body-bg: #fff;

//header
$header-margin-top: 50px;
$header-font-size: 18px;
$header-text-color: #222222;




@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}
@mixin buttonStyle {
  color: #fff;
  background: $button_color;
  border: 1px solid $button_color;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  @content;
  &:hover{
    background: #fff;
    color: $button_color;
  }
}
.row{
  @include wrapper();
  display: flex;
  position: relative;
}
.jc-sb{
  justify-content: space-between;
}
.jc-sa{
  justify-content: space-around;
}
.jc-c{
  justify-content: center;
}
.jc-fs{
  justify-content: flex-start;
}
.pc{
  display: block;
  @include sm-block(){
    display: none;
  }
}
.sm{
  display: none;
  @include sm-block(){
    display: block;
  }
}
input, select{
  border: none;
  padding: 10px 20px 7px 20px;
  width: 65%;
  background-color: #fff;
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}
@mixin sm-w-100{
  @include sm-block(){
    width: 100%;
  }
}