.seo_hidden{
  display: none!important;
}
@import "~normalize.css/normalize.css";
@include reset();
*{
  box-sizing: border-box;
  outline: none;
}
a{
  text-decoration: none;
  color: inherit;
}
img{
  display: block;
}
#app{
  .ql-snow .ql-tooltip input[type=text]{
    width: auto;
  }
}