<template>
    <div id="app" @touchstart="touchstart" @click="touchstart">
        <notifications group="system" position="'left top'" />
        <vue-topprogress ref="topProgress" :color="color"></vue-topprogress>
        <AdminRow v-if="isAdmin" :list="dataResponse.adminPanelMenu"></AdminRow>
        <HeaderComponent v-if="dataResponse" :dataResponse="dataResponse"
                         :user="user"></HeaderComponent>
        <!--<MainPageComponent v-if="state=='main'"
            :dataResponse="dataResponse"></MainPageComponent>
        <ListPage v-if="state=='ContentAll'"
                  :dataResponse="dataResponse"></ListPage>
        <Page v-if="state=='Page'"
                  :dataResponse="dataResponse"></Page>
        <Categories v-if="state=='Category'"
                    :dataResponse="dataResponse"></Categories>
        <CategoryVideo v-if="state=='videolist'"
                       :dataResponse="dataResponse"></CategoryVideo>
        <PageVideo v-if="state=='video'"
                   :dataResponse="dataResponse"></PageVideo>-->

        <component v-bind:is="vueViewComponent" :dataResponse="dataResponse"></component>
        <transition name="fade">
            <component v-bind:is="systemComponent" :dataResponse="dataResponse"></component>
        </transition>
        <FooterComponent  v-if="dataResponse" :dataResponse="dataResponse"></FooterComponent>
    </div>
</template>

<script>
    let scrollToElement = require('scroll-to-element');
    export default {
        name: 'app',
        data() {
            return {
                state: '',
                dataResponse: '',
                color: '#ce7d42',
                user: '',
                systemComponent: '',
            }
        },
        computed: {
            vueViewComponent() {
                switch (this.state) {
                    case 'main':
                        return 'MainPageComponent';
                    case 'ContentAll':
                        return 'ListPage';
                    case 'Page':
                        return 'Page';
                    case 'Category':
                        return 'Categories';
                    case 'CategoryVideo':
                        return 'CategoryVideo';
                    case 'videolist':
                        return 'CategoryVideo';
                    case 'video':
                        return 'PageVideo';
                    case 'presentationlist':
                        return 'CategoryPresentation';
                    case 'presentation':
                        return 'PagePresentation';
                    case 'fileslist':
                        return 'CategoryFiles';
                    case 'aboutUs':
                        return 'AboutUs';
                    case 'contactUs':
                        return 'ContactUs';
                    case 'RegBisnes':
                        return 'RegBisnes';
                    case 'Map':
                        return 'Servives';
                    case 'SuggestPage':
                        return 'SuggestPage';
                    case 'BissinesPage':
                        return 'BissinesPage';
                    case 'Calendar':
                        return 'Calendar';
                    case 'CabinetsCategory':
                        return 'CabinetsCategory';
                    case 'CabinetsOneCategory':
                        return 'CabinetsOneCategory';
                    case 'CabinetForm':
                        return 'CabinetForm';
                    case 'HelpDesk':
                        return 'HelpDesk';
                    case 'HelpDeskOne':
                        return 'HelpDeskOne';
                    case 'HelpDeskUser':
                        return 'HelpDeskUser';
                    case 'FAQPageAll':
                        return 'FAQPageAll';
                    case 'FaqPage':
                        return 'FaqPage';
                    case 'FaqPageCabinetsCategory':
                        return 'FaqPageCabinetsCategory';
                    case 'FaqPageCabinet':
                        return 'FaqPageCabinet';
                    case 'TestCategory':
                        return 'TestCategory';
                    case 'TestOne':
                        return 'TestOne';
                    case 'showResetForm':
                        return 'showResetForm';
                    case 'CalendarPage':
                        return 'CalendarPage';
                }
            },
            isAdmin() {
                if (this.user && this.user.roles.indexOf('admin')) {
                    return true;
                }
                return false;
            }
        },
        mounted: function () {
            this.$refs.topProgress.start();
            window.bus.$on('refresh', this.refresh);
            window.bus.$on('haveError', () => {
                if(document.getSelection().toString().length != 0) {
                    this.systemComponent = 'haveError'
                }
            });
            window.bus.$on('goTo', this.goTo);
            window.bus.$on('regUser', this.regUser);
            window.bus.$on('loginUser', this.loginUser);
            window.bus.$on('toService', this.toService);
            window.bus.$on('toLoginForm', () => this.systemComponent = 'Login');
            window.bus.$on('toPersonalArea', () => this.systemComponent = 'PersonalArea');
            window.bus.$on('logout', this.logout);
            window.bus.$on('toRegistrationForm', () => this.systemComponent = 'Registration');
            window.bus.$on('toForgotPasswordForm', () => this.systemComponent = 'ForgotPassword');
            window.bus.$on('closeAuthForm', () => this.systemComponent = '');
            window.bus.$on('showResetForm', this.showResetForm);
            window.bus.$on('notify', (type, title, text) => {
                this.notify(type, title, text);
            });
            this.refresh();
            window.bus.$on('toHelpDeskUser', this.toHelpDeskUser);
            window.addEventListener('popstate', (e) => {
                e.preventDefault();
                this.$refs.topProgress.start();
                this.refresh();
            }, false);
        },
        methods: {
            refresh() {
                axios.post(window.location.href)
                    .then(response =>{
                        if (response.data.ErrorCode == 404){
                            this.goTo('/404');
                            throw response;
                        }
                        return response;
                    })
                    .then(response => {
                        this.systemComponent = '';
                        bus.lang = response.data.langString;
                        this.dataResponse = response.data;
                        bus.setTitle(response.data.Title);
                        this.user = response.data.user;
                        this.state = response.data.PageView;
                        this.$refs.topProgress.done();
                        /*scrollToElement('body', {
                            offset: -50,
                            ease: 'linear',
                        });*/
                        //this.refreshComentCounts();
                        if (response.data.cmd) {
                            bus.$emit(response.data.cmd, response.data)
                        }
                        bus.$emit('newPage');
                    })
                    .catch(reason => {
                        console.log(reason);
                        this.$refs.topProgress.fail();
                    })
            },
            goTo(url) {
                this.$refs.topProgress.start();

                axios.post(url)
                    .then(response =>{
                        if (response.data.ErrorCode == 404){
                            this.goTo('/404');
                            throw response;
                        }
                        return response;
                    })
                    .then(response => {
                        this.systemComponent = '';
                        this.changeAdressURL(url);
                        bus.lang = response.data.langString;
                        scrollToElement('body', {
                            offset: -50,
                            ease: 'linear',
                        });
                        this.dataResponse = response.data;
                        this.user = response.data.user;
                        bus.setTitle(response.data.Title);
                        this.state = response.data.PageView;
                        this.$refs.topProgress.done();
                        bus.$emit('newPage');
                        if (response.data.cmd) {
                            bus.$emit(response.data.cmd, response.data)
                        }
                    })
                    .catch(reason => {
                        console.log(reason);
                        this.$refs.topProgress.fail();
                    })
                return false;
            },
            changeAdressURL(url) {
                try {
                    history.pushState(null, null, url);
                    return;
                } catch (e) {
                }
                scrollToElement('body', {
                    offset: 0,
                    ease: 'linear',
                });
            },
            loginUser(user) {
                this.user = user;
                this.systemComponent = '';
            },
            logout() {
                axios.post('/logout')
                    .then(response => {
                        if (response.data.status == 'ok') {
                            this.refresh();
                        }
                    })
                    .catch(reason => {
                        console.log(reason);
                    })
            },
            notify(type, title, text) {
                this.$notify({
                    group: 'system',
                    type: type,
                    title: title,
                    text: text,
                });
            },
            regUser(user) {
                this.loginUser(user);
                this.notify('success', 'Здраствуйте ' + user.name + '!', 'Спасибо что присоединились к нам!');
            },
            toService(dataResponse, item) {
                scrollToElement('body', {
                    offset: 0,
                    ease: 'linear',
                });
                this.changeAdressURL('/servises');
                this.dataResponse = dataResponse;
                this.state = 'Map';
                setTimeout(() => {
                    bus.$emit('inServise', item)
                }, 5);
            },
            toHelpDeskUser() {
                this.changeAdressURL('/help');
                this.systemComponent = '';
                this.state = 'HelpDeskUser'
            },
            touchstart() {
                bus.$emit('touchstart');
            },
            showResetForm(data) {
                this.state = 'showResetForm';
            }
        }
    }
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: all .5s ease-in-out;
    }
    .fade-enter, .fade-leave-to {
        transform: translateY(-20%);
        opacity: 0;
    }
</style>