<template>
  <div id="RegBisnes">
    <label>Катeрогія
      <select v-model="category">
        <option v-for="cat in categorydata" :value="cat.id">{{cat.title}}</option>
      </select>
    </label>
    <template v-if="category">
      <template v-for="formElement in categorydata[category].data">
        <label v-if="formElement.element=='email'">Email для звязку{{formElement.required?'*':''}}
          <input type="text" v-model="email">
        </label>
        <label  v-if="formElement.element=='nameOrganization'">Назва організації{{formElement.required?'*':''}}
          <input type="text"  v-model="nameOrganization">
        </label>
        <template v-if="formElement.element=='address'">
          <label>Регіон {{formElement.required?'*':''}}
            <select  v-model="region">
              <option v-for="regionOne in regionsdata"
                      :key="regionOne.id"
                      :value="regionOne.id">{{regionOne.name}}</option>
            </select>
          </label>
          <label>Місто{{formElement.required?'*':''}}
            <select  v-model="city">
              <option v-for="cityOne in citysdata"
                      v-if="(region && cityOne.db_rootid==region) || !region"
                      :key="cityOne.id"
                      :value="cityOne.id">{{cityOne.name}}</option>
            </select>
          </label>
          <label>Адреса{{formElement.required?'*':''}}
            <input type="text" v-model="l">
          </label>
          <location-picker
                  class="loc-pic"
                  style=""
                  v-model="location"
                  :options="options">
          </location-picker>
        </template>
        <label v-if="formElement.element=='vlasnost'">Форма властості{{formElement.required?'*':''}}
          <select  v-model="vlasnost">
            <option value="1">Державна</option>
            <option value="2">Приватна</option>
            <option value="3">Інше</option>
          </select>
        </label>

        <div v-if="formElement.element.indexOf('type')>-1">{{podcategoriidata[formElement.element.substr(4)].title}}{{formElement.required?'*':''}}
          <template v-if="!podcategoriidata[formElement.element.substr(4)].multiselected">
            <select  v-model="type[formElement.element.substr(4)]">
              <option v-for="(value, key) in podcategoriidata[formElement.element.substr(4)].data" :value="key" >{{value.title}}</option>
            </select>
          </template>
          <template v-else>
            <div class="checkbox_block">
              <label class="checkbox_label" v-for="(value, key) in podcategoriidata[formElement.element.substr(4)].data" >
                <input type="checkbox" v-model="type[formElement.element.substr(4)]" :value="key">
                {{value.title}}
              </label>
            </div>
          </template>
        </div>
        <template  v-if="formElement.element=='contacts'">
          <label>Телефон{{formElement.required?'*':''}}
            <input type="text" v-model="telefone">
          </label>
          <label>Електронна пошта{{formElement.required?'*':''}}
            <input type="text" v-model="email2">
          </label>
        </template>
        <template  v-if="formElement.element=='site'">
          <label>Сайт{{formElement.required?'*':''}}
            <input type="text" v-model="site">
          </label>
        </template>
        <template  v-if="formElement.element=='social'">
          <label>Twitter{{formElement.required?'*':''}}
            <input type="text"  v-model="twitter">
          </label>
          <label>Facebook{{formElement.required?'*':''}}
            <input type="text"  v-model="facebook">
          </label>
          <label>Instagram{{formElement.required?'*':''}}
            <input type="text"  v-model="instagram">
          </label>
        </template>
        <template  v-if="formElement.element=='photo'">
          <label>Логотип{{formElement.required?'*':''}}
            <input type="file" v-on:change="f1($event)">
          </label>
          <label>Фото{{formElement.required?'*':''}}
            <input type="file"  multiple v-on:change="f2($event)">
          </label>
        </template>
        <label v-if="formElement.element=='fio'">ФІО( хто заповнив анкету) -не буде зображено на карті{{formElement.required?'*':''}}
          <input type="text" v-model="fio">
        </label>
        <label v-if="formElement.element=='kod'">Код ЄДРПОУ (не буде зображено на карті){{formElement.required?'*':''}}
          <input type="text" v-model="kod">
        </label>
        <label v-if="formElement.element=='description'">Опис{{formElement.required?'*':''}}
          <input type="text" v-model="description">
        </label>
        <label v-if="formElement.element=='fitback'">Відгуки{{formElement.required?'*':''}}
          <input type="text" v-model="fitback">
        </label>
      </template>
    </template>
      <input type="hidden" name="form" :value="requestBody">
  </div>
</template>

<script>

export default {
  name: 'bisinessedit',
    props:['model', 'regionsdata', 'citysdata', 'categorydata', 'podcategoriidata'],
    data(){
        return{

            category:'',

            email:'',
            nameOrganization:'',
            region:'',
            city:'',
            l:'',
            location: {
                lat:48.5, lng:33
            },
            vlasnost:'',
            type : [[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]],

            telefone:'',
            email2:'',
            site : '',
            facebook:"",
            twitter:'',
            instagram:'',
            file1:'',
            file2:[],
            fio : '',
            kod:'',
            description:'',
            fitback : '',
            options: { // is not required
                map: {center:{lat:48.5, lng:33}, zoom:5.5},
                marker: { /** marker options **/ },
                autocomplete: { /** autocomplete options **/ }
            },
            servises : '',

        }
    },
    mounted(){
      setTimeout(()=>{
          if(this.model){
              let _this = this;
              _.forIn(this.model, (value, key)=>{
                  _this[key] = value
              });
          }
      },1000);
    },
    computed:{
        requestBody(){
            return JSON.stringify({
                email:this.email,
                nameOrganization:this.nameOrganization,
                region:this.region,
                city:this.city,
                l:this.l,
                location:this.location,
                vlasnost:this.vlasnost,
                type:this.type,
                telefone:this.telefone,
                email2:this.email2,
                site:this.site,
                facebook:this.facebook,
                twitter:this.twitter,
                instagram:this.instagram,
                file1:this.file1,
                file2:this.file2,
                fio : this.fio,
                kod:this.kod,
                description:this.description,
                fitback:this.fitback,

                category:this.category,

            })
        }
    },
    methods:{
        f1(event) {
            let input = event.target.files;
            var file = input[input.length-1];
            var reader = new FileReader();
            reader.onloadend = () => {
                this.file1=reader.result;
            };
            reader.readAsDataURL(file);
        },
        f2(event) {
            let input = event.target.files;
            this.file2=[];
            _.forEach(input, (f, index)=>{
                var reader = new FileReader();
                reader.onloadend = () => {
                    this.file2.push(reader.result);
                };
                reader.readAsDataURL(f);
            })
        },
    }
}
</script>

<style lang="scss" scoped>
    @font-face {
        font-family: Narrow;
        src: url(/fonts/ArialNarrow.ttf)format('truetype');
        src: url('/fonts/ArialNarrow.eot');
        src: url('/fonts/ArialNarrow.eot?iefix') format('eot'),
        url('/fonts/ArialNarrow.woff') format('woff'),
        url('/fonts/ArialNarrow.svg#webfont') format('svg');
    }
    @import "~normalize.css/normalize.css";
  #RegBisnes{
      box-sizing: border-box;
      *{
          box-sizing: border-box;
      }
    margin: 15px auto 0 auto;
    font-family: Narrow;
    background: #fff;
    padding: 20px;
    label, input:not(#pac-input, [type='checkbox']), select, option{
      display: block;
      width: 100%;
    }
    label{
      margin-bottom: 20px;
    }
    input, select, option{
      margin: 5px 0;
      border: 1px solid #000;
      box-shadow: none;
        padding: 5px;
    }
    label.checkbox_label {
      margin-bottom: 1px;
      padding-left: 15px;
      > input[type='checkbox'] {
        display: inline;
        width: auto;
      }
    }
    .checkbox_block{
      border: 1px solid #000;
      height: 100px;
      overflow-y: auto;
      margin: 5px 0;
    }
    .fr-box.fr-basic .fr-element{
      height: 500px;
    }
    .loc-pic{
      width: 100%;
      height: 500px;

    }
  }
</style>
