<template>
    <table class='customElement'>
        <tr>
            <th>Назва поля</th>
            <th>Обовязково</th>
            <th style='width: 130px'>Дії</th>
            </tr>
        <tr v-for='(row, key) in array' :key='row.element'>
            <td>{{row.name}} <input type='hidden' :name='"form[" + key + "][element]"' :value='row.element'></td>
            <td><input type='checkbox' :name='"form[" + key + "][required]"' v-model='row.required'></td>
            <td>
                <button class='btn btn-danger' @click.prevent='del(row,key)'>-</button>
                <button class='btn btn-primary' @click.prevent='up(row,key)'>↑</button>
                <button class='btn btn-primary' @click.prevent='down(row,key)'>↓</button>
                </td>
            </tr>
        <tr>
            <th>
                <select v-model='selectedValue'>
                    <option v-for='(option, key) in options' :value='key'>{{option}}</option>
                    </select></th>
            <th>
                <button style='margin: 1%' class='btn btn-info' @click.prevent='add'>+</button>
                </th>
            <th></th>
        </tr>
    </table>
</template>

<script>
    export default {
        name: "categoryadmin",
        props: ['datajson', 'podcategorii'],
        data () {
            return {
                options:{
                    email  : 'Email',
                    nameOrganization : 'Назва організації',
                    address : 'Адреса',
                    vlasnost : 'Форма властості',
                    contacts : 'Контакти (телефон, електронна пошта)',
                    site : 'Сайт',
                    social : 'Соціальні мережі',
                    photo : 'Фото',
                    fio : 'ФІО( хто заповнив анкету)',
                    description : 'Опис',
                    fitback : 'Відгуки',
                    kod : 'код ЄДРПОУ',
                    servises : 'Послуги',
                },
                selectedValue:'',
                array:[],
            }
        },
        mounted() {
            _.forEach(this.podcategorii,(item)=>{
                this.options['type'+item.id]=item.description;
            });
            if(this.datajson){
                _.forEach(this.datajson,(item)=>{
                    this.array.push({
                        element: item.element,
                        name: this.options[item.element],
                        required: (item.required)?true:false,
                    });
                });
            }
        },
        methods: {
            correctArr(_arr, _param){
                _arr[_param[1]] = _arr.splice(_param[0],1, _arr[_param[1]])[0]
            },
            del(row,key){
                this.array.splice(key, 1);
            },

            up(row,key){

                if(key>0) {
                    this.correctArr(this.array, [key, key-1]);
                }
            },
            down(row,key){
                if(key+1<this.array.length) {
                    this.correctArr(this.array, [key, key+1]);
                }
            },
            add(){
                if(this.selectedValue) {
                    this.array.push({
                        element: this.selectedValue,
                        name: this.options[this.selectedValue],
                        required: false,
                    });
                }
            }
        },
    }
</script>

<style scoped lang="scss">
    .btn{
        margin: 1%
    }
    th{
        text-align: center;
        padding: 10px;
        font-size: 1.3em;
    }
    td{
        &:nth-child(2){
            text-align: center;
        }
    }
</style>