<template>
    <div class="rospisanie">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Початок</th>
                    <th>Кінець</th>
                    <th>Вихідний</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Понеділок</td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.mon.from"></vue-timepicker></td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.mon.to"></vue-timepicker></td>
                    <td><input type="checkbox" v-model="time.mon.weekend"></td>
                </tr>
                <tr>
                    <td>Вівторок</td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.tue.from"></vue-timepicker></td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.tue.to"></vue-timepicker></td>
                    <td><input type="checkbox" v-model="time.tue.weekend"></td>
                </tr>
                <tr>
                    <td>Середа</td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.wed.from"></vue-timepicker></td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.wed.to"></vue-timepicker></td>
                    <td><input type="checkbox" v-model="time.wed.weekend"></td>
                </tr>
                <tr>
                    <td>Четвер</td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.thu.from"></vue-timepicker></td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.thu.to"></vue-timepicker></td>
                    <td><input type="checkbox" v-model="time.thu.weekend"></td>
                </tr>
                <tr>
                    <td>П'ятниця</td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.fri.from"></vue-timepicker></td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.fri.to"></vue-timepicker></td>
                    <td><input type="checkbox" v-model="time.fri.weekend"></td>
                </tr>
                <tr>
                    <td>Субота</td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.sat.from"></vue-timepicker></td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.sat.to"></vue-timepicker></td>
                    <td><input type="checkbox" v-model="time.sat.weekend"></td>
                </tr>
                <tr>
                    <td>Неділя</td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.san.from"></vue-timepicker></td>
                    <td><vue-timepicker format="HH:mm" :minute-interval="5" v-model="time.san.to"></vue-timepicker></td>
                    <td><input type="checkbox" v-model="time.san.weekend"></td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="rospisanie" :value="requestBody">
    </div>
</template>

<script>
    import VueTimepicker from 'vue2-timepicker'
    export default {
        name: "rospisanie",
        components: { VueTimepicker },
        props:['value'],
        data(){
            return {
                time: {
                    mon: {
                        from: {
                            HH: 0,
                            mm: 0
                        }, to: {
                            HH: 0,
                            mm: 0
                        }, weekend: false
                    },
                    tue: {
                        from: {
                            HH: 0,
                            mm: 0
                        }, to: {
                            HH: 0,
                            mm: 0
                        }, weekend: false
                    },
                    wed: {
                        from: {
                            HH: 0,
                            mm: 0
                        }, to: {
                            HH: 0,
                            mm: 0
                        }, weekend: false
                    },
                    thu: {
                        from: {
                            HH: 0,
                            mm: 0
                        }, to: {
                            HH: 0,
                            mm: 0
                        }, weekend: false
                    },
                    fri: {
                        from: {
                            HH: 0,
                            mm: 0
                        }, to: {
                            HH: 0,
                            mm: 0
                        }, weekend: false
                    },
                    sat: {
                        from: {
                            HH: 0,
                            mm: 0
                        }, to: {
                            HH: 0,
                            mm: 0
                        }, weekend: false
                    },
                    san: {
                        from: {
                            HH: 0,
                            mm: 0
                        }, to: {
                            HH: 0,
                            mm: 0
                        }, weekend: false
                    },
                }
            }
        },
        computed: {
            requestBody() {
                return JSON.stringify(this.time)
            }
        },
        created(){
            if(this.value){
                    this.time = this.value;
            }
        }
    }
</script>

<style scoped lang="scss">
    td{
        padding: 4px;
        &:last-child{
            text-align: center;
        }
    }
    th{
        text-align: center;
    }
</style>